<style type="text/css">
  .selectize-control.single {
    margin-top: 15px;
  }
  .uk-modal.uk-modal-dialog-replace .uk-modal-content{
    font-size: 16px !important;
  }
</style>
<div id="page_content" ng-controller="buildingblockCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Building Block</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#modal_header_footer'}" ng-click="addBlock()">
                        <i class="uk-icon-plus"></i>  Add Block
                        </button>
                    </div>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Building</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Building</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.NAME}}</td>
                            <td>{{row.NUMBER}}</td>
                            <td>{{row.BUILDING_NAME}}</td>
                            <td>
                                <a class="ts_remove_row" data-uk-modal="{target:'#modal_header_footer'}" ng-click="editBlock(row)"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a class="ts_remove_row" ng-click="deleteBlock(row.ID, $index)"><i class="md-icon material-icons">&#xE872;</i></a>
                                 <!-- <a class="ts_remove_row" onclick="deleteBlock(row.ID, $index)"><i class="md-icon material-icons">&#xE872;</i></a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="uk-modal" id="modal_header_footer">
      <div class="uk-modal-dialog">
      <button type="button" class="uk-modal-close uk-close"></button>
              <h3 class="uk-modal-title">{{titleCaption}} Block</h3><br>
          <div class="md-card-content">
            <form id="form_validation" name="inputForm" ng-submit="saveBlockData()" novalidate>
                  <div class="uk-form-row parsley-row">
                    <label class="uk-form-label">Block Name<span class="req"> *</span></label>
                    <input type="text" ng-model="block_name" class="md-input" required md-input>
                    <input type="hidden" ng-model="block_id">

                  </div>
                    <div class="uk-form-row">
                      <label>Block Number</label>
                      <input type="text" ng-model="block_no" class="md-input" md-input>
                    </div>
                    <div class="uk-form-row parsley-row">
                        <label class="uk-form-label" ng-show="selectize_buildingId" style="font-size: 12px;color: #727272;">Building<span class="req"> *</span></label>
                        <input type="text" config="selectize_buildingId_config" required options="selectize_buildingId_options" ng-model="selectize_buildingId" selectize/>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-flat md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="clearValidation()">Cancel</button>
                         <button type="submit" class="md-btn md-btn-flat md-btn md-btn-primary md-btn-small" >{{btnStatus}}</button>
                    </div>
            </form>
          </div>
      </div>
    </div>
</div>
