<style type="text/css">
    .selectize-control.single {
      margin-top: 0;
    }
    .uk-width-medium-4-5, .uk-width-medium-8-10 {
        height: 65px;
        width: 80%;
    }
    .uk-modal-dialog {
      height: 405px;
      margin: 18px auto;
      width: 426px;
    }
</style>
<div id="page_content" ng-controller="assignTeacherCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Assign Class Teacher Details</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button  class="md-btn md-btn-primary md-btn-small" ng-click="openModel()" data-uk-modal="{target:'#modal_overflow'}">
                        <i class="uk-icon-plus"></i>  Assign Teacher
                        </button>
                    </div>
                    <thead>
                      <tr>
                        <th style="width: 20%;">Course</th>
                        <th>Batch</th>
                        <th hidden="true">Department</th>
                        <th>Assign Employee</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Course</th>
                        <th>Batch</th>
                        <th hidden="true">Department</th>
                        <th>Assign Employee</th>
                      </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{row.courseName}}</td>
                            <td>{{row.cBatch_name}}</td>
                            <td hidden="true">{{row.departmentName}}</td>
                            <td>{{row.employeeName}}</td>
                            <td class="uk-text-center">
                                <a ng-click="edit_data(row)" data-uk-modal="{target:'#modal_overflow'}"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
      <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog">
          <button type="button" class="uk-modal-close uk-close"></button>
          <h3 class="uk-modal-title">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
            </svg>&nbsp; Assign Class Teacher 
          </h3>
         <!--  <div class="uk-container"> -->
            <div class="md-card-content">
              <form class=""><p></p>
                <div class="uk-form-row">
                  <input type="text" config="selectize_courseName_config" options="selectize_courseName_options" ng-model="selectize_courseName" name="selectize_courseName" selectize/>
                </div>
                <div class="uk-form-row">
                  <input type="text" config="selectize_batchName_config" options="selectize_batchName_options" ng-model="selectize_batchName" name="selectize_batchName" selectize/>
                </div>
                <div class="uk-form-row">
                  <input type="text" config="selectize_deptId_config" options="selectize_deptId_options" ng-model="selectize_deptId" name="selectize_deptId" selectize/>
                </div>
                <div class="uk-form-row">
                  <input type="text" config="selectize_empName_config" options="selectize_empName_options" ng-model="selectize_empName" name="selectize_empName" selectize/>
                </div>
                
                </form>
            </div>
          <!-- </div> -->
          <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-primary md-btn-small uk-modal-close" ng-if="Savebutton">Save</button>
                <button type="button" class="md-btn md-btn-primary md-btn-small uk-modal-close" ng-if="Updatebutton">Close</button>
          </div>
         </div>
      </div>
    </div>

 
</div>
