<style type="text/css">
    .selectize-control.single {
        margin-top: 5px;
    }
    .uk-width-medium-4-5, .uk-width-medium-8-10 {
        height: 65px;
        width: 80%;
    }
</style>
<div id="page_content" ng-controller="courseBatchCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Batches Details</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#modal_overflow'}">
                        <i class="uk-icon-plus"></i>  Add CourseBatch
                        </button>
                    </div>
                    <thead>
                        <!-- <tr>
                        <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#modal_overflow'}">
                         <i class="uk-icon-plus"></i>  Add Course
                        </button>
                        </tr> -->
                        <tr>
                            <th>Name</th>
                            <th>Period From</th>
                            <th>Period To</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Period From</th>
                            <th>Period To</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td class="uk-text-center">
                                <a href="#" class="ts_remove_row" data-uk-modal="{target:'#modal_overflow'}"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-3">
    <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog">
          <button type="button" class="uk-modal-close uk-close"></button>
          <h2 class="heading_a">Add Batches</h2>
          <div class="uk-overflow-container">
           
             <div class="md-card-content">
                <form class="">
                  <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <input type="text" config="selectize_courseId_config" options="selectize_courseId_options" ng-model="selectize_courseId" name="selectize_courseId" selectize/>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>Batch Name</label>
                        <input type="text" ng-model="batch_name" class="md-input" required md-input>
                      </div>
                    </div>
                  </div>
                 
                <div class="uk-width-8-10 uk-width-medium-8-10">
                  <div class="uk-width-1-1">
                    <div class="parsley-row">
                      <label for="wizard_birth_place">Period From</label>
                      <input type="text" name="period_from" id="period_from" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="period_from"/>
                    </div>
                  </div>
                </div>
                <div class="uk-width-8-10 uk-width-medium-8-10">
                  <div class="uk-width-1-1">
                    <div class="parsley-row">
                      <label for="wizard_birth_place">Period To</label>
                      <input type="text" name="period_to" id="period_to" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="period_to"/>
                    </div>
                  </div>
                </div>
                <!-- <div class="uk-width-8-10 uk-width-medium-8-10">
                  <div class="uk-width-1-1">
                    <div class="parsley-row">
                      <label>Information 1</label>
                      <input type="text" ng-model="course_name" class="md-input" required md-input>
                    </div>
                  </div>
                </div>
                <div class="uk-width-8-10 uk-width-medium-8-10">
                  <div class="uk-width-1-1">
                    <div class="parsley-row">
                      <label>Information 2</label>
                      <input type="text" ng-model="course_name" class="md-input" required md-input>
                    </div>
                  </div>
                </div> -->
               <!--  <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <input type="text" config="selectize_clsInchargePid_config" options="selectize_clsInchargePid_options" ng-model="selectize_clsInchargePid" name="selectize_clsInchargePid" selectize/>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <input type="text" config="selectize_feeStructureId_config" options="selectize_feeStructureId_options" ng-model="selectize_attdncType" name="selectize_feeStructureId" selectize/>
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <input type="text" config="selectize_courseSubId_config" options="selectize_courseSubId_options" ng-model="selectize_courseSubId" name="selectize_courseSubId" selectize/>
                      </div>
                    </div>
                  </div> -->
               
                </form>
            </div>
          </div>
          <div class="uk-modal-footer uk-text-right">
              <button type="button" class="md-btn md-btn-flat md-btn md-btn-success md-btn-small uk-modal-close">Save</button>
              <!-- <button type="button" class="md-btn md-btn-flat md-btn md-btn-danger md-btn-small uk-modal-close">Close</button> -->
          </div>
        

        </div>
    </div>
    </div>
</div>
