<style type="text/css">
    .selectize-control.single {
        margin-top: 5px;
    }
    .uk-width-medium-4-5, .uk-width-medium-8-10 {
        height: 65px;
        width: 80%;
    }
</style>
<div id="page_content" ng-controller="subjectCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Subject Details</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#modal_overflow'}">
                        <i class="uk-icon-plus"></i>  Add Subjects
                        </button>
                    </div>
                    <thead>
                        <!-- <tr>
                        <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#modal_overflow'}">
                         <i class="uk-icon-plus"></i>  Add Course
                        </button>
                        </tr> -->
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Subject Type</th>
                            <th>Min Pass</th>
                            <th>Total Hours</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Subject Type</th>
                            <th>Min Pass</th>
                            <th>Total Hours</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td class="uk-text-center">
                                <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-3">
    <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog">
          <button type="button" class="uk-modal-close uk-close"></button>
          <h2 class="heading_a">Add Subjects</h2>
          <div class="uk-overflow-container">
           
             <div class="md-card-content">
                <form class="">
                  <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>Subject Name</label>
                        <input type="text" ng-model="subject_name" class="md-input" required md-input>
                      </div>
                    </div>
                  </div>
                 
                <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>Sub Code</label>
                        <input type="text" ng-model="sub_code" class="md-input" required md-input>
                      </div>
                    </div>
                </div>
                <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <input type="text" config="selectize_subType_config" options="selectize_subType_options" ng-model="selectize_subType" name="selectize_subType" selectize/>
                      </div>
                    </div>
                </div>
                <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>Min Pass</label>
                        <input type="text" ng-model="min_pass" class="md-input" required md-input>
                      </div>
                    </div>
                </div>
                <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>Total Hours</label>
                        <input type="text" ng-model="hours" class="md-input" required md-input>
                      </div>
                    </div>
                </div>
             <!--    <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>information1</label>
                        <input type="text" ng-model="imfo1" class="md-input" required md-input>
                      </div>
                    </div>
                </div>
                <div class="uk-width-8-10 uk-width-medium-8-10">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <label>information2</label>
                        <input type="text" ng-model="info2" class="md-input" required md-input>
                      </div>
                    </div>
                </div> -->
              
              </form>
            </div>
          </div>
          <div class="uk-modal-footer uk-text-center">
              <button type="button" class="md-btn md-btn-flat md-btn md-btn-success md-btn-small uk-modal-close">Save</button>
              <!-- <button type="button" class="md-btn md-btn-flat md-btn md-btn-danger md-btn-small uk-modal-close">Close</button> -->
          </div>
        

        </div>
    </div>
    </div>
</div>
