<style type="text/css">
thead th{
    cursor: pointer;
}
.uk-table tfoot td, .uk-table tfoot th, .uk-table thead tr.indexHeader th{
    border-top-width:0;
    border-bottom-width:0;
}
</style>
    <div id="page_content">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Smart Table</h3>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-overflow-container">
                        <div class="uk-text-right">
                            <a class="md-btn md-btn-primary md-btn-small" ng-click="addUser()"><i class="uk-icon-plus"></i> Add Syllabus</a>
                        </div>
                        <table class="uk-table" st-table="users">
                            <thead class="dt-uikit-header">
                            <tr class="indexHeader">
                                <th colspan="5">
                                    <div class="dt-uikit-header">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-2-3">
                                                <div class="dataTables_length" id="DataTables_Table_3_length">
                                                    <label> 
                                                        <selectize class="dt-selectize selectized uk-width-medium-1-10" ng-required="true" placeholder='Pick some things...' options='selectize_c_options' config="{maxItems: 1}" ng-model="itemsByPage"  name='itemsByPage' required='true'></selectize></label>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <div id="DataTables_Table_3_filter" class="dataTables_filter">
                                                    <div class="md-input-wrapper">
                                                        <input st-search="" class="form-control md-input md-input-processed" placeholder="Search ..." type="search" md-input=""/><span class="md-input-bar "></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   <!--  <div class="uk-grid">
                                        <div class="uk-width-medium-2-3">
                                            <label class="uk-width-medium-1-6">Show</label>
                                            <div id="DataTables_Table_3_filter" class="dataTables_filter uk-width-medium-1-6">
                                                <selectize class="uk-form-width-mini" ng-required="true" placeholder='Pick some things...' options='selectize_c_options' config="{maxItems: 1}" ng-model="itemsByPage"  name='itemsByPage' required='true'></selectize>
                                                
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-3">
                                            <div id="DataTables_Table_3_filter" class="dataTables_filter">
                                                <div class="md-input-wrapper">
                                                    <input st-search="" class="form-control md-input" placeholder="Search ..." type="text"/>
                                                    <span class="md-input-bar "></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="test">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th class="uk-width-1-10 small_col">Id</th>
                                <th class="uk-width-1-10" st-sort="syllabus_name">Syllabus Name</th>
                                <th class="uk-width-1-10" st-sort="Description">Description</th>
                                <th class="uk-width-1-10">Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>
                                        <div class="md-input-wrapper">
                                            <input st-search="syllabus_name" placeholder="search for syllabusname" class="form-control md-input md-input-processed" type="search" md-input=""/><span class="md-input-bar "></span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="md-input-wrapper">
                                            <input st-search="Description" placeholder="search for description" class="form-control md-input md-input-processed" type="search" md-input=""/><span class="md-input-bar "></span>
                                        </div>
                                    </th>
                                    <!-- <th>
                                        <div class="md-input-wrapper">
                                            <input st-search="group" placeholder="search for firstname" class="form-control md-input md-input-processed" type="search" md-input=""/><span class="md-input-bar "></span>
                                        </div>
                                    </th> -->
                                    <th></th>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="itemsByPage"></div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-repeat="user in users">
                              <td>{{$index+1}}</td>
                              <td>
                                <span editable-text="user.syllabus_name" e-name="syllabus_name" e-form="rowform" onbeforesave="checkName($data, user.id)">
                                  {{ user.syllabus_name || 'empty' }}
                                </span>
                              </td>
                             <!--  <td>
                                <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
                                  {{ showStatus(user) }}
                                </span>
                              </td> -->
                              <td>
                                <span editable-text="user.Description" e-name="Description" e-form="rowform" onbeforesave="checkName($data, user.id)">
                                  {{ user.Description || 'empty' }}
                                </span>
                              </td>
                              <td>
                                <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="md-icon material-icons">
                                    &#xE161;
                                    </button>
                                  <a class="ts_remove_row" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><i class="md-icon material-icons">&#xE5CD;</i></a>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <a class="ts_remove_row" ng-click="rowform.$show()"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a class="ts_remove_row" ng-click="removeUser($index)"><i class="md-icon material-icons">&#xE872;</i></a>
                                </div> 
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

         

        </div>
    </div>