<style>
table,th,td{
    border : 1px solid rgb(224,224,224);
    border-collapse: collapse;
    padding: 5px;
}
.uk-modal.uk-modal-dialog-replace .uk-modal-content{
      font-size: 16px !important;
    }
</style>
<div id="page_content"  ng-controller="applyLeaveCtrl as tblData">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Apply Leave
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <div class="uk-text-right">
                    <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_leavecategory'}" ng-click="addleavecategory()"><i class="material-icons">add</i>Apply Leave</button>
                </div>
                <table class="uk-table uk-table-hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Leave Type</th>
                            <th>Total Leave</th>
                            <th>Remaining Leave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in ViewDetas">
                            <td>{{$index+1}}</td>
                            <td>{{row.LEAVE_NAME}}</td>
                            <td>{{row.TOTAL_LEAVE}}</td>
                            <td>{{row.TOTAL_ALLOC_LEAVE-row.TOTAL_LEAVE}}</td>
                        </tr>
                        <tr ng-if="ViewDetas.length==0">
                            <td colspan="4" style="text-align:center;">No Data Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="open_leavecategory" class="uk-modal">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"></button>
            <h3 class="uk-modal-title">Leave Application </h3><br>
            <div class="md-card-content">
                <form id="form_validation" ng-submit="applyLeaves()" novalidate>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <input type="text" config="selectize_leavetype_config" options="selectize_leavetype_options" required ng-model="leave_type" selectize/>
                            <input type="hidden" ng-model="employee_id">
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div class="uk-input-group parsley-row">
                                <span class="uk-input-group-addon">
                                <i class="material-icons"></i>
                                </span>
                                <label>From Date</label>
                                <input type="text" class="md-input" data-uk-datepicker="{format:'DD-MMM-YYYY'}" required md-input ng-model="from_date"/>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2 uk-input-group">
                            <div class="uk-input-group parsley-row">
                            <span class="uk-input-group-addon">
                            <i class="material-icons"></i>
                            </span>
                            <label>Upto Date</label>
                            <input type="text" class="md-input" data-uk-datepicker="{format:'DD-MMM-YYYY'}" required md-input ng-model="upto_date"/>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <label>Description</label>
                            <textarea cols="30" rows="2" class="md-input" ng-model="description" md-input textarea-autosize></textarea>
                        </div>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="clearValidation()">Cancel</button>
                        <button type="submit" class="md-btn md-btn-primary md-btn-small">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


