<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">Approve Payslips</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content" ng-controller="approvePayslipCtrl as showCase">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Employee Name</th>
                            <th>Department</th>
                            <th>Pay Structure</th>
                            <th>Pay Period</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>S.No</th>
                            <th>Employee Name</th>
                            <th>Department</th>
                            <th>Pay Structure</th>
                            <th>Pay Period</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in tableView_data">
                            <td>{{$index+1}}</td>
                            <td>{{row.EMPLOYEE_NAME}}</td>
                            <td>{{row.DEPT_NAME}}</td>
                            <td>{{row.STRUCURE_NAME}}</td>
                            <td>{{row.GENERATION_DATE}}</td>
                            <td><span style="color: rgb(25,118,210);">{{row.STATUS}}</span></td>
                            <td><a class="md-btn md-btn-primary md-btn-mini md-btn-wave-light" ui-sref="restricted.finance.payslipviewdetails({payslipid:{{row.ID}},empid:{{row.EMP_PROFILE_ID}}})" class="ts_remove_row" ng-click="passDate(row.GENERATION_DATE,row.PAYSTRUCTURE_ID)"><i class="uk-icon-eye"></i> View</a></td>
                            <!-- <td><a class="md-btn md-btn-primary md-btn-mini md-btn-wave-light" ui-sref="restricted.finance.payslipdetails_view({id:{{row.EMP_PROFILE_ID}}})" class="ts_remove_row" ><i class="uk-icon-eye"></i> View</a></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
