<style type="text/css">
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
      font-size: 16px !important;
    }
</style>
<div id="page_content"  ng-controller="leaveapplicationCtrl as tblData">
    <div id="page_content_inner">

        <h3 class="heading_a uk-margin-bottom">Leave Application
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="tblData.dtOptions" dt-column-defs="tblData.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="width: 50px !important;">S.No</th>
                            <th>Leave Type</th>
                            <th>Employee Name</th>
                            <th>Total Leave</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 50px !important;"></th>
                            <th>Leave Type</th>
                            <th>Employee Name</th>
                            <th>Total Leave</th>
                            <th>Application Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in ViewDetas">
                            <td>{{$index+1}}</td>
                            <td>{{row.LEAVE_NAME}}</td>
                            <td>{{row.EMPLOYEE_NAME}}</td>
                            <td>{{row.TOTAL_LEAVE}}</td>
                            <td>{{row.FROM_DATE}}</td>
                            <td>{{row.STATUS}}</td>
                            <td class="">
                                <a ui-sref="restricted.finance.leaveStatusChange({empid:{{row.EMP_PROFILE_ID}},id:{{row.ID}}})"><i class="md-icon material-icons">remove_red_eye</i></a>
                                <a class="ts_remove_row" ng-click="deleteLeaveApplication(row.ID,row.EMP_L_BAL_ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


