<style type="text/css">
    .tdStyle {
        width:50%;
        padding: 10px !important;
        border-bottom:none !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom"> Leave Application View</h3>
        <div class="md-card">
            <div class="md-card-content large-padding">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info">person</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.EMP_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Name</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >assignment_ind</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.ADMISSION_NO}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Number</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >import_contacts</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.DEPT_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Department</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >school</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.POS_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Position</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3 class="heading_a uk-margin-bottom">Leave Application Details
        </h3>
         <div class="md-card-content uk-width-medium-1-1 large-padding">
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content large-padding">
                    <div class="uk-overflow-container">
                        <div class="uk-width-large-1-1">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-large-1-6">
                                    <span class="uk-text-muted uk-text-small">Leave Type</span>
                                </div>
                                <div class="uk-width-large-5-6">
                                    <span class="uk-text-large uk-text-middle">{{leaveList.LEAVE_NAME}}</span>
                                </div>
                            </div>
                            <hr class="uk-grid-divider">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-large-1-6">
                                    <span class="uk-text-muted uk-text-small">From Date</span>
                                </div>
                                <div class="uk-width-large-5-6">
                                    {{leaveList.FROM_DATE | momentDate:'YYYY-MM-DD HH:mm:ss':'DD-MMM-YYYY'}}
                                </div>
                            </div>
                            <hr class="uk-grid-divider">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-large-1-6">
                                    <span class="uk-text-muted uk-text-small">To Date</span>
                                </div>
                                <div class="uk-width-large-5-6">
                                    {{leaveList.TO_DATE | momentDate:'YYYY-MM-DD HH:mm:ss':'DD-MMM-YYYY'}}
                                </div>
                            </div>
                            <hr class="uk-grid-divider">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-large-1-6">
                                    <span class="uk-text-muted uk-text-small">Message</span>
                                </div>
                                <div class="uk-width-large-5-6">
                                    {{leaveList.DESCRIPTION}}
                                </div>
                            </div>
                            <hr class="uk-grid-divider uk-hidden-large">
                        </div>
                        <div class="uk-text-right">
                            <br>
                            <button type="button" ng-if="leaveList.STATUS=='Pending'" class="md-btn md-btn-success md-btn-small" ng-click="changeStatus(leaveList.ID,leaveList.EMP_PROFILE_ID,'Approved')">Approve</button>
                            <button type="button" ng-if="leaveList.STATUS!='Reject'" class="md-btn md-btn-warning md-btn-small" ng-click="changeStatus(leaveList.ID,leaveList.EMP_PROFILE_ID,'Reject')">Reject</button>
                            <button type="button"  class="md-btn md-btn-danger md-btn-small uk-modal-close" ui-sref="restricted.hr.leave_application">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
