<style type="text/css">
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
      font-size: 16px !important;
    }
</style>
 <div id="page_content"  ng-controller="LeaveCategoryCtrl as tblData">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Leave Type
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <button  style="float: right;" class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_leavecategory'}" ng-click="addleavecategory()"><i class="material-icons">add</i>Add Leave Type</button>
                <table datatable="ng" dt-options="tblData.dtOptions" dt-column-defs="tblData.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="width: 50px !important;">S.No</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 50px !important;"></th>
                            <th>Name</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.NAME}}</td>
                            <td>{{row.CODE}}</td>
                            <td class="">
                                <a ng-click="editLeaveCategory(row)" data-uk-modal="{target:'#open_leavecategory'}" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a class="ts_remove_row" ng-click="deleteLeavecategory(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Model Window -->
    <div id="open_leavecategory" class="uk-modal">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"></button>
            <h3 class="uk-modal-title">{{tit_caption}} Leave Type </h3><br>
            <div class="md-card-content">
                <form id="form_validation" ng-submit="saveLeaveCategory()" novalidate>
                    <div class="parsley-row uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-1">
                                <label class="uk-form-label">Name<span class="req">*</span></label>
                                <input type="text" ng-model="leave_category" required class="md-input" md-input>
                                <input type="hidden" ng-model="leavecat_id">
                            </div>
                        </div>          
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-1">
                                <label>Code</label>
                                <input type="text" ng-model="leave_code" class="md-input" md-input>
                            </div>
                        </div>          
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close">Cancel</button>
                        <button type="submit" class="md-btn md-btn-primary md-btn-small">{{status}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>