<style type="text/css">
thead th{
    cursor: pointer;
}
.uk-table tfoot td, .uk-table tfoot th, .uk-table thead tr.indexHeader th{
    border-top-width:0;
    border-bottom-width:0;
}
</style>
    <div id="page_content">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Leave Category</h3>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content large-padding">
                    <div class="uk-overflow-container">
                        <table class="uk-table" st-table="users">
                            <thead class="dt-uikit-header">
                            <tr>
                            <button class="uk-float-right md-btn md-btn-primary md-btn-small" ng-click="addUser()"><i class="uk-icon-plus"></i> Add Leave Category</button>
                            </tr>
                            <tr class="indexHeader">
                                <th colspan="5">
                                    <div class="dt-uikit-header">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-2-3">
                                                <div class="dataTables_length" id="DataTables_Table_3_length">
                                                    <label> 
                                                        <selectize class="dt-selectize selectized uk-width-medium-1-10" ng-required="true" placeholder='Pick some things...' options='selectize_c_options' config="{maxItems: 1}" ng-model="itemsByPage"  name='itemsByPage' required='true'></selectize></label>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-3">
                                                <div id="DataTables_Table_3_filter" class="dataTables_filter">
                                                    <div class="md-input-wrapper">
                                                        <input st-search="" class="form-control md-input md-input-processed" placeholder="Search ..." type="search" md-input=""/><span class="md-input-bar "></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="test">
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th class="uk-width-1-10 small_col">Id</th>
                                <th class="uk-width-1-2" st-sort="Name">Name</th>
                                <th class="uk-width-1-6">Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>
                                        <div class="md-input-wrapper">
                                            <input st-search="Name" placeholder="Search for Name" class="form-control md-input md-input-processed" type="search" md-input=""/><span class="md-input-bar "></span>
                                        </div>
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="itemsByPage"></div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-repeat="user in users">
                              <td>{{user.id}}</td>
                              <td>
                                <span editable-text="user.Name" e-name="Name" e-form="rowform" onbeforesave="checkName($data, user.id)">
                                  {{ user.Name || 'empty' }}
                                </span>
                              </td>
                              <td >
                                <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="md-icon material-icons">
                                    &#xE161;
                                    </button>
                                  <a class="ts_remove_row" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><i class="md-icon material-icons">&#xE5CD;</i></a>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <a class="ts_remove_row" ng-click="rowform.$show()"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a class="ts_remove_row" ng-click="removeUser($index)"><i class="md-icon material-icons">&#xE872;</i></a>
                                </div> 
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>