<style type="text/css">
  .aligncalss{
    margin-left : -20px !important;
  }
/*  .alignBtn{
    vertical-align: bottom !important;
  }*/

.uk-vertical-align-middle {
    vertical-align: bottom !important;
}
</style>
<div id="page_content" ng-controller="LeaveEntitleAddCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Add Leave Entitlement</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
              <form id="form_validation" ng-submit="saveLeaveEntitlement()" novalidate>
              <!-- <h3 class="heading_b uk-margin-bottom">Pay Category</h3> -->
                <div class="uk-width-9-10 uk-width-medium-9-10">
                  <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label class="uk-form-label">Depertment<span class="req">*</span></label>
                        <input type="text" config="selectize_dept_config" required options="selectize_dept_options" ng-model="department_id" selectize />
                        <input type="hidden" ng-model="leavemgnt_id">
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label class="uk-form-label">Employee<span class="req">*</span></label>
                        <input type="text" config="selectize_employee_config" required options="selectize_employee_options" ng-model="employee_id" selectize />
                    </div>
                  </div>
                  </div>               
                  <div class="uk-grid uk-grid-medium" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index">
                  <div class="uk-width-9-10 uk-width-medium-9-10">
                  <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3 parsley-row">
                        <label class="uk-form-label">Leave Type<span class="req">*</span></label>
                        <input type="text" config="selectize_leaveCat_config" options="selectize_leaveCat_option" ng-model="section.LEAVE_TYPE_ID" required selectize />
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row">
                    <br>
                        <label class="uk-form-label">Leave Count<span class="req">*</span></label>
                        <input type="text" class="md-input" required ng-model="section.LEAVETYPE_COUNT" md-input />
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row"><br>
                        <label class="uk-form-label">Valid From<span class="req">*</span></label>
                        <input type="text" class="md-input" data-uk-datepicker="{format:'DD-MMM-YYYY'}" required md-input ng-model="section.VALID_FROM"/>
                    </div>
                  </div>
                  </div>
                    <div class="uk-width-1-10 uk-width-medium-1-10 uk-text-center aligncalss">
                      <div class="uk-vertical-align uk-height-1-1 alignBtn">
                        <div class="uk-vertical-align-middle">
                            <a href="javascript:void(0)" ng-click="cloneSection($event,$index)" ng-if="$last"><i class="material-icons md-36">&#xE146;</i></a>
                            <a href="javascript:void(0)" ng-click="deleteSection($event,$index,section.ID)" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-grid uk-grid-medium  ng-scope">
                    <div  class="uk-width-10-10 uk-width-medium-10-10 uk-text-right">
                      <p></p>
                      <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="backBtn();">Cancel</button>
                       <button type="submit" class="md-btn md-btn-flat md-btn md-btn-primary md-btn-small">Save</button>
                    </div>
                  </div>
                  
              </form>

            </div>
        </div>
    </div>
</div>
