<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Pay Structure</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding" ng-controller="dt_default as showCase">
                <div class="uk-width-10-10 uk-width-medium-10-10 uk-margin-medium-bottom">
                  <a type="button" ui-sref="restricted.hr.AddPayCategory" class="md-btn md-btn-primary md-btn-small uk-float-right">
                  <i class="uk-icon-plus"></i> Add Pay Structure</a>
                </div>
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Pay Stucture Name</th>
                            <th>Assigned Employee</th>
                            <th>Pay Items</th>
                            <th>Frequence</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Pay Stucture Name</th>
                            <th>Assigned Employee</th>
                            <th>Pay Items</th>
                            <th>Frequence</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in ViewData">
                            <td>{{$index+1}}</td>
                            <td><a ui-sref="restricted.hr.ViewPayGroup({id:{{row.ID}}})">{{row.NAME}}</a></td>
                            <td>{{row.TOTAL_EMPLOYEE}}</td>
                            <td>{{row.TOTAL_ITEM}}</td>
                            <td>{{row.FREQUENCY}}</td>
                            <td class="uk-text-center">
                                <a  ui-sref="restricted.hr.ViewPayGroup({id:{{row.ID}}})" ><i class="md-icon material-icons md-24">&#xE417;</i></a>
                                <a ui-sref="restricted.hr.EditPayCategory({id:{{row.ID}}})" ><i class="md-icon material-icons md-24">&#xE254;</i></a>
                                <a ui-sref="restricted.hr.ViewGroupEmployee({id:{{row.ID}}})"><i class="md-icon material-icons md-24">&#xE8D3;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
