<style type="text/css">
    .tdStyle {
        width:50%;
        padding: 10px !important;
        border-bottom:none !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom"> Payroll</h3>
        <div class="md-card">
            <div class="md-card-content large-padding">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info">person</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.EMPLOYEE_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Name</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >assignment_ind</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.EMPLOYEE_NO}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Number</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >import_contacts</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.DEPT_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Department</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4" ng-if="viewData.POSITION">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >school</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.POSITION}}</span>
                                    <span class="uk-text-small uk-text-muted">Position</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >payment</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.STRUCURE_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Pay Structure</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >monetization_on </i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{viewData.FREQUENCY}}</span>
                                    <span class="uk-text-small uk-text-muted">Payment frequency</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >monetization_on </i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{checkStatus.GEN_DATE}}</span>
                                    <span class="uk-text-small uk-text-muted">Pay Period</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3 class="heading_a uk-margin-bottom">Payroll Details
        <span style="float: right;"><button class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" ng-click="editPayslip()">Edit</button></span>
        </h3>
         <div class="md-card-content uk-width-medium-1-1 large-padding">
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content large-padding">
                <form ng-submit="GeneratePayslip()">
                    <input type="hidden" ng-model="PAYSLIP_ID">
                    <div class="uk-overflow-container">
                        <table class="uk-table">
                            <thead>
                                <th><i class="material-icons">add_box</i> <b>Earninng</b></th>
                                <th><i class="material-icons">indeterminate_check_box</i> <b>Deduction</b></th>
                            </thead>
                            <tbody id="tblBody">
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="tdStyle">Basic</td>
                                                    <td class="tdStyle"> <input type="text" ng-model="viewData.BASIC_PAY" ng-disabled="true" id="basicpay" ng-change="earningCalculation(viewData.BASIC_PAY)" required></td>
                                                </tr>
                                                <tr ng-repeat="row in payslipList | filter:{TYPE:'Earnings'}">
                                                    <td class="tdStyle">{{row.NAME}}</td>
                                                    <td class="tdStyle"> <input type="text" ng-model="row.AMOUNT" ng-disabled="true" name="earningAmount"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle"><b>Total Earnings</b></td>
                                                    <td class="tdStyle"> <input type="text" ng-model="Total_Earning" ng-disabled="true">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="row in payslipList | filter:{TYPE:'Deductions'}">
                                                    <td class="tdStyle" >{{row.NAME}}</td>
                                                    <td class="tdStyle" ><input type="text" ng-model="row.AMOUNT" ng-disabled="true" name="deductionAmount"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle"><b>Total Deduction</b> </td>
                                                    <td class="tdStyle"> <input type="text" ng-model="toatl_deduction" ng-disabled="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdStyle"></td>
                                    <td class="tdStyle"><span style="margin-left: 17px;"><b>Net Pay</b> <span style="margin-left: 115px;font-size: 16px;">{{TotalNetPay}}</span></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="" style="float: right;">
                             <button class="md-btn md-btn-danger md-btn-small md-btn-wave-light waves-effect waves-button waves-light" ui-sref="restricted.hr.rejectpayslip">Cancel</button>
                            <button class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" ng-click="deletePayslipDetails(checkStatus.PAYSLIP_ID)" type="button">Delete</button>
                            <button ng-show="genBtn" type="submit" class="md-btn md-btn-success md-btn-small uk-modal-close">Generate Payslip</button>
                           <!--  <button type="button" class="md-btn md-btn-primary md-btn-small uk-modal-close" ng-click="generatePdf(viewData.ID)">Pdf Report</button> -->
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
