<style type="text/css">
    .tdStyle {
        width:50%;
        padding: 10px !important;
        border-bottom:none !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom"> Payroll</h3>
        <div class="md-card">
            <div class="md-card-content large-padding">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info">person</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableArray[0].firstname}} {{tableArray[0].lastname}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Name</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >assignment_ind</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableArray[0].Admission_No}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Number</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >import_contacts</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableArray[0].Dept}}</span>
                                    <span class="uk-text-small uk-text-muted">Department</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >school</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableArray[0].position}}</span>
                                    <span class="uk-text-small uk-text-muted">Position</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- <div class="uk-width-medium-1-3">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">25</span>
                                    <span class="uk-text-small uk-text-muted">Number of working days</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="uk-width-medium-1-3">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">25</span>
                                    <span class="uk-text-small uk-text-muted">Number of days present</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">0</span>
                                    <span class="uk-text-small uk-text-muted">Number of days absent</span>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <br>
        <h3 class="heading_a uk-margin-bottom">Payroll Details
        </h3>
         <div class="md-card-content uk-width-medium-1-1 large-padding">
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content large-padding">
                    <div class="uk-overflow-container">
                        <table class="uk-table">
                            <thead>
                                <th><i class="material-icons">add_box</i> <b>Earninng</b></th>
                                <th><i class="material-icons">indeterminate_check_box</i> <b>Deduction</b></th>
                            </thead>
                            <tbody id="tblBody">
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="tdStyle">Basic</td>
                                                    <td class="tdStyle">{{basic_val}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">Housing Allowance</td>
                                                    <td class="tdStyle">{{housing_allow}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">Human Resource Allowance</td>
                                                    <td class="tdStyle">{{hr_allowance}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">Transport Allowance</td>
                                                    <td class="tdStyle">{{transport}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">Total Earnings</td>
                                                    <td class="tdStyle">{{Total_Earning}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="tdStyle">Income Tax</td>
                                                    <td class="tdStyle">{{income_deduction}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">Provident Fund</td>
                                                    <td class="tdStyle">{{fund_deduction}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">Total Deduction</td>
                                                    <td class="tdStyle">{{toatl_deduction}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdStyle"><span style="margin-left: 0px;"><b>Gross Pay ‎(Total Earnings)</b>‎ <span style="margin-left: 38px;">{{grasspayTotal}}</span></span></td>
                                    <td class="tdStyle"><span style="margin-left: 15px;"><b>Net Pay</b> <span style="margin-left: 65px;">{{showTotalNetpay}}</span></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="" style="float: right;">
                            <button type="button" class="md-btn md-btn-success md-btn-small uk-modal-close" ng-if="urlname=='finance'">Approve</button>
                            <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-if="urlname=='finance'">Revert</button>
                            <button type="button" class="md-btn md-btn-primary md-btn-small uk-modal-close" ng-click="generatePdf(tableArray[0].id)">Pdf Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
