    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
            <h3 class="heading_a uk-margin-bottom">Employee Details</h3>
            <div class="md-card">
                <div class="md-card-content large-padding">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-4">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons" >people</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{viewData.EMP_NAME}}</span>
                                        <span class="uk-text-small uk-text-muted">Employee Name</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons" >assignment_ind</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{viewData.ADMISSION_NO}}</span>
                                        <span class="uk-text-small uk-text-muted">Employee Number</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{viewData.DEPT_NAME}}</span>
                                        <span class="uk-text-small uk-text-muted">Department</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons" >school</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{viewData.POS_NAME}}</span>
                                        <span class="uk-text-small uk-text-muted">Position</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="uk-width-medium-1-4">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons" >supervisor_account</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{employeeCategory[0].Name}}</span>
                                        <span class="uk-text-small uk-text-muted">Leave Category</span>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    
                    <h4>Leave Category</h4>
                    <div class="md-card uk-margin-medium-bottom">
                        <div class="md-card-content">
                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                    <tr>
                                        <th><i class="md-list-addon-icon material-icons">home</i>  S.No</th>
                                        <th><i class="md-list-addon-icon material-icons">access_time</i>
                                        Leave Type</th>
                                        <th><i class="md-list-addon-icon material-icons">assignment</i>leave Code</th>
                                        <th><i class="md-list-addon-icon material-icons">receipt</i>
                                        Allocated Leaves</th>
                                        <th><i class="md-list-addon-icon material-icons">receipt</i>
                                        Valid From</th>
                                    </tr>
                                    </thead>
                                    <tbody> 
                                    <!-- {{categoryList | json}} -->
                                    <tr ng-repeat="row in categoryList">
                                        <td>{{$index+1}}</td>
                                        <td>{{row.LEAVE_NAME}}</td>
                                        <td>{{row.LEAVE_CODE}}</td>
                                        <td>{{row.LEAVETYPE_COUNT}}</td>
                                        <td>{{row.VALID_FROM}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>