<style type="text/css">
    .tdStyle {
        width:50%;
        padding: 10px !important;
        border-bottom:none !important;
    }
    .uk-modal-dialog {
        width: 450px !important;
    }

    .k-picker-wrap.k-state-default{
        border-color: #bfbfbf !important;
    }
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
      font-size: 16px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Employee Payroll</h3>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info">person</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableData.EMPLOYEE_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Name</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >assignment_ind</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableData.EMPLOYEE_NO}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Number</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >import_contacts</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableData.DEPT_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Department</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4" ng-if="tableData.POSITION">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >school</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableData.POSITION}}</span>
                                    <span class="uk-text-small uk-text-muted">Position</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <h3 class="heading_c uk-margin-bottom">Payroll Details</h3> -->
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info">payment</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableData.STRUCURE_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Pay Structure</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >monetization_on</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableData.FREQUENCY}}</span>
                                    <span class="uk-text-small uk-text-muted">Payment frequency</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3 class="heading_a uk-margin-bottom">Payroll Details
        </h3>
         <div class="md-card-content uk-width-medium-1-1 large-padding">
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                <form id="form_validation1" ng-submit="generatePayslip()">
                    <input type="hidden" ng-model="employeeID">
                    <input type="hidden" ng-model="structureID">
                    <input type="hidden" ng-model="payslipId">
                    <input type="hidden" ng-model="payslip_status">
                    <input type="hidden" ng-model="NetpayAmount">
                    <div class="uk-overflow-container">
                        <table class="uk-table">
                            <thead>
                                <th><i class="material-icons">add_box</i> <b>Earninng</b></th>
                                <th><i class="material-icons">indeterminate_check_box</i> <b>Deduction</b></th>
                            </thead>
                            <tbody id="tblBody">
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="tdStyle">Date</td>
                                                    <td class="tdStyle">
                                                        <input kendo-date-picker  k-format="'dd-MMM-yyyy'" ng-model="generation_date" k-ng-model="dateObject" style="width: 87%;" id="kUI_datepicker_a" class="parsley-row" required />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="tdStyle">Basic</td>
                                                    <td class="tdStyle"><input type="text" ng-model="tableData.BASIC_PAY" ng-change="getCalculation()"></td>
                                                </tr>
                                                <tr ng-repeat="row in PaySrtuctureData | filter:{ITEM_TYPE:'Earnings'}" ng-if="!payslipId">
                                                    <td class="tdStyle">{{row.ITEM_NAME}}</td>
                                                    <td class="tdStyle">
                                                        <input type="text" ng-model="row.changedAmount" name="earningAmount" ng-disabled=true>
                                                        <input type="hidden" ng-model="row.payitemVal">
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="x in PaySrtuctureData1 | filter:{TYPE:'Earnings'}">
                                                    <td class="tdStyle">{{x.NAME}}</td>
                                                    <td class="tdStyle"><input type="text" ng-model="x.AMOUNT" ng-change="earningCalculation()" name="earningAmount" ng-disabled=true> <input type="hidden" ng-model="x.TYPE"><span ng-hide="x.ID" ng-click="removeEarningItem($index)"><i class="md-list-addon-icon material-icons uk-text-info">remove_circle</i></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom: none;">&nbsp;</td>
                                                    <td class="tdStyle"><a data-uk-modal="{target:'#open_Model'}" ng-click="addEarning()"><i class="md-list-addon-icon material-icons uk-text-info">add_circle</i> Add Earning</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle"><b>Total Earnings</b></td>
                                                    <td class="tdStyle"><input type="text" ng-model="Total_Earning" id="earningTotal" ng-disabled="true"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="row in PaySrtuctureData" ng-if="!payslipId">
                                                    <td class="tdStyle" ng-if="row.ITEM_TYPE=='Deductions'">{{row.ITEM_NAME}}</td>
                                                    <td class="tdStyle" ng-if="row.ITEM_TYPE=='Deductions'">
                                                        <input type="text" ng-change="getTotalDeduction()" ng-disabled=true ng-model="row.changedAmount" name="deductionAmount">
                                                        <input type="hidden" ng-model="row.payitemVal">
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="x in PaySrtuctureData1">
                                                    <td class="tdStyle" ng-if="x.TYPE=='Deductions'">{{x.NAME}}</td>
                                                    <td class="tdStyle" ng-if="x.TYPE=='Deductions'"><input type="text" ng-model="x.AMOUNT" ng-change="earningCalculation()" name="deductionAmount" ng-disabled=true> <input type="hidden" ng-model="x.TYPE"><span ng-hide="x.ID" ng-click="removeDeductionItem($index)"><i class="md-list-addon-icon material-icons uk-text-info">remove_circle</i></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom: none;">&nbsp;</td>
                                                    <td class="tdStyle"><a data-uk-modal="{target:'#open_Model'}" ng-click="addDeduction()"><i class="md-list-addon-icon material-icons uk-text-info">add_circle</i> Add Deduction</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle"><b>Total Deduction</b></td>
                                                    <td class="tdStyle"><input type="text" id="duductionTotal" ng-model="total_deduction" ng-disabled=true></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdStyle"><span style="margin-left: 0px;"></span></td>
                                    <td class="tdStyle"><span style="margin-left: 20px;"><b>Net Pay</b>  <span style="margin-left: 115px;">{{showTotalNetpay}}</span></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="" style="float: right;">
                            <a ui-sref="restricted.hr.payslipGenaration_view" class="md-btn md-btn-danger md-btn-small">Cancel</a>
                            <button type="submit" ng-if="generation_date" class="md-btn md-btn-primary md-btn-small">Generate Payslip</button>
                            <button type="button" ng-if="!generation_date" class="md-btn md-btn-primary md-btn-small" ng-click="checkStatus()">Generate Payslip</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="open_Model" class="uk-modal">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <h3 class="uk-modal-title">{{tit_caption}} </h3>
        <div class="md-card-content">
            <form id="form_validation" ng-submit="saveAddonData()">
                <div class="uk-form-row parsley-row">
                    <label>Name</label>
                    <input type="text" ng-model="pay_name" required class="md-input" md-input>
                    <input type="hidden" ng-model="pay_type">
                </div>
                <div class="uk-form-row parsley-row">
                    <label>Amount</label>
                    <input type="text" ng-model="pay_amount" required class="md-input" md-input numeric-only>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-danger md-btntn-small uk-modal-close" ng-click="clearValidation()">Cancel</button>
                    <button type="submit" class="md-btn md-btn-primary md-btntn-small">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>