<style type="text/css">
    .tdStyle {
        width:50%;
        padding: 10px !important;
        border-bottom:none !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Employee Payroll</h3>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info">person</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableView_data.EMPLOYEE_NAME}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Name</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >assignment_ind</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableView_data.EMPLOYEE_NO}}</span>
                                    <span class="uk-text-small uk-text-muted">Employee Number</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >import_contacts</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableView_data.DEPARTMENT}}</span>
                                    <span class="uk-text-small uk-text-muted">Department</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-4" ng-if="tableView_data.POSITION">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-info" >school</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{tableView_data.POSITION}}</span>
                                    <span class="uk-text-small uk-text-muted">Position</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h3 class="heading_b uk-margin-bottom">Payroll Details 
        <span ng-show="urlname=='hr'" style="float: right;"><button class="md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light" ng-click="editPayDetails()" ng-show="editBTN">Edit</button>
        </h3>
        <div class="md-card-content uk-width-medium-1-1 large-padding">
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table">
                            <thead>
                                <th><i class="material-icons">add_box</i> <b>Earninng</b></th>
                                <th><i class="material-icons">indeterminate_check_box</i> <b>Deduction</b></th>
                            </thead>
                            <tbody id="tblBody">
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <!-- <tr>
                                                    <td class="tdStyle">Basic</td>
                                                    <td class="tdStyle"><input type="text" ng-model="basic_val" ng-change="earningCalculation(basic_val)" id="basicvalue"></td>
                                                </tr>
                                                <tr ng-repeat="row in PaySrtuctureData | filter:{ITEM_TYPE:'Earnings'}">
                                                    <td class="tdStyle" >{{row.ITEM_NAME}}</td>
                                                    <td class="tdStyle"><input type="text" ng-model="row.AMOUNT" name="earningAmount" ng-disabled=true></td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle"><b>Total Earnings</b></td>
                                                    <td class="tdStyle"><input type="text" ng-model="Total_Earning" id="earningTotal" ng-disabled=true>
                                                    </td>
                                                </tr> -->
                                                <tr>
                                                    <td class="tdStyle">Basic</td>
                                                    <td class="tdStyle"><input type="text" ng-model="basic_val" ng-change="earningCalculation(basic_val)" id="basicvalue" required></td>
                                                </tr>
                                                <tr ng-repeat="row in PaySrtuctureData | filter:{ITEM_TYPE:'Earnings'}">
                                                    <td class="tdStyle">{{row.ITEM_NAME}}</td>
                                                    <td class="tdStyle"><input type="text" ng-model="row.changedAmount" name="earningAmount" ng-disabled="true"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">
                                                    <b>Total Earnings</b>
                                                    </td>
                                                    <td class="tdStyle"><input type="text" ng-model="Total_Earning" id="earningTotal" ng-disabled="true">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <!-- <tr ng-repeat="row in PaySrtuctureData | filter:{ITEM_TYPE:'Deductions'}">
                                                    <td class="tdStyle">{{row.ITEM_NAME}}</td>
                                                    <td class="tdStyle" ><input type="text" ng-change="getTotalDeduction()" ng-disabled=true ng-model="row.AMOUNT" name="deductionAmount"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle"><b>Total Deduction</b></td>
                                                    <td class="tdStyle"><input type="text" id="duductionTotal" ng-model="total_deduction" ng-disabled=true></td>
                                                </tr> -->
                                                <tr ng-repeat="row in PaySrtuctureData | filter:{ITEM_TYPE:'Deductions'}">
                                                    <td class="tdStyle">{{row.ITEM_NAME}}</td>
                                                    <td class="tdStyle">
                                                        <input type="text" ng-change="getTotalDeduction()" ng-disabled=true ng-model="row.changedAmount" name="deductionAmount">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdStyle">
                                                        <b>Total Deduction</b>
                                                    </td>
                                                    <td class="tdStyle"><input type="text" id="duductionTotal" ng-model="total_deduction" ng-disabled=true></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdStyle"></td>
                                    <td class="tdStyle"><span style="margin-left: 18px;"><b>Net Pay</b> <input type="text" id="netValue" ng-model="showTotalNetpay" ng-disabled=true style="margin-left: 110px;"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="" style="float: right;">
                            <a class="md-btn md-btn-danger md-btn-small" onclick="window.history.back();">Cancel</a>
                             <button ng-show="btnStatus" type="button" class="md-btn md-btn-primary md-btn-small" ng-click="assignPayroll(tableView_data.ID,tableView_data.EMPLOYEE_NAME,PayStru_name.NAME)">Assign Payroll</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
