<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Payroll Structure</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content uk-width-medium-1-1 large-padding">
                <div class="uk-grid  uk-grid-medium" ng-repeat="row in UserDatas">
                    <div class="uk-width-medium-1-2">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-primary" >assignment</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{row.Name}}</span>
                                    <span class="uk-text-small uk-text-muted">Pay Structure Name</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-primary" >av_timer</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{row.Frequency}}</span>
                                    <span class="uk-text-small uk-text-muted">Payment Frequency</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="uk-grid-divider" ng-if="EarningsDiv && DeductionDiv">
                <h4>Pay Item Details</h4>
                <div class="md-card uk-margin-medium-bottom">
                    <div class="md-card-content">
                        <div class="uk-overflow-container">
                            <h4>Earning</h4>
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th><i class="md-list-addon-icon material-icons">school</i>  Pay Item Name</th>
                                    <th><i class="md-list-addon-icon material-icons">attach_money</i>
                                    Pay Item Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in EarningsData">
                                        <td>{{row.Name}}</td>
                                        <td>{{row.Amount}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>Deduction</h4>
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th><i class="md-list-addon-icon material-icons">school</i>  Pay Item Name</th>
                                    <th><i class="md-list-addon-icon material-icons">attach_money</i>Pay Item Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in DeductionData">
                                        <td>{{row.Name}}</td>
                                        <td>{{row.Amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>