<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-grid blog_article" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <div class="uk-article">
                            <!-- {{article_content}} -->
                            <h1 class="uk-article-title">{{repData.Repository_Title}}</h1>
                            <p class="uk-article-meta">
                                Written by {{repData.Author}} on {{repData.Date}}
                                <br>Posted in <a href="#">{{repData.Repository_Category}}</a>
                            </p>
                            <!-- <p class="uk-article-lead">{{article.subtitle}}</p> -->
                            <hr class="uk-article-divider">
                            <p>
                                <figure class="uk-thumbnail uk-thumbnail-large thumbnail_left">
                                    <img ng-src="{{repData.Repository_File}}" alt="">
                                    <figcaption class="uk-thumbnail-caption">Some caption</figcaption>
                                </figure>
                                {{repData.Repository_Content}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <h5 class="uk-margin-small-bottom uk-text-upper">Recent Posts</h5>
                <ul class="md-list uk-margin-remove">
                    <li ng-repeat="postVal in recentpost | limitTo:8 ">
                        <div class="md-list-content">
                            <!-- <span class="md-list-heading uk-text-truncate"><a ui-sref="restricted.repository.repositoryDetail({ ReposId:{{postVal.id}} })">{{postVal.Repository_Title}}</a></span> -->
                            <span class="md-list-heading uk-text-truncate"><a ng-click="getDetails(postVal)">{{postVal.Repository_Title}}</a></span>
                            <span class="uk-text-small uk-text-muted">April 16, 2016</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>