<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-grid blog_article" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <div class="uk-article">
                            <!-- {{article_content}} -->
                            <h1 class="uk-article-title">{{Rep_data.TITLE}}</h1>
                            <p class="uk-article-meta">
                                Written by Junaid on {{Rep_data.CRT_DT | momentDate:'YYYY-MM-DD HH:mm:ss':'MMMM DD, YYYY' }}
                                <br>Posted in <a href="#">{{Rep_data.CATEGORY_NAME}}</a>
                            </p>
                            <!-- <p class="uk-article-lead">{{article.subtitle}}</p> -->
                            <hr class="uk-article-divider">
                            <p>
                                <figure class="uk-thumbnail uk-thumbnail-medium thumbnail_left" style="width: 400px">
                                    <!-- <iframe src="{{Rep_data.UPLOAD_FILESrc}}" style="width: 100%"></iframe> -->
                                    <video controls autoplay ng-if="Rep_data.extention=='mp4' && Rep_data.extention=='ogg'"></video>
                                    <img ng-if="Rep_data.extention=='png' || Rep_data.extention=='jpg'" ng-src="{{'assets/uploads/'+Rep_data.UPLOAD_FILE}}" width="100%" height="50%" alt="">
                                    <img ng-if="Rep_data.extention=='pdf'" ng-src="assets/uploads/file/pdf.png" width="100%" height="50%" alt="">
                                    <img ng-if="Rep_data.extention=='docs'" ng-src="assets/uploads/file/docs.png" width="100%" height="50%" alt="">
                                    <img ng-if="Rep_data.extention=='zip'" ng-src="assets/uploads/file/zip.jpg" width="100%" height="50%" alt="">
                                    <img ng-if="Rep_data.extention=='rar'" ng-src="assets/uploads/file/rar.png" width="100%" height="50%" alt="">
                                    <figcaption class="uk-thumbnail-caption">Some caption</figcaption>
                                </figure>
                                <!-- {{Rep_data.CONTENT}} -->
                                <div ng-bind-html="Rep_data.CONTENT">
                                   
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <h5 class="uk-margin-small-bottom uk-text-upper">Recent Posts</h5>
                <ul class="md-list uk-margin-remove">
                    <li ng-repeat="postVal in viewData | limitTo:8 ">
                        <div class="md-list-content">
                            <!-- <span class="md-list-heading uk-text-truncate"><a ui-sref="restricted.repository.repositoryDetail({ ReposId:{{postVal.id}} })">{{postVal.Repository_Title}}</a></span> -->
                            <span class="md-list-heading uk-text-truncate"><a ng-click="getDetails(postVal)">{{postVal.TITLE}}</a></span>
                            <span class="uk-text-small uk-text-muted">{{postVal.CRT_DT | momentDate:'YYYY-MM-DD HH:mm:ss':'MMMM DD, YYYY'}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>