    <style type="text/css">
        .setWidth{
            font-size: 26px !important;
        }
        #socialStyle > li{
            border: none !important;
        }
        .user_heading {
            padding: 20px !important;
        }
		li{
			border: none !important;
		}
    </style>
    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading" style="background-color: rgb(231,231,231);padding: 20px !important;">
                            <!-- <div class="user_heading_menu" data-uk-dropdown="{pos:'bottom-right'}">
                                <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="user_heading_avatar">
                                <div class="thumbnail">
                                    <img ng-src="{{user_data.filename}}" alt="user avatar"/>
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom" style="color: #444;">
                                    <span class="uk-text-truncate">{{user_data.first_name}} {{user_data.last_name}}</span>
                                    <span class="sub-heading">{{user_data.admno}}</span>
                                </h2>
                                <ul class="user_stats">
                                    <li>
                                        <h4 class="heading_c" style="color: #444;">{{user_data.course}}</h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_c" style="color: #444;">{{user_data.batch}}</h4>
                                    </li>
                                </ul>
                            </div>
                            <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.student.student_editprofile({stu_id:user_data.profileId})">
                                <i class="material-icons">&#xE150;</i>
                            </a>
                        </div>
                        <div class="user_content">
                            <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                                <li class="uk-active"><a href="#">Personal Details</a></li>
                                <li><a href="#">Academics Details</a></li>
                                <li><a href="#">Contact Information</a></li>
                                <li><a href="#">Parent/Guardian Details</a></li>
                            </ul>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                            <h4>Personal Info</h4>
                                            <ul class="md-list">
                                                <li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.wizard_birth}}</span>
                                                        <span class="uk-text-small uk-text-muted">Date of Birth</span>
                                                    </div>
                                                </li>
                                                <li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.selectize_n}}</span>
                                                        <span class="uk-text-small uk-text-muted">Nationality</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <ul class="md-list">
												<br>
												<br>
												<li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.religion}}</span>
                                                        <span class="uk-text-small uk-text-muted">Religion</span>
                                                    </div>
                                                </li>
                                                <li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.mother_tongue}}</span>
                                                        <span class="uk-text-small uk-text-muted">Mother Tongue</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
										<div class="uk-width-large-1-2">
											<h4 class="heading_c uk-margin-small-bottom">Social Profile</h4>
                                            <ul class="md-list">
												<li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">
                                                            <a href="{{user_data.facebook}}"><i class="md-list-addon-icon uk-icon-facebook setWidth"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <a href="{{user_data.google}}"><i class="md-list-addon-icon uk-icon-google-plus setWidth"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <a href="{{user_data.linkedin}}"><i class="md-list-addon-icon uk-icon-linkedin setWidth"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
											</ul>
										</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="uk-accordion" data-uk-accordion>
                                        <h3 class="uk-accordion-title" ng-repeat-start="pre_edu in pre_edu">Previous Education</h3>
                                        <div class="uk-accordion-content" ng-repeat-end>
                                            <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                                <div class="uk-width-large-1-2">
                                                    <!-- <h4 class="heading_c uk-margin-small-bottom">Work Info</h4> -->
                                                    <ul class="md-list">
                                                        <li >
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{pre_edu.institute}}</span>
                                                                <span class="uk-text-small uk-text-muted">Institute Name</span>
                                                            </div>
                                                        </li>
                                                        <li >
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{pre_edu.course_name}}</span>
                                                                <span class="uk-text-small uk-text-muted">Course Name</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
												<div class="uk-width-large-1-2">
													<ul class="md-list">
														<li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{pre_edu.completion}}</span>
                                                                <span class="uk-text-small uk-text-muted">Year of Completion</span>
                                                            </div>
														</li>
														<li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{pre_edu.total_mark}}</span>
                                                                <span class="uk-text-small uk-text-muted">Total Marks</span>
                                                            </div>
                                                        </li>
													</ul>
                                                </div>
                                            </div>
                                        </div>
										<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
											<div class="uk-width-large-1-2">
												<h4 class="heading_c uk-margin-small-bottom">Additional Details </h4>
												<ul class="md-list">
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.birthplace}}</span>
															<span class="uk-text-small uk-text-muted">Birth Place</span>
														</div>
													</li>
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.selectize_blood}}</span>
															<span class="uk-text-small uk-text-muted">Blood Group</span>
														</div>
													</li>
												</ul>
											</div>
											<div class="uk-width-large-1-2">
												<br>
												<br>
												<ul class="md-list">
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.selectize_styType}}</span>
															<span class="uk-text-small uk-text-muted">Student Type</span>
														</div>
													</li>
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.selectize_cat}}</span>
															<span class="uk-text-small uk-text-muted">Category</span>
														</div>
													</li>
												</ul>
											</div>
											<div class="uk-width-large-1-2">
												<h4 class="heading_c uk-margin-small-bottom">Siblings</h4>
												<ul class="md-list">
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.selectize_planets}}</span>
															<span class="uk-text-small uk-text-muted">Name</span>
														</div>
													</li>
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.selectize_c}}</span>
															<span class="uk-text-small uk-text-muted">Course Name</span>
														</div>
													</li>
												</ul>
											</div>
											<div class="uk-width-large-1-2">
												<br>
												<br>
												<ul class="md-list">
													<li >
														<div class="md-list-content">
															<span class="md-list-heading">{{user_data.selectize_a}}</span>
															<span class="uk-text-small uk-text-muted">Batch</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
                                    </div>
                                </li>
								<li>
									<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
										<div class="uk-width-large-1-2">
											<h4>Mailling Address</h4>
											<ul class="md-list md-list-addon">
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0C8;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">
                                                        {{user_data.mail_address}}
                                                        {{user_data.mail_city}}
                                                        {{user_data.mail_state}} -
                                                        {{user_data.mail_pincode}},
                                                        {{user_data.mail_country}}
                                                        </span>
                                                        <span class="uk-text-small uk-text-muted">Address</span>
                                                    </div>
                                                </li>
											</ul>
										</div>
										<div class="uk-width-large-1-2">
											<h4>Permanent Address</h4>
											<ul class="md-list md-list-addon">
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0C8;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">
														{{user_data.address}}
                                                        {{user_data.stu_city}}
                                                        {{user_data.stu_state}} -
                                                        {{user_data.pincode}},
                                                        {{user_data.country}}
                                                        </span>
                                                        <span class="uk-text-small uk-text-muted">Address</span>
                                                    </div>
                                                </li>
											</ul>
										</div>
										<div class="uk-width-large-1-2">
											<h4>Contact Details </h4>
											<ul class="md-list md-list-addon">
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.wizard_phone}}</span>
                                                        <span class="uk-text-small uk-text-muted">Phone</span>
                                                    </div>
                                                </li>
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.email}}</span>
                                                        <span class="uk-text-small uk-text-muted">Email</span>
                                                    </div>
                                                </li>
											</ul>
										</div>
										<div class="uk-width-large-1-2">
											<br>
											<br>
											<ul class="md-list md-list-addon">
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE324;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{user_data.mobile_no}}</span>
                                                        <span class="uk-text-small uk-text-muted">Mobile</span>
                                                    </div>
                                                </li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<div class="uk-accordion" data-uk-accordion>
                                        <h3 class="uk-accordion-title" ng-repeat-start="parents_data in parents_data">{{parents_data.p_relation}} Details</h3>
                                        <div class="uk-accordion-content" ng-repeat-end>
                                            <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                                <div class="uk-width-large-1-2">
                                                    <h4>Personal Info</h4>
                                                    <ul class="md-list">
                                                        <li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{parents_data.p_first_name}} {{parents_data.p_last_name}}</span>
                                                                <span class="uk-text-small uk-text-muted">Name</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{parents_data.p_dob}}</span>
                                                                <span class="uk-text-small uk-text-muted">Date of Birth</span>
                                                            </div>
                                                        </li>
														<li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{parents_data.p_education}}</span>
                                                                <span class="uk-text-small uk-text-muted">Education</span>
                                                            </div>
                                                        </li>
														<li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{parents_data.occupation}}</span>
                                                                <span class="uk-text-small uk-text-muted">Occupation</span>
                                                            </div>
                                                        </li>
														<li>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{parents_data.p_income}}</span>
                                                                <span class="uk-text-small uk-text-muted">Income</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
												<div class="uk-width-large-1-2">
													<h4>Contact Info</h4>
													<ul class="md-list md-list-addon">
														<li>
															<div class="md-list-addon-element">
																<i class="md-list-addon-icon material-icons">&#xE0C8;</i>
															</div>
															<div class="md-list-content">
																<span class="md-list-heading">
																{{parents_data.pr_address}}
																{{parents_data.pr_city}}
																{{parents_data.pr_state}} -
																{{parents_data.pr_pincode}},
																{{parents_data.pr_country}}
																</span>
																<span class="uk-text-small uk-text-muted">Address</span>
															</div>
														</li>
														<li>
															<div class="md-list-addon-element">
																<i class="md-list-addon-icon material-icons">&#xE0CD;</i>
															</div>
															<div class="md-list-content">
																<span class="md-list-heading">{{parents_data.p_phone}}</span>
																<span class="uk-text-small uk-text-muted">Phone</span>
															</div>
														</li>
														<li>
															<div class="md-list-addon-element">
																<i class="md-list-addon-icon material-icons">&#xE324;</i>
															</div>
															<div class="md-list-content">
																<span class="md-list-heading">{{parents_data.p_mobile_no}}</span>
																<span class="uk-text-small uk-text-muted">Mobile</span>
															</div>
														</li>
														<li>
															<div class="md-list-addon-element">
																<i class="md-list-addon-icon material-icons">&#xE158;</i>
															</div>
															<div class="md-list-content">
																<span class="md-list-heading">{{parents_data.p_email}}</span>
																<span class="uk-text-small uk-text-muted">Email</span>
															</div>
														</li>
													</ul>
                                                </div>
												<div class="uk-width-large-1-2">
													<h4>Social Profile</h4>
													<ul class="md-list">
														<li>
															<div class="md-list-content">
																<span class="md-list-heading">
																	<a href="{{parents_data.p_facebook}}"><i class="md-list-addon-icon uk-icon-facebook setWidth"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
																	<a href="{{parents_data.p_google}}"><i class="md-list-addon-icon uk-icon-google-plus setWidth"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
																	<a href="{{parents_data.p_linkedin}}"><i class="md-list-addon-icon uk-icon-linkedin setWidth"></i></a>
																</span>
															</div>
														</li>
													</ul>
												</div>
                                            </div>
                                        </div>
									</div>
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-margin-medium-bottom">
                                <h3 class="heading_c uk-margin-bottom">Alerts</h3>
                                <ul class="md-list md-list-addon">
                                    <li ng-repeat="alert in user_data.alerts">
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-warning" ng-if="alert.type == 'warning'">&#xE8B2;</i>
                                            <i class="md-list-addon-icon material-icons uk-text-success" ng-if="alert.type == 'success'">&#xE88F;</i>
                                            <i class="md-list-addon-icon material-icons uk-text-danger" ng-if="alert.type == 'danger'">&#xE001;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{alert.title}}</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">{{alert.content}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="heading_c uk-margin-bottom">Friends</h3>
                            <ul class="md-list md-list-addon uk-margin-bottom">
                                <li ng-repeat="friend in user_data.friends">
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="{{friend.avatar}}" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{friend.name}}</span>
                                        <span class="uk-text-small uk-text-muted">{{friend.status}}</span>
                                    </div>
                                </li>
                            </ul>
                            <a class="md-btn md-btn-flat md-btn-flat-primary" href="#">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
