<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
    .selectize-dropdown{
        margin-top: 0px;
    }
    .selectize-dropdown-content {
        max-height: 153px !important;
    }
    body > .content-preloader.preloader-active {
        top: 303px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <!-- <form id="wizard_advanced_form" class="uk-form-stacked"> -->
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step wz-title="Admission" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Admission & Personal details
                            </h2><br>
							<form class="admission_details" name="admission_details" id="admission_details" novalidate>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row" style="margin-top: 20px;">
                                    <label for="admission_no">Admission No<span class="req">*</span></label>
                                    <input type="text" name="admission_no" ng-pattern-restrict="^[A-Za-z0-9-]*$" class="md-input" md-input ng-model="wizard.admission_no" required/>
                                    <input type="hidden" name="profileId" ng-model="wizard.profileId" ng-value="{{wizard.profileId}}"/>
                                    <input type="hidden" name="stuPro_id" ng-model="wizard.stuPro_id" ng-value="{{wizard.stuPro_id}}"/>
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row" style="margin-top: 20px;">
                                    <label for="admission_date">Admission Date<span class="req">*</span></label>
                                    <!-- <input type="text" name="admission_date" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="wizard.admission_date"/> -->
									<input class="md-input" type="text" required id="uk_dp_start" md-input ng-model="wizard.admission_date">
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-2"></div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img ng-src="{{wizard.filename || defaultImg}}" alt="user avatar"/>
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                        <input type="hidden" name="filename" class="fileinput-filename" ng-model="wizard.filename">
                                                        <div class="user_avatar_controls">
                                                                <span class="btn-file">
                                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                                </span>
                                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="first_name">First Name<span class="req">*</span></label>
                                    <input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" name="first_name" required class="md-input" md-input ng-model="wizard.first_name" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="last_name">Last Name<span class="req">*</span></label>
                                    <input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" name="last_name" required class="md-input" md-input ng-model="wizard.last_name" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row" style="margin-top: 15px;">
                                    <label class="uk-form-label">Gender<span class="req">*</span></label>
                                    <span class="icheck-inline">
                                        <input type="radio" name="gender" id="wizard_gender_male" value="male" icheck ng-model="wizard.gender" />
                                        <label for="wizard_gender_male" class="inline-label">Male</label>
                                    </span>
                                    <span class="icheck-inline">
                                        <input type="radio" name="gender" id="wizard_gender_female" class="wizard-icheck" value="female" icheck ng-model="wizard.gender" />
                                        <label for="wizard_gender_female" class="inline-label">Female</label>
                                    </span>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                 <div class="uk-width-medium-1-4 parsley-row">
                                 <br>
                                    <label for="wizard_birth_place">Date of Birth<span class="req">*</span></label>
                                    <!-- <input type="text" name="wizard_birth" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="wizard.wizard_birth"/> -->
									<input class="md-input" type="text" required id="uk_dp_end" md-input ng-model="wizard.wizard_birth">
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row"><br>
                                    <label for="mother_tongue">Mother Tongue<span class="req"></span></label>
                                    <input type="text" name="mother_tongue" class="md-input" md-input ng-model="wizard.mother_tongue" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                <br>
                                   <label for="religion">Religion<span class="req"></span></label>
                                    <input type="text" name="religion" class="md-input" md-input ng-model="wizard.religion" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <br ng-if="!wizard.nationality">
                                    <label ng-if="wizard.nationality" style="font-size: 12px;color: #727272;font-weight: 400;">Nationality<span class="req">*</span></label>
									<input type="text" config="selectize_nation_config" options="selectize_nation_options" ng-model="wizard.nationality" selectize/>
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px !important;">
                                <h2 class="heading_a">
                                    Course & Batch details
                                    <!-- <span class="sub-heading">Student Course & Batch details</span> -->
                                </h2>
                                <!-- <hr class="md-hr"/> -->
                            </div><br>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <br ng-if="!wizard.course_id">
                                    <label ng-if="wizard.course_id" style="font-size: 12px;color: #727272;font-weight: 400;">Course<span class="req">*</span></label>
                                    <input type="text" config="selectize_courseId_config" options="selectize_courseId_options" ng-model="wizard.course_id" selectize required/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <br ng-if="!wizard.batchId">
                                    <label ng-if="wizard.batchId" style="font-size: 12px;color: #727272;font-weight: 400;">Batch<span class="req">*</span></label>
                                    <input type="text" config="selectize_batchId_config" options="selectize_batchId_options" ng-model="wizard.batchId" selectize required/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                <br>
                                    <label for="roll_no">Roll No<span class="req"></span></label>
                                    <input type="text" ng-pattern-restrict="^[A-Za-z0-9-]*$" name="roll_no" id="roll_no" class="md-input" md-input ng-model="wizard.roll_no" />
                                </div>
                            </div>
                            <br>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button ng-if="!admission_details.$valid" class="md-btn md-btn-primary uk-float-right" type="submit">Update & Continue</button>
                                <button ng-if="admission_details.$valid" class="md-btn md-btn-primary uk-float-right" ng-click="admissionDetails()">Update & Continue</button>
                            </div>
                            <br>
							</form>
                        </wz-step>
                        <wz-step wz-title="Contact Information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Mailing Address
                            </h2><br>
                            <form class="contact_details" name="contact_details" id="contact_details">
								<div class="uk-width-medium-1-1">
									<div>
										<div class="">
											<div class="uk-grid" data-uk-grid-margin>
												<div class="uk-width-medium-1-1 parsley-row">
													<label for="address">Address<span class="req">*</span></label>
													<input type="text" ng-pattern-restrict="^[A-Za-z0-9-,. ]*$" name="address" id="address" required class="md-input" md-input ng-model="mailling.address" />
													<input type="hidden"  ng-model="mailling.addressId" />
												</div>
											</div>
											<div class="uk-grid" data-uk-grid-margin>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br>
													<label for="stu_city">City</label>
													<input type="text" ng-pattern-restrict="^[A-Za-z ]*$" class="md-input" md-input ng-model="mailling.city" />
												</div>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br>
													<label for="stu_state">State</label>
													<input type="text" ng-pattern-restrict="^[A-Za-z ]*$"  name="stu_state" id="stu_state" required class="md-input" md-input ng-model="mailling.state" />
												</div>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br>
													<label for="pincode">ZipCode</label>
													<input type="text" ng-pattern-restrict="^[0-9]*$" name="pincode" id="pincode" required class="md-input" md-input ng-model="mailling.pincode" numeric-only />
												</div>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br ng-if="!mailling.country">
                                                    <label ng-if="mailling.country" style="font-size: 12px;color: #727272;font-weight: 400;">Country<span class="req">*</span></label>
													<input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="mailling.country" selectize required/>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
								<h2 class="heading_a">
									Permanent Address
								</h2>
								<p>
									<input type="checkbox" name="sameAddress" icheck ng-model="checkbox_demo_1" ng-change="checkStatus(checkbox_demo_1)"/>
									<label for="checkbox_demo_1" class="inline-label">Same as Above Address</label>
								</p>
								<div class="uk-width-medium-1-1">
									<div>
										<div class="motherDetails">
											<div class="uk-grid" data-uk-grid-margin>
												<div class="uk-width-medium-1-1 parsley-row">
													<label for="address">Address<span class="req">*</span></label>
													<input type="text" ng-pattern-restrict="^[A-Za-z0-9-., ]*$" name="address" id="address" required class="md-input" md-input ng-model="permanent.address" />
													<input type="hidden"  ng-model="permanent.addressId" />
												</div>
											</div>
											<div class="uk-grid" data-uk-grid-margin>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br>
													<label for="stu_city">City</label>
													<input type="text" ng-pattern-restrict="^[A-Za-z ]*$" class="md-input" md-input ng-model="permanent.city" />
												</div>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br>
													<label for="stu_state">State</label>
													<input type="text" ng-pattern-restrict="^[A-Za-z ]*$" class="md-input" md-input ng-model="permanent.state" />
												</div>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br>
													<label for="pincode">ZipCode</label>
													<input type="text" ng-pattern-restrict="^[0-9]*$" class="md-input" md-input ng-model="permanent.pincode" numeric-only/>
												</div>
												<div class="uk-width-medium-1-4 parsley-row">
                                                    <br ng-if="!permanent.country">
                                                    <label ng-if="permanent.country" style="font-size: 12px;color: #727272;font-weight: 400;">Country<span class="req">*</span></label>
													<input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="permanent.country" selectize required/>
												</div>
											</div>
										</div>
									</div>
								</div>

								<br>
								<br>
								<h2 class="heading_a">
									Contact Details
								</h2><br>
								<div class="uk-width-medium-1-1">
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="material-icons">&#xE0CD;</i>
												</span>
												<label for="wizard_phone">Phone Number<span class="req">*</span></label>
												<input type="text" ng-pattern-restrict="^[0-9]*$" class="md-input" name="wizard_phone" id="wizard_phone" md-input ng-model="contact.phone" numeric-only required />
											</div>
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="material-icons">&#xE324;</i>
												</span>
												<label for="mobile_no">Mobile</label>
												<input type="text" ng-pattern-restrict="^\d{0,10}?$" class="md-input" name="mobile_no" id="mobile_no" md-input ng-model="contact.mobile_no" numeric-only/>
											</div>
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="material-icons">&#xE0BE;</i>
												</span>
												<label for="">Email<span class="req">*</span></label>
												<input type="email" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="contact.email" required />
											</div>
										</div>
									</div>
								</div>
								
								<br>
								<h2 class="heading_a">
									Social Profile
								</h2><br>
								<div class="uk-width-medium-1-1">
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="uk-icon-facebook"></i>
												</span>
												<label for="facebook">Facebook</label>
												<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" name="facebook" id="facebook" md-input ng-model="social.facebook" />
											</div>
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="uk-icon-google-plus"></i></a>
												</span>
												<label for="google">Google</label>
												<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" name="google" id="google" md-input ng-model="social.google" />
											</div>

										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="uk-icon-linkedin"></i>
												</span>
												<label for="linkedin">Linkedin</label>
												<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" name="linkedin" id="linkedin" md-input ng-model="social.linkedin" />
											</div>
										</div>
									</div>  
								</div>
								<br>
								<div class="uk-clearfix uk-margin-large-top">
									<button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" wz-previous>Back</button>
									<button class="md-btn md-btn-primary uk-float-right" type="submit" ng-if="!contact_details.$valid">Update & Continue</button>
									<button class="md-btn md-btn-primary uk-float-right" ng-if="contact_details.$valid" ng-click="contactDetails()" wz-next>Update & Continue</button>
								</div>
								<br>
							</form>
                        </wz-step>
						<wz-step wz-title="Additional Details" template="app/templates/wizard.step.tpl.html">
                            <form class="uk-form" >
                                <h2 class="heading_a" style="margin-bottom: 25px;">
                                    Previous Academics Details
                                </h2>
                                <div class="uk-grid uk-grid-medium" data-uk-grid-match ng-repeat="(topParent,previous) in form_dynamic1 track by $index">
                                    <div class="uk-width-8-10 uk-width-medium-9-10" style="margin-top: 0px;">
                                        <div class="uk-grid" >
                                            <div class="uk-width-medium-1-1" >
                                                <!-- <h2 class="heading_a">
                                                    Previous Education Details
                                                    <span class="sub-heading">Student Previous Academic Details</span>
                                                </h2> -->
                                                <div class="uk-grid" data-uk-grid-margin>
                                                    <div class="uk-width-medium-1-4 parsley-row">
                                                        <label for="institute">Institution Name<span class="req"></span></label>
                                                        <input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="previous.institute" />
                                                        <input type="hidden" ng-model="previous.preEdu_id" ng-value="{{previous.preEdu_id}}" />
                                                    </div>
                                                    <div class="uk-width-medium-1-4 parsley-row">
                                                        <label for="course_name">Course Name<span class="req"></span></label>
                                                        <input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="previous.course_name" />
                                                    </div>
                                                    <div class="uk-width-medium-1-4 parsley-row">
                                                        <label for="year">Year of completion<span class="req"></span></label>
                                                        <input type="text" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="previous.completion"/>
                                                    </div>
                                                    <div class="uk-width-medium-1-4 parsley-row">
                                                        <label for="total_mark">Total marks<span class="req"></span></label>
                                                        <input type="text" ng-pattern-restrict="^[A-Za-z0-9+, ]*$" required class="md-input" md-input ng-model="previous.total_mark"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center">
                                        <div class="uk-vertical-align uk-height-1-1" style="margin-top:10px">
                                            <div class="uk-vertical-align-middle">
                                                <a href="javascript:void(0)" ng-click="cloneSection1($event,$index,previous)" ng-if="$last"><i class="material-icons md-36">&#xE146;</i></a>
                                                <a href="javascript:void(0)" ng-click="deleteSection1($event,$index,previous)" ng-if=" form_dynamic1.length > 1"><i class="material-icons md-36">&#xE872;</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
							<form id="academics_details" name="academics_details" class="academics_details">
								<div class="" style="margin-top: 45px;">
									<h2 class="heading_a">
									Siblings
									</h2><br>
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-3 parsley-row">
											<br ng-if="!sibling.courseId">
                                            <label ng-if="sibling.courseId" style="font-size: 12px;color: #727272;font-weight: 400;">Course</label>
											<input type="text" config="sibling_courseId_config" options="sibling_courseId_options" ng-model="sibling.courseId" selectize/>
										</div>
										<div class="uk-width-medium-1-3 data-parsley-americandateley-row">
											<br ng-if="!sibling.batchId">
                                            <label ng-if="sibling.batchId" style="font-size: 12px;color: #727272;font-weight: 400;">Batch</label>
											<!-- <input type="text" config="selectize_a_config" options="selectize_batchId_options.options" ng-model="previous.selectize_a" name="selectize_a" selectize /> -->
											<input type="text" config="sibling_batchId_config" options="sibling_batchId_options" ng-model="sibling.batchId" selectize/>
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<br ng-if="!sibling.studentId">
                                            <label ng-if="sibling.studentId" style="font-size: 12px;color: #727272;font-weight: 400;">Search Student</label>
											<!-- <selectize id="selec_adv_1" config="selectize_planets_config" options="selectize_planets_options" position="bottom" ng-model="previous.selectize_planets"></selectize> -->
											<input type="text" config="sibling_studentId_config" options="sibling_studentId_options" ng-model="sibling.studentId" selectize/>
										</div>
									</div>
								</div>
								<div class="" style="margin-top: 45px;">
									<h2 class="heading_a">
										Additional Details
										<!-- <span class="sub-heading"> Additional Personal Details</span> -->
									</h2><br>

									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-3 parsley-row">
											<br>
											<label for="birthplace">Birth Place<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" name="birthplace" id="birthplace" class="md-input" md-input ng-model="previous.birthplace" />
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<br ng-if="!previous.selectize_blood">
                                            <label ng-if="previous.selectize_blood" style="font-size: 12px;color: #727272;font-weight: 400;">Blood Group</label>
											<input type="text" config="selectize_blood_config" options="selectize_blood_options" ng-model="previous.selectize_blood" name="selectize_blood" selectize/>
										</div>
										<!-- <div class="uk-width-medium-1-3 parsley-row">
											<label>Category</label>
											<input type="text" config="selectize_cat_config" options="selectize_cat_options" ng-model="previous.selectize_cat" name="selectize_cat" selectize/>
										</div> -->
                                        <div class="uk-width-medium-1-3 parsley-row">
                                            <br ng-if="!previous.selectize_styType">
                                            <label ng-if="previous.selectize_styType" style="font-size: 12px;color: #727272;font-weight: 400;">Student Type<span class="req">*</span></label>
                                            <input type="text" required config="selectize_styType_config" options="selectize_stuType_data" ng-model="previous.selectize_styType" selectize/>
                                        </div>
									</div>
									<div class="uk-grid" data-uk-grid-margin>
										
										<div class="uk-width-medium-1-3 parsley-row">
											<br ng-if="!previous.student_lives">
                                            <label ng-if="previous.student_lives" style="font-size: 12px;color: #727272;font-weight: 400;">Student Lives<span class="req">*</span></label>
											<input type="text" required config="selectize_studentLive_config" options="selectize_studentLive_options" ng-model="previous.student_lives" selectize/>
										</div>
									</div>
								</div>
								<div class="uk-clearfix uk-margin-large-top">
									<button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" wz-previous>Back</button>
									<button class="md-btn md-btn-primary uk-float-right" ng-if="!academics_details.$valid">Update & Continue</button>
									<button class="md-btn md-btn-primary uk-float-right" ng-if="academics_details.$valid" ng-click="academicsDetails()" wz-next>Update & Continue</button>
								</div>
							</form>
                        </wz-step>
                        <wz-step wz-title="Parent/Guardian Details" template="app/templates/wizard.step.tpl.html">
                            <form class="parents_details" name="parents_details" id="parents_details">
								<h2 class="heading_a">
									Father Details
									<!-- <span class="sub-heading">Personal Details</span> -->
								</h2>
								<div class="uk-grid" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row"><br>
										<label>First name<span class="req">*</span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="father.p_first_name">
										<input type="hidden" value="{{father.relationId}}" ng-model="father.relationId" />
										<input type="hidden" value="{{wizard.stuPro_id}}" ng-model="wizard.stuPro_id" />
										<input type="hidden" value="{{wizard.profileId}}" ng-model="wizard.profileId" />
										<input type="hidden" value="{{wizard.profileId}}" ng-model="father.first_relation" />
									</div>
									<div class="uk-width-medium-1-3 parsley-row"><br>
										<label >Last Name<span class="req">*</span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="father.p_last_name">
									</div>
									<!-- <div class="uk-width-medium-1-4 parsley-row"> -->
										<!-- <label >Relation<span class="req">*</span></label> -->
										<!-- <input type="text" required config="selectize_relation_config" options="selectize_relation_options" ng-model="father.first_relation" selectize /> -->
									<!-- </div> -->
									<div class="uk-width-medium-1-4 parsley-row">
									<br>
										<p>
											<input type="checkbox" name="availabe" icheck ng-model="checkbox_demo_11" ng-change="checkStatusParents(checkbox_demo_11)"/>
											<label for="checkbox_demo_11" class="inline-label">Available ?</label>
										</p>
									</div>
								</div>
								<div class="uk-grid first_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-4 parsley-row">
										<label >Date of Birth<span class="req"></span></label>
										<input type="text" class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="father.p_dob"/>
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
										<label >Education<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z-. ]*$" class="md-input" md-input ng-model="father.p_education" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
										<label >Occupation<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" class="md-input" md-input ng-model="father.occupation" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
										<label >Income<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[0-9-,]*$" class="md-input" md-input ng-model="father.p_income" numeric-only/>
									</div>
								</div>
								<div class="uk-grid first_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-1 parsley-row">
										<label >Address<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z0-9,- ]*$" class="md-input" md-input ng-model="father.pr_address" />
									</div>
								</div>
								<div class="uk-grid first_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br>
										<label >City<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z ]*$" class="md-input" md-input ng-model="father.pr_city" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br>
										<label >State<span class="req">*</span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z0-9.]*$" class="md-input" md-input ng-model="father.pr_state" ng-required="checkbox_demo_11" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br>
										<label >ZipCode<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[0-9]*$" class="md-input" md-input ng-model="father.pr_pincode" numeric-only/>
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br ng-if="!father.country">
                                        <label ng-if="father.country" style="font-size: 12px;color: #727272;font-weight: 400;">Country<span class="req">*</span></label>
										<input type="number" config="selectize_country_config" options="selectize_country_options" ng-model="father.country" selectize ng-required="checkbox_demo_11"/>
									</div>
								</div>
								<div class="uk-grid first_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="material-icons">&#xE0CD;</i>
											</span>
											<label >Phone Number<span class="req">*</span></label>
											<input type="text" ng-pattern-restrict="^[0-9]*$" ng-required="checkbox_demo_11" class="md-input" md-input ng-model="father.p_phone" numeric-only/>
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="material-icons">&#xE324;</i>
											</span>
											<label >Mobile<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^\d{0,10}?$" class="md-input" md-input ng-model="father.p_mobile_no" numeric-only/>
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="material-icons">&#xE0BE;</i>
											</span>
											<label >Email</label>
											<input type="email" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="father.p_email">
										</div>
									</div>
								</div>
								<div class="uk-grid first_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-facebook"></i>
											</span>
											<label for="facebook">Facebook</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="father.facebook" />
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-google-plus"></i>
											</span>
											<label for="google">Google</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="father.google" />
										</div>

									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-linkedin"></i>
											</span>
											<label for="linkedin">Linkedin</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="father.linkedin" />
										</div>
									</div>
								</div>
								<br>

								<h2 class="heading_a">
									Mother Details
									<!-- <span class="sub-heading">Personal Details</span> -->
								</h2>
								<div class="uk-grid" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row"><br>
										<label>First name<span class="req">*</span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" name="p_first_name" required class="md-input" md-input ng-model="mother.p_first_name">
										<input type="hidden" value="{{mother.relationId}}" ng-model="mother.relationId" />
										<input type="hidden" value="{{mother.second_relation}}" ng-model="mother.second_relation" />
									</div>
									<div class="uk-width-medium-1-3 parsley-row"><br>
										<label for="p_last_name">Last Name<span class="req">*</span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="mother.p_last_name">
									</div>
									<!-- <div class="uk-width-medium-1-4 parsley-row"> -->
										<!-- <label for="p_relation">Relation<span class="req">*</span></label> -->
										 <!-- <input type="text" required config="selectize_relation_config" options="selectize_relation_options" ng-model="mother.second_relation" selectize /> -->
									<!-- </div> -->
									<div class="uk-width-medium-1-4 parsley-row">
									<br>
										<p>
											<input type="checkbox" name="availabe1" icheck ng-model="checkbox_demo_2" ng-change="checkStatusParents1(checkbox_demo_2)"/>
											<label for="checkbox_demo_2" class="inline-label">Available ?</label>
										</p>
									</div>
								</div>
								<div class="uk-grid second_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-4 parsley-row">
										<label for="p_dob">Date of Birth<span class="req"></span></label>
										<input type="text" name="p_dob_[topParent]" class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="mother.p_dob"/>
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
										<label for="p_education">Education<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z-. ]*$" name="p_education" id="p_education" class="md-input" md-input ng-model="mother.p_education" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
										<label for="occupation">Occupation<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" name="occupation_[topParent]" class="md-input" md-input ng-model="mother.occupation" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
										<label for="p_income">Income<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[0-9,]*$" name="p_income_[topParent]" class="md-input" md-input ng-model="mother.p_income" numeric-only/>
									</div>
								</div>
								<div class="uk-grid second_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-1 parsley-row">
										<label>Address<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z0-9,- ]*$" class="md-input" md-input ng-model="mother.pr_address" />
									</div>
								</div>
								<div class="uk-grid second_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br>
										<label >City<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" class="md-input" md-input ng-model="mother.pr_city" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br>
										<label >State<span class="req">*</span></label>
										<input type="text" class="md-input" ng-pattern-restrict="^[A-Za-z- ]*$" md-input ng-model="mother.pr_state" ng-required="checkbox_demo_2" />
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br>
										<label >ZipCode<span class="req"></span></label>
										<input type="text" ng-pattern-restrict="^[0-9]*$" class="md-input" md-input ng-model="mother.pr_pincode" numeric-only/>
									</div>
									<div class="uk-width-medium-1-4 parsley-row">
                                        <br ng-if="!mother.country">
                                        <label ng-if="mother.country" style="font-size: 12px;color: #727272;font-weight: 400;">Country<span class="req">*</span></label>
										<input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="mother.country" selectize ng-required="checkbox_demo_2" />
									</div>
								</div>
								<div class="uk-grid second_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="material-icons">&#xE0CD;</i>
											</span>
											<label >Phone Number<span class="req">*</span></label>
											<input type="text" ng-pattern-restrict="^[0-9]*$" ng-required="checkbox_demo_2" class="md-input"  md-input ng-model="mother.p_phone" numeric-only/>
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="material-icons">&#xE324;</i>
											</span>
											<label>Mobile<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^\d{0,10}?$" class="md-input" md-input ng-model="mother.p_mobile_no" numeric-only/>
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="material-icons">&#xE0BE;</i>
											</span>
											<label >Email</label>
											<input type="email" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="mother.p_email">
										</div>
									</div>
								</div>
								<div class="uk-grid second_details" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-facebook"></i>
											</span>
											<label for="facebook">Facebook</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="mother.facebook" />
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-google-plus"></i>
											</span>
											<label for="google">Google</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="mother.google" />
										</div>

									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-linkedin"></i>
											</span>
											<label for="linkedin">Linkedin</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="mother.linkedin" />
										</div>
									</div>
								</div>
								<br>
								<div class="" ng-if="rmBtnGuardian">
									<button type="button" ng-if="removeGuardian" class="md-btn md-btn-danger uk-float-right" ng-click="hideGuardianFrom()"><i class="material-icons">remove</i> Remove Guardian</button>
									<button type="button" ng-if="addGuardian" class="md-btn md-btn-primary uk-float-right" ng-click="showGuardianFrom()"><i class="material-icons">add</i> Add Guardian</button>
								</div>
								<br>
								<!-- Guardian Details -->
								<div class="" ng-if="guardianCon">
									<h2 class="heading_a">
										Guardian Details
										<!-- <span class="sub-heading">Personal Details</span> -->
									</h2>
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-3 parsley-row"><br>
											<label>First name<span class="req">*</span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="guardian.p_first_name">
											<input type="hidden" value="{{guardian.relationId}}" ng-model="guardian.relationId" />
											<input type="hidden" value="{{guardian.third_relation}}" ng-model="guardian.third_relation" />
										</div>
										<div class="uk-width-medium-1-3 parsley-row"><br>
											<label >Last Name<span class="req">*</span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" required class="md-input" md-input ng-model="guardian.p_last_name">
										</div>
										<!-- <div class="uk-width-medium-1-3 parsley-row"> -->
											<!-- <label >Relation<span class="req">*</span></label> -->
											 <!-- <input type="text" config="selectize_gurdian_config" options="selectize_gurdian_options" ng-model="guardian.third_relation" selectize /> -->
										<!-- </div> -->
									</div>
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-4 parsley-row">
											<label >Date of Birth<span class="req"></span></label>
											<input type="text" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="guardian.p_dob"/>
										</div>
										<div class="uk-width-medium-1-4 parsley-row">
											<label >Education<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z-. ]*$" class="md-input" md-input ng-model="guardian.p_education" />
										</div>
										<div class="uk-width-medium-1-4 parsley-row">
											<label >Occupation<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" class="md-input" md-input ng-model="guardian.occupation" />
										</div>
										<div class="uk-width-medium-1-4 parsley-row">
											<label >Income<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[0-9,]*$" class="md-input" md-input ng-model="guardian.p_income" numeric-only/>
										</div>
									</div>
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-1 parsley-row">
											<label >Address<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9,- ]*$" class="md-input" md-input ng-model="guardian.pr_address" />
										</div>
									</div>
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-4 parsley-row">
                                            <br>
											<label >City<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[A-Za-z- ]*$" class="md-input" md-input ng-model="guardian.pr_city" />
										</div>
										<div class="uk-width-medium-1-4 parsley-row">
                                            <br>
											<label >State<span class="req">*</span></label>
                                            <input type="text" class="md-input" ng-pattern-restrict="^[A-Za-z- ]*$" md-input ng-model="guardian.pr_state" ng-required="guardianCon"/>
										</div>
										<div class="uk-width-medium-1-4 parsley-row">
                                            <br>
											<label >ZipCode<span class="req"></span></label>
											<input type="text" ng-pattern-restrict="^[0-9]*$" class="md-input" md-input ng-model="guardian.pr_pincode" numeric-only/>
										</div>
										<div class="uk-width-medium-1-4 parsley-row">
                                            <br ng-if="!guardian.country">
                                            <label ng-if="guardian.country" style="font-size: 12px;color: #727272;font-weight: 400;">Country<span class="req">*</span></label>
											<input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="guardian.country" selectize ng-required="guardianCon"/>
										</div>
									</div>
									<div class="uk-grid" data-uk-grid-margin>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="material-icons">&#xE0CD;</i>
												</span>
												<label >Phone Number<span class="req">*</span></label>
												<input type="text" ng-pattern-restrict="^[0-9]*$" ng-required="guardianCon" class="md-input" md-input ng-model="guardian.p_phone" numeric-only/>
											</div>
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="material-icons">&#xE324;</i>
												</span>
												<label >Mobile<span class="req"></span></label>
												<input type="text" ng-pattern-restrict="^\d{0,10}?$" class="md-input" md-input ng-model="guardian.p_mobile_no" numeric-only />
											</div>
										</div>
										<div class="uk-width-medium-1-3 parsley-row">
											<div class="uk-input-group">
												<span class="uk-input-group-addon">
													<i class="material-icons">&#xE0BE;</i>
												</span>
												<label for="">Email</label>
												<input type="email" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="guardian.p_email">
											</div>
										</div>
									</div>
									<div class="uk-grid" data-uk-grid-margin>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-facebook"></i>
											</span>
											<label for="facebook">Facebook</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="guardian.facebook" />
										</div>
									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-google-plus"></i>
											</span>
											<label for="google">Google</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="guardian.google" />
										</div>

									</div>
									<div class="uk-width-medium-1-3 parsley-row">
										<div class="uk-input-group">
											<span class="uk-input-group-addon">
												<i class="uk-icon-linkedin"></i>
											</span>
											<label for="linkedin">Linkedin</label>
											<input type="text" ng-pattern-restrict="^[A-Za-z0-9@.]*$" class="md-input" md-input ng-model="guardian.linkedin" />
										</div>
									</div>
								</div>
								</div>
								<div class="uk-clearfix uk-margin-large-top">
									<button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
									<button class="md-btn md-btn-primary uk-float-right" type="submit" ng-if="!parents_details.$valid">Update & Finish</button>
									<button class="md-btn md-btn-primary uk-float-right" ng-click="parentsDetails()" ng-if="parents_details.$valid">Update & Finish</button>
								</div>
							</form>
								<form class="uk-form" >
									<div class="uk-grid uk-grid-medium form_hr" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index">
										<div class="uk-width-8-10 uk-width-medium-9-10">
											<div class="uk-grid" ng-repeat="fields in section" on-last-repeat>
												<div class="uk-width-1-1" ng-if="$parent.$index == 1" ng-repeat="input in fields" >

													
											</div>
										</div>
										
									</div>
								</form>
								</div>
                        </wz-step>
                    </wizard>
                <!-- </form> -->
            </div>
        </div>

    </div>
</div>


<!-- <div class="uk-width-medium-1-3" ng-controller="cameraController as vm"> -->
      <!-- <div id="modal_overflow" class="uk-modal"> -->
        <!-- <div class="uk-modal-dialog"> -->
          <!-- <button type="button" class="uk-modal-close uk-close"></button> -->
          <!-- <h3 class="uk-modal-title"><!<i class="uk-icon-institution"></i>&nbsp; --> <!-- Add Grades </h3> --> 
            <!-- <ng-camera -->
            <!-- capture-message="Cheeeese!" -->
            <!-- countdown="3" -->
            <!-- output-height="160" -->
            <!-- output-width="213" -->
            <!-- viewer-height="320" -->
            <!-- viewer-width="426" -->
            <!-- image-format="jpeg" -->
            <!-- jpeg-quality="100" -->
            <!-- action-message="Take picture" -->
            <!-- snapshot="vm.picture" -->
            <!-- flash-fallback-url="/vendors/webcamjs/webcam.swf" -->
            <!-- overlay-url="/overlay.png" -->
            <!-- shutter-url="/shutter.mp3" -->
            <!-- ></ng-camera> -->
         <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->