<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
    .selectize-dropdown{
        margin-top: 0px;
    }
    .selectize-dropdown-content {
        max-height: 153px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step wz-title="Student Admission" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Personal Details
                                <span class="sub-heading">Student Admission & Personal details</span>
                            </h2>
                            <hr class="md-hr"/>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="admission_no">Admission No<span class="req">*</span></label>
                                    <input type="text" name="admission_no" id="admission_no" required class="md-input" md-input ng-model="wizard.w1_birth_place" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="admission_date">Admission Date<span class="req">*</span></label>
                                    <input type="text" name="admission_date" id="admission_date" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.admission_date"/>
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-2"></div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img ng-src="assets/img/avatars/user.png" alt="user avatar"/>
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                        <div class="user_avatar_controls">
                                                                <span class="btn-file">
                                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                                </span>
                                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="first_name">First Name<span class="req">*</span></label>
                                    <input type="text" name="first_name" id="first_name" required class="md-input" md-input ng-model="wizard.first_name" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="last_name">Last Name<span class="req">*</span></label>
                                    <input type="text" name="last_name" id="last_name" required class="md-input" md-input ng-model="wizard.last_name" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label class="uk-form-label">Gender<span class="req">*</span></label>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_married" required value="married" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_married" class="inline-label">Male</label>
                                    </span>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_single" class="wizard-icheck" value="single" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_single" class="inline-label">Female</label>
                                    </span>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                 <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="wizard_birth_place">Date of Birth<span class="req">*</span></label>
                                    <input type="text" name="wizard_birth" id="wizard_birth" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_birth_date"/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_n_config" options="selectize_n_options" ng-model="selectize_n" name="selectize_n" selectize/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="mother_tongue">Mother Tongue<span class="req"></span></label>
                                    <input type="text" name="mother_tongue" id="mother_tongue" required class="md-input" md-input ng-model="wizard.mother_tongue" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                   <label for="religion">Religion<span class="req"></span></label>
                                    <input type="text" name="religion" id="religion" required class="md-input" md-input ng-model="wizard.religion" />
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px !important;">
                                <h2 class="heading_a">
                                    Academic Details
                                    <span class="sub-heading">Student Course & Batch details</span>
                                </h2>
                                <hr class="md-hr"/>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2 data-parsley-americandateley-row">
                                    <input type="text" config="selectize_d_config" options="selectize_d_options" ng-model="selectize_d" name="selectize_d" selectize />
                                </div>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <input type="text" config="selectize_c_config" options="selectize_c_options" ng-model="selectize_c" name="selectize_c" selectize/>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <input type="text" config="selectize_a_config" options="selectize_a_data.options" ng-model="selectize_a" name="selectize_a" selectize />
                                </div>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <label for="roll_no">Roll No<span class="req"></span></label>
                                    <input type="text" name="roll_no" id="roll_no" required class="md-input" md-input ng-model="wizard.roll_no" />
                                </div>
                            </div>
                            <br>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Continue</button>
                            </div>
                            <br>
                        </wz-step>
                        <wz-step wz-title="Contact Information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Conatact Details
                                <span class="sub-heading">Student Contact details</span>
                            </h2>
                            <hr class="md-hr"/>
                            
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label for="address">Address<span class="req">*</span></label>
                                    <input type="text" name="address" id="address" required class="md-input" md-input ng-model="wizard.address" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="stu_city">City<span class="req">*</span></label>
                                    <input type="text" name="stu_city" id="stu_city" required class="md-input" md-input ng-model="wizard.stu_city" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="stu_state">State<span class="req">*</span></label>
                                    <input type="text" name="stu_state" id="stu_state" required class="md-input" md-input ng-model="wizard.stu_state" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="pincode">Pincode<span class="req">*</span></label>
                                    <input type="text" name="pincode" id="pincode" required class="md-input" md-input ng-model="wizard.pincode" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="selectize_country" name="selectize_country" selectize />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE0CD;</i>
                                        </span>
                                        <label for="wizard_phone">Phone Number</label>
                                        <input type="text" class="md-input" name="wizard_phone" id="wizard_phone" md-input ng-model="wizard.w1_phone" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE324;</i>
                                        </span>
                                        <label for="mobile_no">Mobile</label>
                                        <input type="text" class="md-input" name="mobile_no" id="mobile_no" md-input ng-model="wizard.mobile_no" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE0BE;</i>
                                        </span>
                                        <label for="">Email</label>
                                        <input type="text" class="md-input" name="email" id="eamil" md-input ng-model="wizard.email" />
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Continue</button>
                            </div>
                            <br>
                        </wz-step>
                        <wz-step wz-title="Parent/Guardian Details" template="app/templates/wizard.step.tpl.html">
                                <form class="uk-form" >
                                    <div class="uk-grid uk-grid-medium form_hr" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index">
                                        <div class="uk-width-8-10 uk-width-medium-9-10">
                                            <div class="uk-grid" ng-repeat="fields in section" on-last-repeat>
                                                <div class="uk-width-1-1" ng-if="$parent.$index == 1" ng-repeat="input in fields" >

                                                    <h2 class="heading_a">
                                                        Parent/Guardian Information
                                                        <span class="sub-heading">Personal Details</span>
                                                    </h2>
                                                    <hr class="md-hr"/>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-3 parsley-row">
                                                            <label for="p_first_name">First name<span class="req">*</span></label>
                                                            <input type="text" name="p_first_name" id="p_first_name" required class="md-input" md-input ng-model="wizard.p_first_name" />
                                                        </div>
                                                        <div class="uk-width-medium-1-3 parsley-row">
                                                            <label for="p_last_name">Last Name<span class="req">*</span></label>
                                                            <input type="text" name="p_last_name" id="p_last_name" required class="md-input" md-input ng-model="wizard.p_last_name" />
                                                        </div>
                                                        <div class="uk-width-medium-1-3 parsley-row">
                                                            <label for="p_religion">Relation<span class="req">*</span></label>
                                                            <input type="text" name="p_religion" id="p_religion" required class="md-input" md-input ng-model="wizard.p_religion" />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-4 parsley-row">
                                                            <label for="p_dob">Date of Birth<span class="req">*</span></label>
                                                            <input type="text" name="p_dob" id="p_dob" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_birth_date"/>
                                                        </div>
                                                        <div class="uk-width-medium-1-4 parsley-row">
                                                            <label for="p_education">Education<span class="req"></span></label>
                                                            <input type="text" name="p_education" id="p_education" required class="md-input" md-input ng-model="wizard.p_education" />
                                                        </div>
                                                        <div class="uk-width-medium-1-4 parsley-row">
                                                            <label for="occupation">Occupation<span class="req"></span></label>
                                                            <input type="text" name="occupation" id="occupation" required class="md-input" md-input ng-model="wizard.occupation" />
                                                        </div>
                                                        <div class="uk-width-medium-1-4 parsley-row">
                                                            <label for="p_income">Income<span class="req"></span></label>
                                                            <input type="text" name="p_income" id="p_income" required class="md-input" md-input ng-model="wizard.p_income" />
                                                        </div>
                                                    </div>

                                                    <div class="" style="margin-top: 45px;">
                                                    <h2 class="heading_a">
                                                        Contact Information
                                                    </h2>
                                                    <hr class="md-hr"/>
                                                        <div class="uk-grid" data-uk-grid-margin>
                                                            <div class="uk-width-medium-1-1 parsley-row">
                                                                <label for="pr_address">Address<span class="req">*</span></label>
                                                                <input type="text" name="pr_address" id="pr_address" required class="md-input" md-input ng-model="wizard.pr_address" />
                                                            </div>
                                                        </div>
                                                        <div class="uk-grid" data-uk-grid-margin>
                                                            <div class="uk-width-medium-1-4 parsley-row">
                                                                <label for="pr_city">City<span class="req"></span></label>
                                                                <input type="text" name="pr_city" id="pr_city" required class="md-input" md-input ng-model="wizard.pr_city" />
                                                            </div>
                                                            <div class="uk-width-medium-1-4 parsley-row">
                                                                <label for="pr_state">State<span class="req"></span></label>
                                                                <input type="text" name="pr_state" id="pr_state" required class="md-input" md-input ng-model="wizard.pr_state" />
                                                            </div>
                                                            <div class="uk-width-medium-1-4 parsley-row">
                                                                <label for="pr_pincode">Pincode<span class="req"></span></label>
                                                                <input type="text" name="pr_pincode" id="pr_pincode" required class="md-input" md-input ng-model="wizard.pr_pincode" />
                                                            </div>
                                                            <div class="uk-width-medium-1-4 parsley-row">
                                                                <input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="selectize_country" name="selectize_country" selectize />
                                                            </div>
                                                        </div>
                                                        <div class="uk-grid" data-uk-grid-margin>
                                                            <div class="uk-width-medium-1-3 parsley-row">
                                                                <div class="uk-input-group">
                                                                    <span class="uk-input-group-addon">
                                                                        <i class="material-icons">&#xE0CD;</i>
                                                                    </span>
                                                                    <label for="wizard_phone">Phone Number</label>
                                                                    <input type="text" class="md-input" name="wizard_phone" id="wizard_phone" md-input ng-model="wizard.w1_phone" />
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-medium-1-3 parsley-row">
                                                                <div class="uk-input-group">
                                                                    <span class="uk-input-group-addon">
                                                                        <i class="material-icons">&#xE324;</i>
                                                                    </span>
                                                                    <label for="mobile_no">Mobile</label>
                                                                    <input type="text" class="md-input" name="mobile_no" id="mobile_no" md-input ng-model="wizard.mobile_no" />
                                                                </div>
                                                            </div>
                                                            <div class="uk-width-medium-1-3 parsley-row">
                                                                <div class="uk-input-group">
                                                                    <span class="uk-input-group-addon">
                                                                        <i class="material-icons">&#xE0BE;</i>
                                                                    </span>
                                                                    <label for="">Email</label>
                                                                    <input type="text" class="md-input" name="email" id="eamil" md-input ng-model="wizard.email" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center" style="float: right !important;">
                                                <div class="uk-vertical-align uk-height-1-1">
                                                    <div class="uk-vertical-align-middle">
                                                        <a href="javascript:void(0)" ng-click="cloneSection($event,$index)" ng-if="$last"><i class="material-icons md-36">&#xE146;</i></a>
                                                        <a href="javascript:void(0)" ng-click="deleteSection($event,$index)" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float: right;">
                                                <span class="uk-alert uk-alert-success" ng-if="$last">Add another Parent/guardian details</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Continue</button>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Additional Details" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Additional Details
                                <span class="sub-heading"> Additional Personal Details</span>
                            </h2>
                            <hr class="md-hr"/>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_blood_config" options="selectize_blood_options" ng-model="selectize_blood" name="selectize_blood" selectize/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="birthplace">Birth Place<span class="req"></span></label>
                                   <input type="text" name="birthplace" id="birthplace" required class="md-input" md-input ng-model="wizard.birthplace" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_cat_config" options="selectize_cat_options" ng-model="selectize_cat" name="selectize_cat" selectize/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_styType_config" options="selectize_stuType_data" ng-model="selectize_styType" selectize/>
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px;">
                            <h2 class="heading_a">
                                Previous Education Details
                                <span class="sub-heading">Student Previous Academic Details</span>
                            </h2>
                            <hr class="md-hr"/>



                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="institute">Institution Name<span class="req"></span></label>
                                    <input type="text" name="institute" id="institute" required class="md-input" md-input ng-model="wizard.institute" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="course_name">Course Name<span class="req"></span></label>
                                    <input type="text" name="course_name" id="course_name" required class="md-input" md-input ng-model="wizard.course_name" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="year">Year of completion<span class="req"></span></label>
                                    <input type="text" name="birth_place" id="birth_place" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.year"/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="total_mark">Total marks<span class="req"></span></label>
                                    <input type="text" name="total_mark" id="total_mark" required class="md-input" md-input ng-model="wizard.total_mark" />
                                </div>
                            </div>
                            </div>
                            <div class="" style="margin-top: 45px;">
                                <h2 class="heading_a">
                                Siblings
                                <span class="sub-heading">Connect with Siblings in the Institution</span>
                                </h2>
                                <hr class="md-hr"/>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="Sibling">Sibling<span class="req"></span></label>
                                        <input type="text" name="Sibling" id="Sibling" required class="md-input" md-input ng-model="wizard.Sibling" />
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px;">
                                <h2 class="heading_a">
                                Social Profile
                                <span class="sub-heading">Student Social Profile Details</span>
                                </h2>
                                <hr class="md-hr"/>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <a href="#"><i class="uk-icon-facebook"></i></a>
                                            </span>
                                            <label for="facebook">Facebook</label>
                                            <input type="text" class="md-input" name="facebook" id="facebook" md-input ng-model="wizard.facebook" />
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <a href="#"><i class="uk-icon-google-plus"></i></a>
                                            </span>
                                            <label for="google">Google</label>
                                            <input type="text" class="md-input" name="google" id="google" md-input ng-model="wizard.google" />
                                        </div>

                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <a href="#"><i class="uk-icon-linkedin"></i></a>
                                            </span>
                                            <label for="linkedin">Linkedin</label>
                                            <input type="text" class="md-input" name="linkedin" id="linkedin" md-input ng-model="wizard.linkedin" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Finish</button>
                            </div>
                        </wz-step>
                    </wizard>

                </form>
            </div>
        </div>

    </div>
</div>
