    <style type="text/css">
        .adjCardHeight{
            height: 361px !important;
        }
        .adjCardHeightScroll{
            overflow-y: scroll !important;
            height: 255px !important;
        }
        .uk-accordion-alt .uk-accordion-content {
            padding: 0 0 15px 48px;
        }

        .md-card-list-item-avatar.AdjImgRadius {
            border-radius: 50%;
            height: 100%;
            width: 65%;
        }
        
    </style>
    <div id="page_content">
        <div id="page_content_inner">


            <!-- statistics (small charts) -->
            <div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium hierarchical_show"  data-uk-grid-margin hierarchical-show>
                <div ng-repeat="stat in dynamicStats" on-last-repeat>
                    <div class="md-card" id="stat_{{$index+1}}">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-small-right">
                                <!-- <peity-bar-chart data="stat.chart_data" options="stat.chart_options" ng-if="stat.id == '1'" ></peity-bar-chart> -->
                                <img src="assets/img/attendance_list_icon.jpg" ng-if="stat.id == '1'" width="48" height="28" alt=""/>
                                <img src="assets/img/MC900439824.PNG" ng-if="stat.id == '2'" width="48" height="28" alt=""/>
                                <img src="assets/img/assignment_icon.jpg" ng-if="stat.id == '3'" width="48" height="28" alt=""/>
                                <img src="assets/img/index.png" ng-if="stat.id == '4'" width="48" height="28" alt=""/>
                                <!-- <peity-line-chart data="stat.chart_data" options="stat.chart_options" ng-if="stat.id == '2'"></peity-line-chart>
                                <peity-donut-chart data="stat.chart_data" options="stat.chart_options" ng-if="stat.id == '3'"></peity-donut-chart>
                                <peity-line-chart data="stat.chart_data" options="stat.chart_options" ng-if="stat.id == '4'"></peity-line-chart> -->
                            </div>
                            <span class="uk-text-muted uk-text-small">{{ stat.title }}</span>
                            <a ui-sref="restricted.stuExamReport"><span class="uk-text-muted uk-text-small" ng-if="stat.title == 'Examination'">{{ stat.title }}</span></a>
                            <h2 class="uk-margin-remove">
                                <span ng-if="stat.id == '1'" count-up suffix="%" id="count_1" separator="," ng-model="stat.count">0</span>
                                <span ng-if="stat.id == '2'" count-up suffix="%" id="count_2" ng-model="stat.count">0</span>
                                <span ng-if="stat.id == '3'" count-up id="count_3" ng-model="stat.count">0</span>
                                <span ng-if="stat.id == '4'" count-up id="count_4" ng-model="stat.count">0</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-large-1-2">
                    <div class="md-card">
                        <tien-clndr id="clndr_events" class="uk-display-block" tien-clndr-object="clndr" tien-clndr-events="clndr_events" tien-clndr-options="clndr_options">
                            <div class="clndr clndr-wrapper">
                                <div class="md-card-toolbar">
                                    <div class="md-card-toolbar-actions">
                                        <i class="md-icon material-icons" ng-click="addEventForm($event)">&#xE145;</i>
                                        <i class="md-icon clndr_today material-icons" ng-click="clndr_today()">&#xE8DF;</i>
                                        <i class="md-icon material-icons" ng-click="clndr_prev_month()">&#xE408;</i>
                                        <i class="md-icon material-icons uk-margin-remove" ng-click="clndr_next_month()">&#xE409;</i>
                                    </div>
                                    <h3 class="md-card-toolbar-heading-text">
                                        {{ month }} {{ year }}
                                    </h3>
                                </div>
                                <div class="clndr_days">
                                    <div class="clndr_days_names">
                                        <div class="day-header" ng-repeat="day in daysOfTheWeek track by $index">
                                            {{ day }}
                                        </div>
                                    </div>
                                    <div class="clndr_days_grid">
                                        <div class="{{ day.classes }}" ng-repeat="day in days" ng-click="showEvents($event,day)">
                                            <span>{{ day.day }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clndr_events">
                                    <i class="material-icons clndr_events_close_button" ng-click="closeEvents()">&#xE5CD;</i>
                                    <div class="clndr_event" ng-repeat="event in clndr_events | filter: selectedDay">
                                        <a href="{{ event.url }}">
                                            <span class="clndr_event_title">{{ event.title }}</span>
                                            <span class="clndr_event_more_info" ng-if="event.timeStart || event.timeEnd">
                                                {{event.timeStart}}<span ng-if="event.timeStart && event.timeEnd"> - </span>{{event.timeEnd}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </tien-clndr>
                        <div class="uk-modal" id="modal_clndr_new_event">
                            <div class="uk-modal-dialog">
                                <div class="uk-modal-header">
                                    <h3 class="uk-modal-title">New Event</h3>
                                </div>
                                <div class="uk-margin-bottom">
                                    <label for="clndr_event_title_control">Event Title</label>
                                    <input type="text" class="md-input" id="clndr_event_title_control" ng-model="newEvent.title" md-input />
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="clndr_event_link_control">Event Link</label>
                                    <input type="text" class="md-input" id="clndr_event_link_control" md-input ng-model="newEvent.link" />
                                </div>
                                <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-large-bottom" data-uk-grid-margin>
                                    <div>
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                            <label for="clndr_event_date_control">Event Date</label>
                                            <input class="md-input" type="text" id="clndr_event_date_control" ng-model="newEvent.date" data-uk-datepicker="{format:'YYYY-MM-DD', addClass: 'dropdown-modal' }" md-input>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                            <label for="clndr_event_start_control">Event Start</label>
                                            <input class="md-input" type="text" id="clndr_event_start_control" ng-model="newEvent.time_start" data-uk-timepicker md-input>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                            <label for="clndr_event_end_control">Event End</label>
                                            <input class="md-input" type="text" id="clndr_event_end_control" ng-model="newEvent.time_end" data-uk-timepicker md-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button><button type="button" class="md-btn md-btn-flat md-btn-flat-primary" id="clndr_new_event_submit" ng-click="addEvent($event)">Add Event</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="uk-width-large-1-2"> -->
                    <!-- <div class="md-card adjCardHeight"> -->
                            <!-- <div class="md-card-toolbar"> -->
                                <!-- <div class="md-card-toolbar-actions"> -->
                                    <!-- <i class="md-icon material-icons" ng-click="addTodoForm($event)">&#xE145;</i> -->
                                <!-- </div> -->
                                <!-- <h3 class="md-card-toolbar-heading-text large"> -->
                                    <!-- Todo List -->
                                <!-- </h3> -->
                            <!-- </div> -->
                            <!-- <div class="md-card-content adjCardHeightScroll" id="todo_list"> -->
                                <!-- <div ng-class="{ 'uk-margin-large-bottom': ($index+1) != todo_length }"> -->
                                    <!-- <!-- <h2 class="heading_list uk-text-upper">{{list.list_name}}</h2> --> 
                                    <!-- <ul class="md-list md-list-addon uk-margin-small-bottom uk-nestable" data-uk-nestable="{ maxDepth: 2, handleClass: 'md-list-content' }"> -->
                                        <!-- <li class="uk-nestable-item" ng-class="{'md-list-item-disabled': task.CLOSED}" ng-repeat="task in todo_data"> -->
                                            <!-- <div class="md-list-addon-element"> -->
                                                <!-- <input type="checkbox" icheck ng-model="task.CLOSED" /> -->
                                            <!-- </div> -->
                                            <!-- <div class="md-list-content"> -->
                                                <!-- <a href="#" class="md-list-action" ng-click="removeTodo($index)"><i class="md-icon material-icons">&#xE872;</i></a> -->
                                                <!-- <span class="md-list-heading" ng-class="{'uk-text-danger': task.IMPORTANT}">{{task.TITLE}}</span> -->
                                                <!-- <span class="uk-text-small" ng-class="{'uk-text-danger': task.IMPORTANT, 'uk-text-muted': !task.IMPORTANT}">{{task.DESCRIPTION}}</span> -->
                                            <!-- </div> -->
                                        <!-- </li> -->
                                    <!-- </ul> -->
                                <!-- </div> -->
                            <!-- </div> -->
                    <!-- </div> -->

                    <!-- <div class="uk-modal" id="new_todolist"> -->
                        <!-- <div class="uk-modal-dialog"> -->
                            <!-- <div class="uk-modal-header"> -->
                                <!-- <h3 class="uk-modal-title">New Todo</h3> -->
                            <!-- </div> -->
                            <!-- <div class="uk-margin-bottom"> -->
                                <!-- <label for="clndr_event_title_control">Todo Title</label> -->
                                <!-- <input type="text" class="md-input" id="clndr_event_title_control" ng-model="todoTitle" md-input /> -->
                            <!-- </div> -->
                            <!-- <div class="uk-margin-medium-bottom"> -->
                                <!-- <label for="clndr_event_link_control">Todo Description</label> -->
                                <!-- <input type="text" class="md-input" id="clndr_event_link_control" md-input ng-model="todoDesc" /> -->
                            <!-- </div> -->
                            <!-- <div class="uk-modal-footer uk-text-right"> -->
                                <!-- <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button><button type="button" class="md-btn md-btn-flat md-btn-flat-primary" id="clndr_new_event_submit" ng-click="addTodo($event)">Add Todo</button> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
				
				
				<div class="uk-width-large-1-2">
                    <div class="md-card adjCardHeight">
                            <div class="md-card-toolbar">
                                <div class="md-card-toolbar-actions">
                                    <i class="md-icon material-icons" ng-click="addTodoForm($event)">&#xE145;</i>
                                </div>
                                <h3 class="md-card-toolbar-heading-text large">
                                    Todo List
                                </h3>
                            </div>
                            <div class="md-card-content adjCardHeightScroll" id="todo_list">
                                <div ng-class="{ 'uk-margin-large-bottom': ($index+1) != todo_length }">
                                    <!-- <h2 class="heading_list uk-text-upper">{{list.list_name}}</h2> -->
                                    <ul class="md-list md-list-addon uk-margin-small-bottom uk-nestable" data-uk-nestable="{ maxDepth: 2, handleClass: 'md-list-content' }">
                                        <li class="uk-nestable-item" ng-class="{'md-list-item-disabled': task.CLOSED}" ng-repeat="task in todo_data">
                                            <div class="md-list-addon-element">
                                                <input type="checkbox" icheck ng-model="task.CLOSED" />
                                            </div>
                                            <div class="md-list-content">
                                                <a class="md-list-action" ng-click="removeTodo($index,task.ID)"><i class="md-icon material-icons">&#xE872;</i></a>
                                                <span class="md-list-heading" ng-class="{'uk-text-danger': task.IMPORTANT}">{{task.TITLE}}</span>
                                                <span class="uk-text-small" ng-class="{'uk-text-danger': task.IMPORTANT, 'uk-text-muted': !task.IMPORTANT}">{{task.DESCRIPTION}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="uk-modal" id="new_todolist">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h3 class="uk-modal-title">New Todo</h3>
                            </div>
                            <div class="uk-margin-bottom">
                                <label for="clndr_event_title_control">Todo Title</label>
                                <input type="text" class="md-input" id="clndr_event_title_control" ng-model="todoTitle" md-input />
                            </div>
                            <div class="uk-margin-medium-bottom">
                                <label for="clndr_event_link_control">Todo Description</label>
                                <input type="text" class="md-input" id="clndr_event_link_control" md-input ng-model="todoDesc" />
                            </div>
							<!-- <div class="uk-margin-medium-bottom"> -->
                                <!-- <label for="clndr_event_link_control">Todo Date</label> -->
                                <!-- <input type="text" class="md-input" id="clndr_event_link_control" md-input ng-model="todoDate" /> -->
                            <!-- </div> -->
							<div class="uk-grid" data-uk-grid-margin>
								<div class="uk-width-medium-1-2">
									<div class="uk-input-group">
										<span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
										<label for="clndr_event_date_control">Todo Date</label>
										<input class="md-input" type="text" id="clndr_event_date_control" ng-model="todoDate" data-uk-datepicker="{format:'YYYY-MM-DD', addClass: 'dropdown-modal' }" md-input>
									</div>
								</div>
								<div class="uk-width-medium-1-2">
									<label class="inline-label">Important</label>
									<input type="checkbox" ui-switch ng-model="important" color="#d32f2f" id="switch_demo_danger" />
								</div>
							</div>
                            <div class="uk-modal-footer uk-text-right">
                                <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
								<button type="button" class="md-btn md-btn-flat md-btn-flat-primary" id="clndr_new_event_submit" ng-click="addTodo($event)">Add Todo</button>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>

            <!-- <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-5 uk-text-center     uk-sortable sortable-handler" id="dashboard_sortable_cards" data-uk-sortable data-uk-grid-margin>
                <div>
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" easypiechart options="epc_user_messages" percent="100">
                                <span class="epc_chart_icon"><i class="material-icons">&#xE0BE;</i></span>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    User Messages
                                </h3>
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias consectetur.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content uk-flex uk-flex-center uk-flex-middle">
                            <peity-bar-chart data="stat_conversions_data" options="stat_conversions_options"></peity-bar-chart>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Conversions
                                </h3>
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card md-card-hover md-card-overlay md-card-overlay-active">
                        <div class="md-card-content" id="canvas_1">
                            <div class="epc_chart" easypiechart options="epc_tasks_list" percent="37">
                                <span class="epc_chart_icon"><i class="material-icons">&#xE85D;</i></span>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Tasks List
                                </h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <button class="md-btn md-btn-primary">More</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" easypiechart options="epc_orders" percent="53">
                                <span class="epc_chart_text"><span class="countUpMe">53</span>%</span>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Orders
                                </h3>
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" easypiechart options="epc_user_registrations" percent="37">
                                <span class="epc_chart_icon"><i class="material-icons">&#xE7FE;</i></span>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    User Registrations
                                </h3>
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- info cards -->
            <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
                <div>
                    <div class="md-card">
                        <div class="md-card-head md-bg-light-blue-600">
                            <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
                                <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav">
                                        <li><a href="#">User profile</a></li>
                                        <li><a href="#">User permissions</a></li>
                                        <li><a href="#" class="uk-text-danger">Delete user</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-text-center">
                                <img class="md-card-head-avatar" src="assets/img/avatars/avatar_11.png" alt=""/>
                            </div>
                            <h3 class="md-card-head-text uk-text-center md-color-white">
                                Stella Fay
                                <span>akreiger@yahoo.com</span>
                            </h3>
                        </div>
                        <div class="md-card-content">
                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">ufay@terrymueller.org</span>
                                        <span class="uk-text-small uk-text-muted">Email</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">1-972-176-0641x0298</span>
                                        <span class="uk-text-small uk-text-muted">Phone</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">facebook.com/envato</span>
                                        <span class="uk-text-small uk-text-muted">Facebook</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon uk-icon-twitter"></i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">twitter.com/envato</span>
                                        <span class="uk-text-small uk-text-muted">Twitter</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-head">
                            <div class="uk-cover uk-position-relative uk-height-1-1 transform-origin-50" id="video_player">
                                <iframe height="150" width="300" data-uk-cover src="https://www.youtube.com/embed/-CYs99M7hzA?rel=0" frameborder="0" allowfullscreen style="max-height:100%"></iframe>
                            </div>
                        </div>
                        <div class="md-card-content">
                            <ul class="md-list md-list-addon md-list-interactive" id="video_player_playlist">
                                <li ng-click="videoChange($event,video.id)" ng-repeat="video in video_data | limitTo : 3" ng-class="{'md-list-item-active': $index == 0 }">
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons">&#xE037;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{video.name}}</span>
                                        <span class="uk-text-small uk-text-muted">{{video.source}}</span>
                                    </div>
                                </li>
                                <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                    <a class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-head head_background" style="background-image: url({{ weatherToday.backgroundImg }})">
                            <!-- <div class="md-card-head-menu">
                                <i class="md-icon material-icons md-icon-light">&#xE5D5;</i>
                            </div>
                            <h3 class="md-card-head-text">
                                {{ weatherToday.city }}
                            </h3>
                            <div class="md-card-head-subtext">
                                <i class="md-card-head-icon wi {{ weatherToday.icon }} uk-margin-right"></i>
                                <span>{{ weatherToday.temperature }}&deg;</span>
                            </div> -->
                        </div>
                        <!-- <div class="md-card-content">
                            <ul class="md-list md-list-addon">
                                <li ng-repeat="weather in weatherData">
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon wi {{weather.icon}}"></i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{ weather.temperature }}&deg; {{ weather.description }}</span>
                                        <span class="uk-text-small uk-text-muted">{{ weather.date }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                        <div class="md-card-content">
                            <ul class="md-list md-list-addon">
                                <li ng-repeat="weather in weatherData">
                                    <div class="md-list-addon-element">
                                        <img ng-src="{{weatherToday.backgroundImg}}" class="md-card-list-item-avatar AdjImgRadius"/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{ weather.description }}</span>
                                        <span class="uk-text-small uk-text-muted">{{ weather.date }}</span>
                                    </div>
                                </li>
                                <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                    <a ui-sref="restricted.birthdayListView" class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
                <div class="uk-width-medium-2-3">
                    <div class="md-card adjCardHeight">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text large">
                                Assignments
                            </h3>
                        </div>
                        <div class="md-card-content adjCardHeightScroll">
                            <div class="uk-overflow-container">
                                <table class="uk-table">
                                    <thead>
                                    <tr>
                                        <th style="width:15%" class="uk-text-nowrap">Assignment</th>
                                        <th style="width:35%" class="uk-text-nowrap">Subject</th>
                                        <th style="width:25%" class="uk-text-nowrap">Status</th>
                                        <!-- <th class="uk-text-nowrap">Progress</th> -->
                                        <th style="width:25%" class="uk-text-nowrap uk-text-right">Due Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="uk-table-middle" ng-repeat = "item in assign_data | limitTo : 6">
                                        <td class="uk-width-3-10 uk-text-nowrap uk-text-uppercase">{{item.NAME}}</td>
                                        <td class="uk-width-2-10">{{item.SUBJECT_NAME}}</td>
                                        <td class="uk-width-2-10 uk-text-nowrap">
                                        <span class="uk-badge uk-badge-success" ng-if="item.STATUS == 'Completed'">{{item.STATUS}}</span>
                                        <span class="uk-badge uk-badge-danger"  ng-if="item.STATUS == 'Pending'">{{item.STATUS}}</span>
                                        </td>
                                        <td class="uk-width-2-10 uk-text-right uk-text-muted uk-text-small">{{item.DUE_DATE}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                    <a class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent" ui-sref="restricted.academics.stuassignment">Show All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card md-card-single adjCardHeight" single-card>
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text large">
                                Student Details
                            </h3>
                        </div>
                        <div class="md-card-content padding-reset adjCardHeightScroll" id="help_content">
                            <div class="uk-accordion uk-accordion-alt help_accordion hierarchical_slide" hierarchical-slide slide-children="h3" slide-context=".md-card-content">
                                <h3 class="uk-accordion-title">Request Leave</h3>
                                <div class="uk-accordion-content">
                                    <p>Total Leaves Taken : 5 Days</p>
                                    <!-- <a ui-sref="restricted.student.stuApplyLeave"><p>Apply Leave</p></a> -->
                                    <a ui-sref="#" ng-click="applyLeave()"><p>Apply Leave</p></a>
                                </div>
                                <h3 class="uk-accordion-title">Library Details</h3>
                                <div class="uk-accordion-content">
                                    <p>2 Books With Me</p>
                                    <a ui-sref="restricted.Library"><p>Search Book</p></a>
                                </div>
                                <h3 class="uk-accordion-title">Fee Details</h3>
                                <div class="uk-accordion-content">
                                    <p>Last Fee Paid : 25000 &nbsp&nbsp&nbsp&nbsp&nbsp Date : 25.05.2017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-large-1-1">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h4 class="heading_c uk-margin-bottom">Attendance</h4>
                            <div id="c3_chart_spline" class="c3chart"></div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-large-1-2">
                    <div class="md-card" >                       
                        <div class="md-card-content">
                            <ul class="md-list md-list-addon gmap_list" id="map_users_list">
                                <li ng-repeat="user in messageData_data.messages" ng-click="showMarker($event,$index)">
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="{{user.avatar}}" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{user.title}}</span>
                                        <span class="uk-text-small uk-text-muted">{{user.content}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

    <!-- Apply leave modal -->

            <div id="open_leavecategory" class="uk-modal">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"></button>
            <h3 class="uk-modal-title">Leave Application </h3><br>
            <div class="md-card-content large-padding">
                <div class="md-card-content">
				  <form class=""><p></p>
					<div class="uk-form-row">
					  <label ng-if="leave.duration">Duration</label>
					  <selectize config="duration_config" options="durationsdata" position="bottom" ng-model="leave.duration" name="durations" required placeholder='Duration'></selectize>
					</div>
					<div class="uk-form-row">
						<div class="uk-grid">	
							<div class="uk-width-medium-1-2">
								<div class="uk-input-group ">
									<span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
									<label for="uk_dp_start">Start Date</label>
									<input class="md-input" type="text" id="uk_dp_start" md-input ng-model="leave.startDate" datetime="dd.MM.yyyy">
								</div>
							</div>
							<div class="uk-width-medium-1-2">
								<div ng-show="leave.duration=='Multiple Days'" class="uk-input-group">
									<span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
									<label for="uk_dp_end">End Date</label>
									<input class="md-input" type="text" id="uk_dp_end" md-input ng-model="leave.endDate">
								</div>
							</div>
						</div>
					</div>
					<div class="uk-form-row">
						<label for="uk_tp_1">Reason</label>
						<input class="md-input" type="text" id="uk_tp_1" md-input ng-model="leave.reason">
					</div>
					</form>
				</div>
				  <div class="uk-modal-footer uk-text-right">
						<button ng-click="clearData()" type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close">Cancel</button>
						<button ng-click="saveData()" type="button" class="md-btn md-btn-primary md-btn-small uk-modal-close">Save</button>
				  </div>
            </div>
        </div>
		
		
		
		
    </div>

    <!-- secondary sidebar -->
    <aside id="sidebar_secondary" sidebar-secondary class="tabbed_sidebar">
        <ul class="uk-tab uk-tab-icons uk-tab-grid" data-uk-tab="{connect:'#dashboard_sidebar_tabs', animation:'slide-horizontal'}">
            <li class="uk-active uk-width-1-3"><a href="#"><i class="material-icons">&#xE422;</i></a></li>
            <li class="uk-width-1-3 chat_sidebar_tab"><a href="#"><i class="material-icons">&#xE0B7;</i></a></li>
            <li class="uk-width-1-3"><a href="#"><i class="material-icons">&#xE8B9;</i></a></li>
        </ul>

        <div custom-scrollbar>
            <ul id="dashboard_sidebar_tabs" class="uk-switcher">
                <li>
                    <div class="timeline timeline_small uk-margin-bottom">
                        <div class="timeline_item" ng-repeat="event in user_data.timeline">
                            <div class="timeline_icon timeline_icon_danger" ng-if="event.status == 'danger'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                            <div class="timeline_icon timeline_icon_success" ng-if="event.status == 'success'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                            <div class="timeline_icon timeline_icon_warning" ng-if="event.status == 'warning'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                            <div class="timeline_icon timeline_icon_primary" ng-if="event.status == 'primary'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                            <div class="timeline_icon" ng-if="!event.status"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                            <div class="timeline_date">
                                {{ event.date | momentDate:'MM-DD-YYYY':'DD' }}
                                <span>{{ event.date | momentDate:'MM-DD-YYYY':'MMM' }}</span>
                            </div>
                            <div class="timeline_content">
                                {{event.description}} <a href="#" ng-if="event.link_text"><strong>{{event.link_text}}</strong></a>
                                <div class="timeline_content_addon" ng-if="event.image || event.post_excerpt || event.user_name">
                                    <img ng-src="{{event.image}}" alt="" ng-if="event.image"/>
                                    <blockquote ng-if="event.post_excerpt">
                                        {{event.post_excerpt}}&hellip;
                                    </blockquote>
                                    <ul class="md-list md-list-addon" ng-if="event.user_name">
                                        <li>
                                            <div class="md-list-addon-element" ng-if="event.user_avatar">
                                                <img class="md-user-image md-list-addon-avatar" ng-src="{{event.user_avatar}}" alt=""/>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" ng-if="event.user_name">{{event.user_name}}</span>
                                                <span class="uk-text-small uk-text-muted" ng-if="event.user_status">{{event.user_status}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <ul class="md-list md-list-addon chat_users">
                        <li ng-repeat="user in sSidebar_users">
                            <div class="md-list-addon-element">
                                <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/avatars/{{ user.avatar }}_tn.png" alt=""/>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">{{user.name}}</span>
                                <span class="uk-text-small uk-text-muted">
                                    <span class="uk-text-small uk-text-muted">
                                        Lorem ipsumm...
                                    </span>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="chat_box_wrapper chat_box_small" id="chat">
                        <div class="chat_box touchscroll chat_box_colors_a">
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt=""/>
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                                    </li>
                                    <li>
                                        <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat_message_wrapper chat_message_right">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt=""/>
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                            <span class="chat_message_time">13:34</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt=""/>
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.
                                            <span class="chat_message_time">23 Jun 1:10am</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat_message_wrapper chat_message_right">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt=""/>
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p> Lorem ipsum dolor sit amet, consectetur. </p>
                                    </li>
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            <span class="chat_message_time">Friday 13:34</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h4 class="heading_c uk-margin-small-bottom uk-margin-top">General Settings</h4>
                    <ul class="md-list">
                        <li>
                            <div class="md-list-content">
                                <div class="uk-float-right">
                                    <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_site_online" name="settings_site_online" ng-model="sSidebar.site_online" />
                                </div>
                                <span class="md-list-heading">Site Online</span>
                                <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <div class="uk-float-right">
                                    <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_seo" name="settings_seo" ng-model="sSidebar.seo" />
                                </div>
                                <span class="md-list-heading">Search Engine Friendly URLs</span>
                                <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <div class="uk-float-right">
                                    <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_url_rewrite" name="settings_url_rewrite" ng-model="sSidebar.url_rewrite" />
                                </div>
                                <span class="md-list-heading">Use URL rewriting</span>
                                <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                            </div>
                        </li>
                    </ul>
                    <hr class="md-hr">
                    <h4 class="heading_c uk-margin-small-bottom uk-margin-top">Other Settings</h4>
                    <ul class="md-list">
                        <li>
                            <div class="md-list-content">
                                <div class="uk-float-right">
                                    <input type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" id="settings_top_bar" name="settings_top_bar" ng-model="sSidebar.top_bar" />
                                </div>
                                <span class="md-list-heading">Top Bar Enabled</span>
                                <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <div class="uk-float-right">
                                    <input type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" id="settings_api" name="settings_api" ng-model="sSidebar.api" />
                                </div>
                                <span class="md-list-heading">Api Enabled</span>
                                <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                            </div>
                        </li>
                        <li>
                            <div class="md-list-content">
                                <div class="uk-float-right">
                                    <input type="checkbox" class="switchery switchery-small" ui-switch color="#d32f2f" id="settings_minify_static" name="settings_minify_static" ng-model="sSidebar.minify_assets" />
                                </div>
                                <span class="md-list-heading">Minify JS files automatically</span>
                                <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <button type="button" class="chat_sidebar_close uk-close"></button>
        <div class="chat_submit_box">
            <div class="uk-input-group">
                <input type="text" class="md-input" name="submit_message" id="submit_message" placeholder="Send message">
                <span class="uk-input-group-addon">
                    <a href="#"><i class="material-icons md-24">&#xE163;</i></a>
                </span>
            </div>
        </div>

    </aside><!-- secondary sidebar end -->
