<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">Manage Quick Link</h3>

        <div class="uk-grid" data-uk-grid-margin>

            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">Academics</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-1-5">
                                <div id="tB">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Course & Batch
                                            <ul>
                                                <li id="tB_2_1">Department</li>
                                                <li id="tB_2_2">Course</li>
                                                <li id="tB_2_3">Batch</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tB1">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Subjects & Syllabus
                                            <ul>
                                                <li id="tB_2_1">Subject</li>
                                                <li id="tB_2_2">Syllabus</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tB2">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Attendance
                                            <ul>
                                                <li id="tB_2_1">Student Attendance Register</li>
                                                <li id="tB_2_2">Student Attendance Report</li>
                                                <li id="tB_2_3">Student Attendance Marking</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tB3">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Examination
                                            <ul>
                                                <li id="tB_2_1">Grade Level</li>
                                                <li id="tB_2_2">Set Exam</li>
                                                <li id="tB_2_3">Set Assessment</li>
                                                <li id="tB_2_3">Assign Exam</li>
                                                <li id="tB_2_3">Mark List</li>
                                                <li id="tB_2_3">Enter Mark</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tB4">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Timetable
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h3 class="heading_a uk-margin-small-bottom">Students</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-1-5">
                                <div id="tBS">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Student Admission
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tBS1">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Student View
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tBS2">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Assign Teacher
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tBS3">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Leaves
                                            <ul>
                                                <li id="tB_2_1">Apply Leave</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-width-1-5">
                                <div id="tBS4">
                                    <ul id="tBData" style="display: none;">
                                        <li id="tB_2" class="folder">
                                            Leaves
                                            <ul>
                                                <li id="tB_2_1">Apply Leave</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-text-right" style="margin-top: 30px;">
                            <button type="button" class="md-btn md-btn-flat md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="backBtn()">Cancel</button>
                            <button type="button" class="md-btn md-btn-flat md-btn md-btn-primary md-btn-small uk-modal-close">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>