<style type="text/css">
  .selectize-control.single {
    margin-top: 15px;
  }
  .uk-modal.uk-modal-dialog-replace .uk-modal-content{
    font-size: 16px !important;
  }
</style>
<div id="page_content" ng-controller="bulksmsCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">SMS Sending</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Course</th>
                            <th>Batch</th>
                            <th>Message</th>
                            <th>Total</th>
                            <th>Status</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Course</th>
                            <th>Batch</th>
                            <th>Message</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in table_data">
                            <td>{{$index+1}}</td>
                            <td>{{row.COURSE_NAME}}</td>
                            <td>{{row.BATCH_NAME}}</td>
                            <td>{{row.MESSAGE}}</td>
                            <td>{{row.TOTAL}}</td>
                            <td>{{row.SUCCESS}}</td>
                            <!-- <td> -->
								<!-- <a ui-sref="restricted.repository.repositoryDetail({ ReposId:{{row.ID}} })"><i class="md-icon material-icons">&#xE8F4;</i></a> -->
                            <!-- </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
	<a class="md-fab md-fab-accent md-fab-wave-light" href="#mailbox_new_message" data-uk-modal="{center:true}">
		<i class="material-icons">&#xE150;</i>
	</a>
</div>

<div class="uk-modal" id="mailbox_new_message">
	<div class="uk-modal-dialog">
		<button class="uk-modal-close uk-close" type="button"></button>
		<form>
			<div class="uk-modal-header">
				<h3 class="uk-modal-title">Compose Message</h3>
			</div>
			<div class="uk-margin-medium-bottom">
				<label ng-if="usertype" style="font-size: 12px;color: #727272;">User Type <span class="req">*</span></label>
				<selectize id="selec_adv_2" config="user_config" options="user" position="bottom" ng-model="usertype" required></selectize>
			</div>
			<div class="uk-margin-medium-bottom" ng-show="usertype=='Employee'">
				<label ng-show="usertype" style="font-size: 12px;color: #727272;">Department <span class="req">*</span></label>
				<input type="text" config="selectize_dept_config" options="selectize_dept_options" ng-model="department" ng-required="usertype=='Employee'" selectize/>
			</div>
			<div ng-show="usertype=='Student'">
				<div class="uk-margin-medium-bottom">
					<label ng-if="course_id" style="font-size: 12px;color: #727272;">Course <span class="req">*</span></label>
					<selectize id="selec_adv_2" config="course_config" options="course" position="bottom" ng-model="course_id" ng-required="usertype=='Student'"></selectize>
				</div>
				<div class="uk-margin-medium-bottom" ng-hide="course_id.length > 1">
					<br ng-show='!batch_id && course_id'>
					<label ng-if="batch_id" style="font-size: 12px;color: #727272;">batch <span class="req">*</span></label>
					<selectize id="selec_adv_2" config="batch_config" options="batch" position="bottom" ng-model="batch_id" ng-required="usertype=='Student'"></selectize>
				</div>
			</div>
			<div class="uk-margin-large-bottom">
				<label for="mail_new_message">Message</label>
				<textarea name="mail_new_message" id="mail_new_message" maxlength="1224" cols="30" rows="4" class="md-input" md-input ng-model="message"></textarea>
			</div>
			<div id="mail_progressbar" class="uk-progress uk-hidden">
				<div class="uk-progress-bar" style="width:0">0%</div>
			</div>
			<div class="uk-modal-footer">
				<button type="button" ng-click="sendMsg()" class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Send</button>
			</div>
		</form>
	</div>
</div>