<div id="page_content"  ng-controller="payItemCtrl as showCase">
    <div id="page_content_inner">

        <h3 class="heading_a uk-margin-bottom">Pay Item
            <!-- <span style="float: right;font-size:18px;">
                <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_payitem'}" ng-click="addItem()">Add PayItem</button>
            </span> -->
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">

                <div class="uk-text-right">
                        <button class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_payitem'}" ng-click="addItem()"><i class="uk-icon-plus"></i> Add PayItem</button>
                    </div>

                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{$index+1}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.type}}</td>
                            <td class="uk-text-center">
                                <a ng-click="editPayItem(row)" data-uk-modal="{target:'#open_payitem'}" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Model Window -->
                <div id="open_payitem" class="uk-modal">
                    <div class="uk-modal-dialog">
                        <button type="button" class="uk-modal-close uk-close"></button>
                        <h3 class="uk-modal-title">{{tit_caption}} Item </h3><br>
                        <div class="md-card-content">
                            <form>
                                <div class="uk-form-row">
                                    <label>Name</label>
                                    <input type="text" ng-model="item_name" class="md-input" md-input>
                                    <input type="hidden" ng-model="item_id">
                                </div>
                                <div class="uk-form-row">
                                    <input type="text" config="selectize_item_config" options="selectize_item_options" ng-model="selectize_item" selectize/>
                                </div>
                            </form>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close">Cancel</button>
                            <button type="button" class="md-btn md-btn-primary md-btn-small uk-modal-close">{{status}}</button>
                        </div>
                    </div>
                </div>
</div>


