<style type="text/css">
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
        font-size: 16px !important;
    }
</style>
<div id="page_content"  ng-controller="payItemCtrl as showCase">
    <div id="page_content_inner">

        <h3 class="heading_a uk-margin-bottom">Pay Item
            <!-- <span style="float: right;font-size:18px;">
                <button  class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_payitem'}" ng-click="addItem()">Add PayItem</button>
            </span> -->
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">

                <div class="uk-text-right">
                        <button class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_payitem'}" ng-click="addItem()"><i class="uk-icon-plus"></i> Add Pay Item</button>
                    </div>

                    <thead>
                        <tr>
                            <th style="width: 10% !important;">S.No</th>
                            <th style="width: 40% !important;">Name</th>
                            <th style="width: 30% !important;">Type</th>
                            <th style="width: 25% !important;">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.NAME}}</td>
                            <td>{{row.TYPE}}</td>
                            <td class="">
                                <a ng-click="editPayItem(row)" data-uk-modal="{target:'#open_payitem'}" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a class="ts_remove_row" ng-click="deletePayItem(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Model Window -->
    <div id="open_payitem" class="uk-modal">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"></button>
            <h3 class="uk-modal-title">{{tit_caption}} Item </h3><br>
            <div class="md-card-content">
                <form id="form_validation" ng-submit="savePayItem()" novalidate>
                    <div class="uk-form-row parsley-row">
                        <label>Name <span class="req">*</span></label>
                        <input type="text" ng-model="item_name" required class="md-input" md-input>
                        <input type="hidden" ng-model="item_id">
                    </div>
                    <div class="uk-form-row parsley-row">
                        <label ng-if="item_type" style="font-size: 12px;color: #727272;">Type <span class="req">*</span></label>
                        <input type="text" config="selectize_item_config" required options="selectize_item_options" ng-model="item_type" selectize/>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="clearValidation()">Cancel</button>
                        <button type="submit" class="md-btn md-btn-primary md-btn-small">{{status}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


