<div id="page_content"  ng-controller="positionCtrl as showCase">
    <div id="page_content_inner">

        <h3 class="heading_a uk-margin-bottom"> Position
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <button  style="float: right;" class="md-btn md-btn-primary md-btn-small" data-uk-modal="{target:'#open_category'}" ng-click="addPosition()"><i class="material-icons">add</i>Add Position</button>
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Position</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Position</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.NAME}}</td>
                            <td>{{row.CATEGORY_NAME}}</td>
                            <td class="uk-text-center">
                                <a ng-click="editPosition(row)" data-uk-modal="{target:'#open_category'}" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a class="ts_remove_row" ng-click="deletePosition(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Model Window -->
    <div id="open_category" class="uk-modal">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"></button>
            <h3 class="uk-modal-title">{{tit_caption}} Position </h3><br>
            <div class="md-card-content">
                <form id="form_validation" ng-submit="savePosition()" novalidate>
                    <div class="parsley-row uk-form-row">
                        <label>Position Name</label>
                        <input type="text" ng-model="position_name" required class="md-input" md-input>
                        <input type="hidden" ng-model="position_id">
                    </div>
                    <div class="parsley-row uk-form-row">
                        <input type="text" config="selectize_category_config" required options="selectize_category_options" ng-model="category_id" selectize/>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close">Cancel</button>
                        <button type="submit" class="md-btn md-btn-primary md-btn-small">{{status}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


