<style type="text/css">
    .invoice_header > img {
        max-height: 160%;
        width: auto;
    }
</style>
<div id="page_content" class="ng-scope" >
<div id="page_content_inner">
<div class="uk-width-medium-7-10 uk-container-center reset-print">
<div class="uk-grid uk-grid-collapse" data-uk-grid-margin="">
<div class="uk-width-large-10-10 uk-row-first">
<div class="ng-scope" autoscroll="false" ui-view="ivoice_content">
<div class="md-card md-card-single main-print" id="invoice" single-card>
    <div class="md-card-toolbar" ng-class="{ 'hidden-print': invoice.header }">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" print-page print-message="Do you want to print this invoice?">&#xE8ad;</i>
        </div>
    </div>
    <div class="md-card-content invoice_content print_bg" ng-class="{ 'invoice_footer_active': invoice.footer }">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-6">
                <div class="invoice_header">
                    <img src="assets/img/log.png" alt="" height="30" width="140"/>
                    <!-- <span><b>Srinivasan Engineering College</b></span> -->
                </div>

            </div>
            <div class="uk-width-medium-5-6">
            <h3 class="heading_a">Srinivasan Engineering College</h3>
            <span class="uk-text-small uk-text-muted">No: 28, Bajanai madam street, Pondicherry</span><br>
            <span class="uk-text-small uk-text-muted">0413-654 6542 | school@edu.com</span><br>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-3">
                <h3 class="heading_c"><span class="uk-text-medium uk-text-muted">Store:</span> Msk Store </h3>
            </div>
            <div class="uk-width-medium-1-3">
                <h3 class="heading_c"><span class="uk-text-medium uk-text-muted">Invoice No:</span> RE0001 </h3>
            </div>
            <div class="uk-width-medium-1-3">
                <h3 class="heading_c"><span class="uk-text-medium uk-text-muted">Invoice Date:</span> 05.05.2017 </h3>
            </div>
            <!-- <div class="uk-width-medium-1-3">
                <h3 class="heading_c"><span class="uk-text-medium uk-text-muted">Store:</span> Msk Store </h3>
            </div> -->
        </div>
        <!-- <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Store:</span> Msk Store
            </div>
            <div class="uk-width-medium-1-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Supplier Type:</span> Vendor
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Supplier:</span> Rajkumar
            </div>
            <div class="uk-width-medium-1-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Reference:</span> Notes
            </div>
        </div> -->
        <!-- <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">17.07.2017</span>
                            <span class="uk-text-small uk-text-muted">Date</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">Cash</span>
                            <span class="uk-text-small uk-text-muted">Payment Mode</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <h3 class="heading_a">Rajkumar.R</h3>
                <span class="uk-text-small uk-text-muted">Computer Science and Engineering</span><br>
            </div>
            <!-- <span class="uk-text-small uk-text-muted">0413-654 6542 | school@edu.com</span><br>  -->
            <!-- <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">Msk Store</span>
                            <span class="uk-text-small uk-text-muted">Store</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">Employee</span>
                            <span class="uk-text-small uk-text-muted">Issued To</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">Rajkumar</span>
                            <span class="uk-text-small uk-text-muted">Name</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">Computer Science</span>
                            <span class="uk-text-small uk-text-muted">Department</span>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-10-10">
                <table class="uk-table uk-table-middle">
                    <thead>
                        <tr class="uk-text-upper">
                            <th>Item Name</th>
                            <th>Item Code</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th style="text-align: right;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="uk-table-middle" on-last-repeat>
                            <td>
                                Pencil
                            </td>
                            <td>
                                1001
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                5.00
                            </td>
                            <td style="text-align: right;">
                                15.00
                            </td>
                        </tr>
                        <tr class="uk-table-middle" on-last-repeat>
                            <td>
                                Computer
                            </td>
                            <td>
                                1002
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                5000.00
                            </td>
                            <td style="text-align: right;">
                                50000.00
                            </td>
                        </tr>
                        <tr class="uk-table-middle" on-last-repeat>
                            <td>
                                Pen
                            </td>
                            <td>
                                1003
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                15.00
                            </td>
                            <td style="text-align: right;">
                                75.00
                            </td>
                        </tr>
                        <tr class="uk-table-middle" on-last-repeat>
                            <td>
                                Table
                            </td>
                            <td>
                                1004
                            </td>
                            <td>
                                7
                            </td>
                            <td>
                                2500.00
                            </td>
                            <td style="text-align: right;">
                                17500.00
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-5-6 uk-text-right">
                        <span class="uk-text-bold">Total Amount :</span>
                    </div>
                    <div class="uk-width-medium-1-6 uk-text-right">
                        <span class="uk-text-lead">67590.00</span> 
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="uk-grid">
            <div class="uk-width-1-1">
                <span class="uk-text-muted uk-text-small uk-text-italic">Payment to:</span>
                <p class="uk-margin-top-remove">
                    <br>
                    
                </p>
                <p class="uk-text-small">Please pay within  days</p>
            </div>
        </div> -->
        <div class="invoice_footer">
            Ruby Campus<span>&middot;</span>No: 28, Bajanai madam street, Ellaipillaichavadi<br>
            Pondicherry<span>&middot;</span>gutmann.hassie@gmail.com
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>