<style>
.selectize-dropdown [data-selectable] {
    font-size: 13px !important;
    padding-bottom: 10px;
    padding-top: 11px;
}
.md-hr{
         margin: 24px 0 !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <h3 class="heading_a uk-margin-bottom">GRN</h3>
            </div>
            <div class="uk-width-medium-1-2 uk-text-right">
                <a class="md-btn md-btn-primary md-btn-wave-light md-btn-small" ui-sref="javascript:void(0)"><i class="material-icons">print</i> &nbsp Print</a>
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                            <div class="uk-width-1-1 uk-width-medium-1-1">
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >format_list_numbered</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">GRN01</span>
                                                  <span class="uk-text-small uk-text-muted">GRN Number</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">Vendor</span>
                                                  <span class="uk-text-small uk-text-muted">Supplier Type</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >person</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">Rajkumar</span>
                                                  <span class="uk-text-small uk-text-muted">Supplier</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >shopping_cart</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">PO01</span>
                                                  <span class="uk-text-small uk-text-muted">Purchase Order</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                </div>
                                <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >store</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">Msk Store</span>
                                                  <span class="uk-text-small uk-text-muted">Store</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">INV01</span>
                                                  <span class="uk-text-small uk-text-muted">Invoice No.</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >date_range</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">03.05.2017</span>
                                                  <span class="uk-text-small uk-text-muted">GRN Date</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="uk-width-medium-1-4">
                                      <ul class="md-list md-list-addon">
                                          <li>
                                              <div class="md-list-addon-element">
                                                  <i class="md-list-addon-icon material-icons" >date_range</i>
                                              </div>
                                              <div class="md-list-content">
                                                  <span class="md-list-heading">03.05.2017</span>
                                                  <span class="uk-text-small uk-text-muted">Invoice Date</span>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                </div>

                                <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin>
                                  <div class="uk-width-medium-1-1 parsley-row">
                                    <div class="uk-overflow-container">
                                      <table class="uk-table uk-table-hover">
                                          <thead>
                                          <tr>
                                              <th>S.No</th>
                                              <th>Item</th>
                                              <th>Quantity</th>
                                              <th>Price</th>
                                              <!-- <th>Discount (%)</th>
                                              <th>Tax (%)</th> -->
                                              <th>Total Amount</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>1</td>
                                              <td>Pen</td>
                                              <td>5</td>
                                              <td>5.00</td>
                                              <!-- <td>0.00</td>
                                              <td>0.00</td> -->
                                              <td>25.00</td>
                                            </tr>
                                            <tr>
                                              <td>2</td>
                                              <td>Pencil</td>
                                              <td>5</td>
                                              <td>3.00</td>
                                              <!-- <td>0.00</td>
                                              <td>0.00</td> -->
                                              <td>15.00</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-4-6">
                                        </div>
                                        <div class="uk-width-medium-2-6 uk-margin-top">
                                        <b>Total Amount :</b>
                                        <span style="margin-left: 10px;">{{totalAmount | currency:""}}</span>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>