    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
        .md-list-content.AdjListCon {
            padding-top: 10px;
        }
        #page_content_inner {
            padding: 24px 24px 0;
        }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <h3 class="heading_a uk-margin-bottom">Material Request</h3>
            </div>
            <div class="uk-width-medium-1-2 uk-text-right">
                <a class="md-btn md-btn-primary md-btn-wave-light md-btn-small" ui-sref="javascript:void(0)"><i class="material-icons">print</i> &nbsp Print</a>
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
<!--                         <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Nitheesh</span>
                                            <span class="uk-text-small uk-text-muted">Student Name</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">82310132052</span>
                                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Computer Science and Engineering</span>
                                            <span class="uk-text-small uk-text-muted">Course</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Cse - B</span>
                                            <span class="uk-text-small uk-text-muted">Batch</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="uk-grid" data-uk-grid-margin>

                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >receipt</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">INV001</span>
                                            <span class="uk-text-small uk-text-muted">Request No.</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >date_range</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">03.01.2017</span>
                                            <span class="uk-text-small uk-text-muted">Date</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Junaid</span>
                                            <span class="uk-text-small uk-text-muted">Request By</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Msk Store</span>
                                            <span class="uk-text-small uk-text-muted">Store</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Rajkumar</span>
                                            <span class="uk-text-small uk-text-muted">Supplier</span>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th><b>S.No</b></th>
                            <th><b>Item Name</b></th>
                            <th><b>Item Code</b></th>
                            <th><b>Quantity</b></th>
                            <!-- <th><b>Total Amount</b></th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Pencil</td>
                            <td>15.00</td>
                            <td>3</td>
                            <!-- <td>45.00</td> -->
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pen</td>
                            <td>5.00</td>
                            <td>3</td>
                            <!-- <td>15.00</td> -->
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Table</td>
                            <td>1500.00</td>
                            <td>3</td>
                            <!-- <td>4500.00</td> -->
                            
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Computer</td>
                            <td>5000.00</td>
                            <td>5</td>
                            <!-- <td>25000.00</td> -->
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Chalks</td>
                            <td>3.00</td>
                            <td>5</td>
                            <!-- <td>15.00</td> -->
                        </tr>
                        <!-- <tr>
                            <td colspan="2" style="text-align: right;font-weight: bold;">Total Amount</td>
                            <td>50000</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        
                        <div class="uk-width-medium-1-3">
                        <!-- <span><b>Total Amount :</b></span>
                        <span>50000</span> -->
                        </div>
                        <div class="uk-width-medium-1-3">
                        <!-- <span><b>Total Payed :</b></span>
                        <span>50000</span> -->
                        </div>
                        <div class="uk-width-medium-1-3">
                        <!-- <span><b>Total Amount:</b></span>
                        <span>29575</span> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>