 <div id="page_content"  ng-controller="purchaseOrderViewCtrl as tblData">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Purchase Order
        <!-- <span style="float: right;font-size:18px;"><a ui-sref="restricted.Library"><i class="uk-icon-th-large"></i></a></span> -->
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="tblData.dtOptions" dt-column-defs="tblData.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <a ui-sref="restricted.inventory.purchaseOrderAdd"  class="md-btn md-btn-primary md-btn-small">
                        <i class="uk-icon-plus"></i> Add Purchase Order</a>
                    </div>
                    <thead>
                        <tr>
                            <th style="width: 50px !important;">S.No</th>
                            <th>PO No.</th>
                            <th>PO Date</th>
                            <th>Store Name</th>
                            <th>Supplier</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 50px !important;"></th>
                            <th>PO No.</th>
                            <th>PO Date</th>
                            <th>Store Name</th>
                            <th>Supplier Type</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.PO_NUMBER}}</td>
                            <td>{{row.PO_DATE}}</td>
                            <td>{{row.STORE_NAME}}</td>
                            <td>{{row.SUPPLIER_NAME}}</td>
                            <td class="">
                                <!-- <a href="#" class="ts_remove_row" ui-sref="restricted.BookDetail({id: {{row.id}},indexId:{{$index}}})"><i class="md-icon material-icons">&#xE8F4;</i></a> -->
                                <a href="#" class="ts_remove_row" ui-sref="restricted.inventory.purchaseOrderDetails({id : {{row.ID}}})"><i class="md-icon material-icons">&#xE8F4;</i></a>
                                <!-- <a class="ts_remove_row" ui-sref="restricted.inventory.purchaseOrderAdd"><i class="md-icon material-icons">&#xE254;</i></a> -->
                                <a ng-click="deletePurchaseOrder(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>