<style type="text/css">
  /*.selectize-control.single {
    margin-top: 0;
  }
  .uk-width-medium-4-5, .uk-width-medium-8-10 {
    height: 65px;
    width: 80%;
  }
  .uk-modal-dialog {
    margin: 18px auto;
    width: 417px;
  }*/
</style>
<div id="page_content" ng-controller="supplierViewCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Supplier</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button  class="md-btn md-btn-primary md-btn-small" ng-click="openModel()" data-uk-modal="{target:'#modal_overflow'}">
                        <i class="uk-icon-plus"></i>  Add Supplier
                        </button>
                    </div>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Supplier Name</th>
                            <th>Supplier Type</th>
                            <th>Contact Number</th>
                            <!-- <th>TIN Number</th> -->
                            <th>Region</th>
							              <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
							              <th></th>
                            <th>Supplier Name</th>
                            <th>Supplier Type</th>
                            <th>Contact Number</th>
                            <!-- <th>TIN Number</th> -->
                            <th>Region</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="row in viewData">
                        <td>{{$index+1}}</td>
                        <td>{{row.NAME}}</td>
                        <td>{{row.SUPPLIER_TYPE_NAME}}</td>
                        <td>{{row.PHONE}}</td>
                        <!-- <td>{{row.tin_number}}</td> -->
                        <td>{{row.REGION}}</td>
                        <td>
                            <a ng-click="edit_supplier(row)" data-uk-modal="{target:'#modal_overflow'}"><i class="md-icon material-icons">&#xE254;</i></a>
                            <a class="ts_remove_row" ng-click="deleteSupplier(row.ID, $index)"><i class="md-icon material-icons">&#xE872;</i></a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
      <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog">
          <button type="button" class="uk-modal-close uk-close"></button>
          <h3 class="uk-modal-title"> {{titleCaption}} Supplier </h3>
            <div class="md-card-content">
              <form id="form_validation" name="inputForm" ng-submit="saveSupplierData()" novalidate><p></p>
                <div class="uk-form-row">
                   <input type="text" config="selectize_supplierType_config" options="selectize_supplierType_options" ng-model="selectize_supplierType" selectize/>
                </div>
                <div class="parsley-row uk-form-row">
                   <!-- <label>Supplier Name</label> -->
                   <label class="uk-form-label">Supplier Name</label>
                   <input type="text" ng-model="supplier_name" class="md-input" required md-input>
                </div>
                <div class="parsley-row uk-form-row">
                   <label class="uk-form-label">Contact Number</label>
                   <input type="text" ng-model="supplier_contact_number" class="md-input" required md-input>
                </div>
                <div class="parsley-row uk-form-row">
                   <label class="uk-form-label">Address</label>
                   <input type="text" ng-model="supplier_address" class="md-input" required md-input>
                </div>
				        <!-- <div class="uk-form-row">
                   <label>TIN Number</label>
                   <input type="text" ng-model="tin_number" class="md-input" required md-input>
                </div> -->
                <div class="parsley-row uk-form-row">
                   <label class="uk-form-label">Region</label>
                   <input type="text" ng-model="supplier_region" class="md-input" required md-input>
                </div>
                <div class="uk-modal-footer uk-text-right">
                      <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close">Cancel</button>
                      <button type="submit" class="md-btn md-btn-primary md-btn-small">{{btnStatus}}</button>
                </div>
              </form>
            </div>
          
         </div>
      </div>
    </div>

 
</div>
