<style type="text/css">
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
      font-size: 16px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Timetable Setting</h3>
        <div class="md-card">
            <form ng-submit="saveSetting()" id="form_validation" novalidate>
                <input type="hidden" ng-model="setting_id">
                <div class="md-card-content large-padding">
                    <h3 class="heading_a uk-margin-bottom">Day Setting</h3>
                    <div class="uk-grid" data-uk-grid-margin>                    
                        <div class="uk-width-medium-1-4">
                            <div class="parsley-row">
                                <br ng-show="end_day && !start_day">
                                <label class="uk-form-label" ng-show="start_day" style="font-size: 12px;color: #727272;">Start Day<span class="req"> *</span></label>
                                <input type="text" config="selectize_start_config" options="selectize_start_options" ng-model="start_day" required selectize/>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4 ">
                            <div class="parsley-row">
                                <br ng-show="!end_day && start_day">
                                <label class="uk-form-label" ng-show="end_day" style="font-size: 12px;color: #727272;">End Day<span class="req"> *</span></label>
                                <input type="text" config="selectize_end_config" options="selectize_end_options" ng-model="end_day" required selectize/>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4 ">
                            <div class="parsley-row">
                                <div class="uk-input-group">

                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                    <br ng-show="end_day || start_day">
                                    <label for="uk_tp_1">Start time *</label>
                                    <input type="text" class="md-input masked_input" md-input ng-model="startTime" name="startTime" data-inputmask="'alias': 'hh:mm t'" data-inputmask-showmaskonhover="false" required/>
                                </div>
                            </div>
                        </div>               
                        <div class="uk-width-medium-1-4 ">
                            <div class="parsley-row">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                    <br ng-show="end_day || start_day">
                                    <label for="uk_tp_1">End time *</label>
                                    <input type="text" class="md-input masked_input" md-input ng-model="endTime" name="endTime" data-inputmask="'alias': 'hh:mm t'" data-inputmask-showmaskonhover="false" required/>
                                </div>
                            </div>
                        </div>
                        <div class="uk-text-right">
                            <button class="md-btn md-btn-primary md-btn-small" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
