    <style type="text/css">
        .setWidth{
            font-size: 26px !important;
        }
        #socialStyle > li{
            border: none !important;
        }
        .user_heading {
            padding: 20px !important;
        }
		li{
			border: none !important;
		}
    </style>
    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading" style="background-color: rgb(231,231,231);padding: 20px !important;">
                            <div class="user_heading_avatar">
                                <div class="thumbnail">
                                    <img ng-src="{{instView.LOGO}}" alt="user avatar"/>
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom" style="color: #444;">
                                    <span class="uk-text-truncate">{{instView.INST_NAME}} {{instView.CODE}}</span>
                                    <span class="sub-heading">{{user_data.admno}}</span>
                                </h2>
                                <ul class="user_stats">
                                    <li>
                                        <h4 class="heading_c" style="color: #444;">{{user_data.course_name}}</h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_c" style="color: #444;">{{user_data.batch_name}}</h4>
                                    </li>
                                </ul>
                            </div>
                            <!-- <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.student.student_editprofile({stu_id:user_data.profileId})"> -->
                                <!-- <i class="material-icons">&#xE150;</i> -->
                            <!-- </a> -->
                        </div>
                        <div class="user_content">
                            <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                                <li class="uk-active"><a href="#">Institute Details</a></li>
                                <li><a href="#">Contact Information</a></li>
                            </ul>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                            <h4>About</h4>
                                            <ul class="md-list">
                                                <li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.TYPE_NAME}}</span>
                                                        <span class="uk-text-small uk-text-muted">Type</span>
                                                    </div>
                                                </li>
                                                <li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.TIME_ZONE_NAME}}</span>
                                                        <span class="uk-text-small uk-text-muted">Time Zone</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <ul class="md-list">
												<br>
												<br>
												<li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.CURRENCY_NAME}}</span>
                                                        <span class="uk-text-small uk-text-muted">Currency</span>
                                                    </div>
                                                </li>
                                                <li >
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.CODE}}</span>
                                                        <span class="uk-text-small uk-text-muted">CODE</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
										<div class="uk-width-large-1-2" ng-if="instView.FACEBOOK_LINK!=null || instView.GOOGLE_LINK!=null || instView.LINKEDIN_LINK!=null">
											<h4 class="heading_c uk-margin-small-bottom">Social Profile</h4>
                                            <ul class="md-list">
												<li>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">
                                                            <a ng-if="instView.FACEBOOK_LINK" href="{{instView.FACEBOOK_LINK}}"><i class="md-list-addon-icon uk-icon-facebook setWidth"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <a ng-if="instView.GOOGLE_LINK" href="{{instView.GOOGLE_LINK}}"><i class="md-list-addon-icon uk-icon-google-plus setWidth"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <a ng-if="instView.LINKEDIN_LINK" href="{{instView.LINKEDIN_LINK}}"><i class="md-list-addon-icon uk-icon-linkedin setWidth"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
											</ul>
										</div>
                                    </div>
                                </li>
								<li>
									<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
										<div class="uk-width-large-1-1">
											<h4>Mailling Address</h4>
											<ul class="md-list md-list-addon">
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0C8;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">
                                                        {{instView.ADDRESS}}
                                                        {{instView.CITY}}
                                                        {{instView.STATE}} -
                                                        {{instView.ZIP_CODE}},
                                                        {{instView.COUNTRY_NAME}}
                                                        </span>
                                                        <span class="uk-text-small uk-text-muted">Address</span>
                                                    </div>
                                                </li>
											</ul>
										</div>
										<div class="uk-width-large-1-1">
											<h4>Contact Details </h4>
											<ul class="md-list md-list-addon">
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.PHONE_NO_1}}</span>
                                                        <span class="uk-text-small uk-text-muted">Phone</span>
                                                    </div>
                                                </li>
												<li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.EMAIL}}</span>
                                                        <span class="uk-text-small uk-text-muted">Email</span>
                                                    </div>
                                                </li>
                                                <li>
												 <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE324;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{instView.PHONE_NO_2}}</span>
                                                        <span class="uk-text-small uk-text-muted">Mobile</span>
                                                    </div>
                                                </li>
											</ul>
										</div>
									</div>
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-margin-medium-bottom">
                                <h3 class="heading_c uk-margin-bottom">Alerts</h3>
                                <ul class="md-list md-list-addon">
                                    <li ng-repeat="alert in user_data.alerts">
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-warning" ng-if="alert.type == 'warning'">&#xE8B2;</i>
                                            <i class="md-list-addon-icon material-icons uk-text-success" ng-if="alert.type == 'success'">&#xE88F;</i>
                                            <i class="md-list-addon-icon material-icons uk-text-danger" ng-if="alert.type == 'danger'">&#xE001;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{alert.title}}</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">{{alert.content}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="heading_c uk-margin-bottom">Friends</h3>
                            <ul class="md-list md-list-addon uk-margin-bottom">
                                <li ng-repeat="friend in user_data.friends">
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="{{friend.avatar}}" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{friend.name}}</span>
                                        <span class="uk-text-small uk-text-muted">{{friend.status}}</span>
                                    </div>
                                </li>
                            </ul>
                            <a class="md-btn md-btn-flat md-btn-flat-primary" href="#">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
