<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
    .selectize-dropdown-content {
        max-height: 153px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step wz-title="Institution Details" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Basic Details
                                <!-- <span class="sub-heading">Institution Basic Details</span> -->
                            </h2>
                            <form id="form_validation">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="fullname">Institution Name<span class="req">*</span></label>
                                    <input type="text" class="md-input" md-input ng-model="Basic.institute_name" name="institute_name" required>
                                    <input type="hidden" ng-model="Basic.institution_id">
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label>Institution Code</label>
                                    <input type="text" class="md-input" md-input ng-model="Basic.institute_code" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-2"></div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img ng-src="http://localhost/smartedu/upload/{{LOGO}}" alt="user avatar"/>
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                        <div class="user_avatar_controls">
                                                                <span class="btn-file">
                                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control" ng-model="Basic.inst_image">
                                                                </span>
                                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_instType_config" options="selectize_instType_options" ng-model="Basic.institute_type" selectize/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_timezone_config" options="selectize_timezone_options" ng-model="Basic.time_zone" selectize/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_currency_config" options="selectize_currency_options" ng-model="Basic.currency" selectize/>
                                </div>
                                 
                                <!-- <div class="uk-width-medium-1-4 parsley-row">
                                    <label>Fax</label>
                                    <input type="text" class="md-input" md-input ng-model="Basic.fax" />
                                </div> -->
                            </div>
                            <br>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" ng-click="saveInstitutionData()" wz-next>Save & Continue</button>
                            </div>
                            </form>
                            <br>
                        </wz-step>
                        <wz-step wz-title="Contact Information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Conatact Details
                                <!-- <span class="sub-heading">Institution Contact details</span> -->
                            </h2>
                            <!-- <hr class="md-hr"/> -->
                            
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label for="Addrress">Addrress<span class="req">*</span></label>
                                    <input type="text" class="md-input" md-input ng-model="contact.address" />
                                    <input type="hidden" ng-model="contact.prof_id">
                                    <input type="hidden" ng-model="contact.locationId">
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_contact_config" options="selectize_contact_options" ng-model="contact.contact_name" selectize/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="city">City<span class="req">*</span></label>
                                    <input type="text" class="md-input" md-input ng-model="contact.city" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="state">State<span class="req">*</span></label>
                                    <input type="text" class="md-input" md-input ng-model="contact.state" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label>Zip</label>
                                    <input type="text" class="md-input" md-input ng-model="contact.pincode" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="contact.country" selectize/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="phone">Phone<span class="req">*</span></label>
                                    <input type="text" class="md-input" md-input ng-model="contact.phone" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE324;</i>
                                        </span>
                                        <label for="mobile">Mobile<span class="req">*</span></label>
                                        <input type="text" class="md-input" md-input ng-model="contact.mobile_no" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE0BE;</i>
                                        </span>
                                        <label for="email">Email<span class="req">*</span></label>
                                        <input type="text" class="md-input" md-input ng-model="contact.email" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-facebook"></i></a>
                                        </span>
                                        <label>Facebook</label>
                                        <input type="text" class="md-input" md-input ng-model="contact.facebook" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-google-plus"></i></a>
                                        </span>
                                        <label>Google</label>
                                        <input type="text" class="md-input" md-input ng-model="contact.google" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next ng-click="saveInstitutionContact();">Finish</button>
                            </div>
                        </wz-step>
                        
                    </wizard>

                </form>
            </div>
        </div>

    </div>
</div>
