<style type="text/css">
    .parsley-row{
        margin-top: 24px;
    }
    .adjustAutoComplete{
        /*width:100%;*/
        height: 37px !important;
    }
    .uk-autocomplete.uk-open .uk-dropdown {
        width: 100%;
    }
    .uk-nav > li > a {
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
    }
    .activeChat{
        background: rgba(0, 0, 0, 0.086) none repeat scroll 0 0;
    }
    .md-list-heading.ng-binding {
        color: #212121;
        font-weight: 500;
    }
    /*.md-list{
        padding: 0px 0px;
    }
    .md-list-content > .md-list-heading{
        display: block;
        font-weight: 500;
        margin: 0;
        overflow: hidden;
        padding-bottom: 1px;
    }*/
</style>
<div id="page_content">
    <div id="page_content_inner">
        <form class="md-card-list-item-reply">
        <div class="uk-width-medium-8-10 uk-container-center">
            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
            
                <div class="uk-width-large-7-10">
                    <div class="md-card md-card-single" single-card>
                        <div class="md-card-toolbar">
                            <div class="md-card-toolbar-actions hidden-print">
                                <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
                                    <i class="md-icon material-icons">&#xE3B7;</i>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav" id="chat_colors">
                                            <li class="uk-nav-header">Message Colors</li>
                                            <li class="uk-active"><a href="#" ng-click="changeColor($event,'chat_box_colors_a')">Grey/Green</a></li>
                                            <li><a href="#" ng-click="changeColor($event,'chat_box_colors_b')">Blue/Dark Blue</a></li>
                                            <li><a href="#" ng-click="changeColor($event,'chat_box_colors_c')">Orange/Light Gray</a></li>
                                            <li><a href="#" ng-click="changeColor($event,'chat_box_colors_d')">Deep Purple/Light Grey</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <i class="md-icon  material-icons">&#xE5CD;</i>
                            </div>
                            <h3 class="md-card-toolbar-heading-text large">
                                <!-- <span class="uk-text-muted">Chat with</span>  -->
                                <span class="uk-text-muted">{{msgVal.SUBJECT}}</span>
                            </h3>
                        </div>
                        <div class="md-card-content padding-reset">
                            <div class="chat_box_wrapper">
                                <div class="chat_box touchscroll {{chat_colors}}" id="chat" custom-scrollbar>
                                    <div class="chat_message_wrapper" ng-repeat="block in msgVal.messages track by $index" ng-class="{'chat_message_right': userProfile_id==block.CRT_USER_ID }" on-last-repeat>
                                        <div class="chat_user_avatar">
                                            <img class="md-user-image" ng-src="{{ chat_users[block.user_id].avatar }}" alt=""/>
                                        </div>
                                        <ul class="chat_message">
                                            <li>
                                                <p>{{block.MESSAGE}} <span class="chat_message_time" ng-show="$last">{{block.date}}</span></p>
                                            </li>
                                        </ul>
                                        <input type="hidden" ng-model="block.FROM_ID">
                                        <input type="hidden" ng-model="block.ID">
                                    </div>
                                </div>
                                <div class="chat_submit_box" id="chat_submit_box">
                                    <div class="uk-input-group">
                                        <input type="text" class="md-input" name="submit_message" id="submit_message" placeholder="Send message" md-input ng-model="message" >
                                        <span class="uk-input-group-addon">
                                            <!-- <a href="#"><i class="material-icons md-24">&#xE163;</i></a> -->
                                            <button type="button" ng-click="sendMessage($event,msgVal)" class="md-btn md-btn-flat md-btn-flat-primary md-24"><i class="material-icons md-24">&#xE163;</i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="uk-width-large-3-10 uk-visible-large">
                    <div class="md-list-outside-wrapper" custom-scrollbar list-outside>
                        <!-- <ul class="md-list md-list-addon md-list-outside"> -->
                        <ul class="md-list md-list-addon md-list-outside">
                            <li ng-repeat="user in messageList | limitTo:20" style="padding: 0px 0px">
                                <ul class="md-list" ng-class="{'activeChat': user.C_ID == msgVal.C_ID}" style="padding: 8px 4px">
                                    <li ng-repeat="mssg in user.messages" ng-if="mssg.NEW=='1'">
                                        <div class="md-card-dropdown md-list-action-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
                                            <i class="md-icon material-icons">&#xE5D4;</i>
                                            <div class="uk-dropdown uk-dropdown-small">
                                                <ul class="uk-nav">
                                                    <li ng-click="removeChat(user)">
                                                        <a class="uk-text-danger">Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div ng-click="getVal(user);">
                                            <div class="md-list-addon-element">
                                                <span class="element-status element-status-success" ng-if="mssg.STATUS=='CTD' && userProfile_id!= mssg.CRT_USER_ID"></span>
                                                <span class="element-status element-status-success" ng-if="user.status == 'online'"></span>
                                                <span class="element-status element-status-warning" ng-if="user.status == 'afk'"></span>
                                                <span class="md-user-letters md-color-white">{{user.FNAME | initials}}</span>
                                            </div>
                                            <div class="md-list-content">
                                                <div class="md-list-action-placeholder"></div>
                                                <span class="md-list-heading">{{mssg.FNAME}}</span>
                                                <span class="uk-text-small uk-text-muted uk-text-truncate">{{user.messages[user.messages.length-1].MESSAGE}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<div id="sidebar_secondary" sidebar-secondary toggle-hidden="large" custom-scrollbar>
    <div class="sidebar_secondary_wrapper uk-margin-remove">
        <ul class="md-list md-list-addon md-list-outside">
            <li ng-repeat="user in chat_users">
                <div class="md-card-dropdown md-list-action-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
                    <i class="md-icon material-icons">&#xE5D4;</i>
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav">
                            <li><a href="#">Add to chat</a></li>
                            <li><a href="#" class="uk-text-danger">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="md-list-addon-element">
                    <span class="element-status element-status-danger" ng-if="user.status == 'offline'"></span>
                    <span class="element-status element-status-success" ng-if="user.status == 'online'"></span>
                    <span class="element-status element-status-warning" ng-if="user.status == 'afk'"></span>
                    <img class="md-user-image md-list-addon-avatar" ng-src="{{user.avatar}}" alt=""/>
                </div>
                <div class="md-list-content">
                    <div class="md-list-action-placeholder"></div>
                    <span class="md-list-heading">{{user.name}}</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">{{user.description}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent md-fab-wave-light" href="#mailbox_new_message" data-uk-modal="{center:true}">
        <i class="material-icons">&#xE150;</i>
    </a>
</div>

<div class="uk-modal" id="mailbox_new_message">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close uk-close" type="button"></button>
        <form ng-submit="composeMsg(message_compose)">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Compose Message</h3>
            </div>
            <div class="uk-margin-medium-bottom">
                <!-- <label for="mail_new_to">To</label>
                <input type="text" class="md-input" id="mail_to" md-input ng-model="message_compose.recipient" /> -->

                <div class="uk-autocomplete uk-form uk-position-relative autocomplete_template" id="autocomplete">
                    <input type="text" class="md-input adjustAutoComplete" ng-focus-out ng-model="message_compose.recipient" placeholder="Search Students or Employees with their Names Or Number" required md-input>
                    <script type="text/autocomplete">
                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results"  id="autocomplete_template_results">
                            {{~items}}
                            <li data-value="{{ $item.FIRSTNAME +' - '+ $item.LASTNAME}}" data-id="{{ $item.ID }}">
                                <a class="item">
                                    {{ $item.value }}<br>
                                    <span class="uk-text-muted uk-text-small">{{{ $item.EMAIL }}}</span>
                                </a>
                            </li>
                            {{/items}}
                        </ul>
                    </script>
                </div>
            </div>
            <div class="uk-margin-medium-bottom">
                <label for="mail_new_to">Subject</label>
                <input type="text" class="md-input" id="mail_subject" md-input ng-model="message_compose.subject" required="" />
            </div>
            <div class="uk-margin-large-bottom">
                <label for="mail_new_message">Message</label>
                <textarea name="mail_new_message" id="mail_message" cols="30" rows="4" class="md-input" md-input ng-model="message_compose.message" " required=""></textarea>
            </div>
            <div id="mail_upload-drop" class="uk-file-upload">
                <p class="uk-text">Drop file to upload</p>
                <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                <span class="uk-form-file md-btn">choose file<input id="mail_upload-select" type="file" ng-model="message_compose.attachments"></span>
            </div>
            <div id="mail_progressbar" class="uk-progress uk-hidden">
                <div class="uk-progress-bar" style="width:0">0%</div>
            </div>
            <div class="uk-modal-footer">
                <!-- <a href="#" class="md-icon-btn"><i class="md-icon material-icons">&#xE226;</i></a> -->
                <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-primary">Send</button>
            </div>
        </form>
    </div>
</div>