    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
        .md-list-content.AdjListCon {
            padding-top: 10px;
        }
        #page_content_inner {
            padding: 24px 24px 0;
        }
        /*.uk-width-medium-1-4 {
            width: 24% !important;
        }*/
        .material-icons.AdjIcon {
            font-size: 30px !important;
        }
        input[type=text] { text-align:right }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <h3 class="heading_a">Fee Structure View</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Nitheesh</span>
                                            <span class="uk-text-small uk-text-muted">Student Name</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">82310132052</span>
                                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Computer Science and Engineering</span>
                                            <span class="uk-text-small uk-text-muted">Course</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Cse - B</span>
                                            <span class="uk-text-small uk-text-muted">Batch</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_1">Payment Date</label>
                                    <input class="md-input" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="forms_advanced.datepicker">
                                </div>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <input type="text" config="selectize_paymode_config" options="selectize_paymode_options" ng-model="selectize_paymode" name="selectize_paymode" selectize />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Cash' || selectize_paymode == 'Others'">
                                <label for="prev_state">Reference Number<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <!-- <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Online_Payment'">
                                <label for="prev_state">Transaction Id<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div> -->
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Cheque'">
                                <label for="prev_state">Cheque No.<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'DD'">
                                <label for="prev_state">DD No.<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Online_Payment' || selectize_paymode == 'Cheque'">
                                <label for="prev_state">Bank Name<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-2-3 uk-margin-top">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon">
                                    <i class="material-icons AdjIcon">view_list</i>
                                </span>
                                <selectize id="selec_adv_1" config="selectize_feeStruct_config" options="selectize_feeStruct_options" position="bottom" ng-model="forms_advanced.selectize_feeStruct"></selectize>
                                </div>
                            </div>
                        </div>
                        <!-- <pre>
                            {{forms_advanced.selectize_feeStruct | json}}
                        </pre> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th><i class="md-list-addon-icon material-icons">school</i> FEE ITEM NAME</th>
                            <th class="uk-text-right"><i class="md-list-addon-icon material-icons">attach_money</i>
                            AMOUNT</th>
                            <th class="uk-text-right"><i class="md-list-addon-icon material-icons">date_range</i>
                            PAY FEES</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="(keys, fee) in newData track by $index">
                            <tr>
                            <td colspan="3" style="background-color: rgb(233,233,233)">{{fee.FeeStructure_Name}}</td>
                            </tr>
                            <tr ng-repeat="(key, feeItem) in fee.FeeItemCount track by $index">
                                <td>{{feeItem.Fee_Item_Name}}</td>
                                <td class="uk-text-right">{{feeItem.Amount | currency:""}}</td>
                                <td class="uk-text-right"><input type="text" ng-change="changePaid()" name="fee_1" id="fee_1" ng-model="feesItem[keys][key].fees"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin ng-if="totalAmount != 0">
                        <div class="uk-width-medium-1-5">
                        </div>
                        <div class="uk-width-medium-2-5">
                        <b>Total Amount :</b>
                        <span style="float:right;margin-left: 10px;">{{totalAmount | currency:""}}</span>
                        </div>
                        <div class="uk-width-medium-2-5">
                        <b>Paid Amount :</b>
                        <span style="float:right;margin-left: 10px;">{{totalPaid | currency:""}}</span>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-3-6 parsley-row">
                            <label>Payment Notes</label>
                            <textarea cols="30" rows="1" class="md-input" ng-model="form.input_k" md-input textarea-autosize></textarea>
                        </div>
                        <div class="uk-width-medium-2-6 parsley-row">
                        </div>
                        <div class="uk-width-medium-1-6 parsley-row">
                            <a class="md-btn md-btn-primary md-btn-wave-light" ui-sref="restricted.finance.fee.receiptView" style="float: right;margin-top: 25px;">Pay Fee</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>