    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
        .md-list-content.AdjListCon {
            padding-top: 10px;
        }
        #page_content_inner {
            padding: 24px 24px 0;
        }
        .uk-width-medium-1-4 {
            width: 24% !important;
        }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <h3 class="heading_a">Fee Structure View</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Nitheesh</span>
                                            <span class="uk-text-small uk-text-muted">Student Name</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">82310132052</span>
                                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Computer Science and Engineering</span>
                                            <span class="uk-text-small uk-text-muted">Course</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Cse - B</span>
                                            <span class="uk-text-small uk-text-muted">Batch</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_1">Payment Date</label>
                                    <input class="md-input" type="text" id="uk_dp_1" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input ng-model="forms_advanced.datepicker">
                                </div>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <input type="text" config="selectize_paymode_config" options="selectize_paymode_options" ng-model="selectize_paymode" name="selectize_paymode" selectize />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Cash' || selectize_paymode == 'Others'">
                                <label for="prev_state">Reference Number<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Online_Payment'">
                                <label for="prev_state">Transaction Id<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Cheque'">
                                <label for="prev_state">Cheque No.<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'DD'">
                                <label for="prev_state">DD No.<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                            <div class="uk-width-medium-1-4" ng-show="selectize_paymode == 'Online_Payment' || selectize_paymode == 'Cheque'">
                                <label for="prev_state">Bank Name<span class="req"></span></label>
                                <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th style="width:40%;"><i class="md-list-addon-icon material-icons">school</i> FEE ITEM NAME</th>
                            <th style="width:40%;"><i class="md-list-addon-icon material-icons">attach_money</i>
                            AMOUNT</th>
                            <th style="width:15%;"><i class="md-list-addon-icon material-icons">date_range</i>
                            PAY FEES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tution Fee</td>
                            <td>35250</td>
                            <td><input type="text" name="fee_1" id="fee_1" ng-model="fee_1" /></td>
                        </tr>
                        <tr>
                            <td>Additional Fee</td>
                            <td>10300</td>
                            <td><input type="text" name="fee_2" id="fee_2" ng-model="fee_2" /></td>
                        </tr>
                        <tr>
                            <td>Bus Fee</td>
                            <td>1500</td>
                            <td><input type="text" name="fee_3" id="fee_3" ng-model="fee_3" /></td>
                        </tr>
                        <tr>
                            <td>Mess Fee</td>
                            <td>19050</td>
                            <td><input type="text" name="fee_4" id="fee_4" ng-model="fee_4" /></td>
                        </tr>
                        <tr>
                            <td>Book Fee</td>
                            <td>25000</td>
                            <td><input type="text" name="fee_5" id="fee_5" ng-model="fee_5" /></td>
                        </tr>
                        <!-- <tr>
                            <td colspan="2" style="text-align: right;font-weight: bold;">Total Amount</td>
                            <td>50000</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-4">
                        
                        </div>
                        <div class="uk-width-medium-1-4">
                        <b>Total Amount :</b>
                        <span style="float:right;margin-left: 10px;">45121</span>
                        </div>
                        <div class="uk-width-medium-1-4">
                        </div>
                        <div class="uk-width-medium-1-4">
                        <b>Payed Amount :</b>
                        <span style="padding:10px">{{total()}}</span>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-3-6 parsley-row">
                            <label>Payment Notes</label>
                            <textarea cols="30" rows="1" class="md-input" ng-model="form.input_k" md-input textarea-autosize></textarea>
                        </div>
                        <div class="uk-width-medium-2-6 parsley-row">
                        </div>
                        <div class="uk-width-medium-1-6 parsley-row">
                            <a class="md-btn md-btn-primary md-btn-wave-light" ui-sref="restricted.finance.fee.receiptView" style="float: right;margin-top: 25px;">Pay Fee</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>