    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
        .md-list-content.AdjListCon {
            padding-top: 10px;
        }
        #page_content_inner {
            padding: 24px 24px 0;
        }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Fee Structure View</h3>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.STUDENT_NAME}}</span>
                                            <span class="uk-text-small uk-text-muted">Student Name</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.ADMISSION_NO}}</span>
                                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.COURSE_NAME}}</span>
                                            <span class="uk-text-small uk-text-muted">Course</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.BATCH_NAME}}</span>
                                            <span class="uk-text-small uk-text-muted">Batch</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >date_range</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.PAYMENT_DATE}}</span>
                                            <span class="uk-text-small uk-text-muted">Payment Date</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >receipt</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.RECIEPT_NO}}</span>
                                            <span class="uk-text-small uk-text-muted">Receipt Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >attach_money</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.STUDENT_NAME}}</span>
                                            <span class="uk-text-small uk-text-muted">Total Amount</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >monetization_on</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{studentDetails.STUDENT_NAME}}</span>
                                            <span class="uk-text-small uk-text-muted">Due Amount</span>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th><i class="md-list-addon-icon material-icons">list</i> Fee Item Name</th>
                            <th><i class="md-list-addon-icon material-icons">attach_money</i>
                            Actual Amount</th>
                            <th><i class="md-list-addon-icon material-icons">monetization_on</i>
                            Paid Amount</th>
                            <th><i class="md-list-addon-icon material-icons">date_range</i>
                            Due Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="feelist in studentDetailsList[0].feelist">
                            <td>{{feelist.ITEM_NAME}}</td>
                            <td>{{feelist.AMOUNT}}</td>
                            <td>{{feelist.PAID_AMOUNT}}</td>
                            <td>{{feelist.AMOUNT-feelist.PAID_AMOUNT}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        
                        <div class="uk-width-medium-1-3">
                        <span><b>Total Amount :</b></span>
                        <span>50000</span>
                        </div>
                        <div class="uk-width-medium-1-3">
                        <span><b>Total Payed :</b></span>
                        <span>50000</span>
                        </div>
                        <div class="uk-width-medium-1-3">
                        <span><b>Total Due:</b></span>
                        <span>50000</span>
                        </div>
                    </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>