<style>
.selectize-dropdown [data-selectable] {
    font-size: 13px !important;
    padding-bottom: 10px;
    padding-top: 11px;
}
.md-hr{
         margin: 24px 0 !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
      <h2 class="heading_b uk-margin-bottom">
          Fine
      </h2>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
              <form id="form_validation" ng-submit="saveFineDetails()">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <div class="uk-width-10-10 uk-width-medium-10-10">
                          <div class="uk-width-1-2 parsley-row">
                              <label>Fine Name</label>
                              <input type="text" ng-model="fine_name" required class="md-input" md-input>
                              <input type="hidden" ng-model="fine_id">
                          </div>
                        </div>
                        <div class="uk-grid uk-grid-medium" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index" style="margin-top: 25px;">
                          <div class="uk-width-8-10 uk-width-medium-9-10">
                              <div class="uk-grid" data-uk-grid-margin>
                                  <div class="uk-width-medium-1-3 parsley-row">
                                      <label for="prev_state">Days After Due Date<span class="req"></span></label>
                                      <input type="text" name="Days_After" id="Days_After" required class="md-input" md-input ng-model="section.Days_After" />
                                  </div>
                                  <div class="uk-width-medium-1-3 parsley-row">
                                      <label for="prev_state">Fine Value<span class="req"></span></label>
                                      <input type="text" name="Fine_Value" id="Fine_Value" required class="md-input" md-input ng-model="section.Fine_Value" />
                                  </div>
                                  <div class="uk-width-medium-1-3 parsley-row">
                                    <label>Mode:</label>
                                    <div class="dynamic_radio uk-margin-small-top">
                                        <span class="icheck-inline">
                                            <input type="radio" icheck ng-model="section.mode"  value="Percentage" ng-checked="true" />
                                            <label for="radio_demo_inline_1" class="inline-label">Percentage</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="radio" icheck ng-model="section.mode" value="Amount" />
                                            <label for="radio_demo_inline_2" class="inline-label">Amount</label>
                                        </span>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center">
                              <div class="uk-vertical-align uk-height-1-1">
                                  <div class="uk-vertical-align-middle">
                                      <a href="javascript:void(0)" ng-click="cloneSection($event,$index,section)" ng-if="$last" data-uk-tooltip title="Add Fine Slab"><i class="material-icons md-36">&#xE146;</i></a>
                                      <a href="javascript:void(0)" ng-click="deleteSection($event,$index)" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="uk-text-right">
                            <button type="button" class="md-btn md-btn-flat md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="backBtn();clearValidation();">Cancel</button>
                            <button type="submit" class="md-btn md-btn-flat md-btn md-btn-primary md-btn-small">Save</button>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>

    </div>
</div>