<style type="text/css">


.tablesorter tbody > tr > td[contenteditable=true]:focus {
  outline: #08f 1px solid;
  background: #eee;
  resize: none;
}
td.no-edit, span.no-edit {
  background-color: rgba(230,191,153,0.5);
}
.focused {
  color: blue;
}
td.editable_updated {
  background-color: green;
  color: white;
}
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Parent Receipt View</h3>
        <div class="md-card">
            <div class="md-card-content">
                <!-- <div class="uk-margin-bottom">
                    <button class="md-btn uk-margin-right md-btn-primary" ng-click="showConfimation()">Mark as Completed</button>
                </div> -->
                <div class="uk-overflow-container uk-margin-bottom">
                    <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                        <thead>
                        <tr>
                            <th data-priority="critical">S.No</th>
                            <th data-priority="critical">Payment Date</th>
                            <th data-priority="critical">Receipt Number</th>
                            <th data-priority="critical">Amount</th>
                            <th data-priority="critical">Paid Amount</th>
                        </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.No</th>
                                <th>Payment Date</th>
                                <th>Receipt Number</th>
                                <th>Amount</th>
                                <th>Paid Amount</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in studentFeeList" on-last-repeat>
                                <td>{{$index+1}}</td>
                                <!-- <td><a ui-sref="restricted.parentReceiptDetailView">{{item.feestructure}}</a></td> -->
                                <td><a ui-sref="restricted.finance.fee.parentReceiptDetailView({'PAYMENT_ID':{{item.PAYMENT_ID}}})">{{item.PAYMENT_DATE}}</a></td>
                                <td>{{item.RECIEPT_NO}}</td>
                                <td>{{item.AMOUNT}}</td>
                                <td>{{item.PAID_AMOUNT}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ts_pager">
                    <ul class="uk-pagination ts_pager">
                        <li data-uk-tooltip title="Select Page">
                            <select class="ts_gotoPage ts_selectize"></select>
                        </li>
                        <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pagedisplay"></span></li>
                        <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                        <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="Page Size">
                            <select class="pagesize ts_selectize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
