<style type="text/css">
    .invoice_header > img {
        max-height: 160%;
        width: auto;
    }
</style>
<div id="page_content" class="ng-scope" >
<div id="page_content_inner">
<div class="uk-width-medium-7-10 uk-container-center reset-print">
<div class="uk-grid uk-grid-collapse" data-uk-grid-margin="">
<div class="uk-width-large-10-10 uk-row-first">
<div class="ng-scope" autoscroll="false" ui-view="ivoice_content">
<div class="md-card md-card-single main-print" id="invoice" single-card>
    <div class="md-card-toolbar" ng-class="{ 'hidden-print': invoice.header }">
        <div class="md-card-toolbar-actions hidden-print">
            <i class="md-icon material-icons" print-page print-message="Do you want to print this invoice?">&#xE8ad;</i>
        </div>
    </div>
    <div class="md-card-content invoice_content print_bg" ng-class="{ 'invoice_footer_active': invoice.footer }">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-6">
                <div class="invoice_header">
                    <img src="assets/img/log.png" alt="" height="30" width="140"/>
                    <!-- <span><b>Srinivasan Engineering College</b></span> -->
                </div>

            </div>
            <div class="uk-width-medium-5-6">
            <h3 class="heading_a">{{instituteDetails.INSTITUTION_NAME}}</h3>
            <span class="uk-text-small uk-text-muted">{{instituteDetails.ADDRESS}}, {{instituteDetails.CITY}},{{instituteDetails.STATE}}</span><br>
            <span class="uk-text-small uk-text-muted">{{instituteDetails.PHONE_NO}}</span><br>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <h3 class="heading_c"><span class="uk-text-medium uk-text-muted">Receipt No:</span> RE0001 </h3>
                <!-- <span class="uk-text-muted uk-text-small uk-text-italic">Date:</span> 17.07.2017
                <br>
                <span class="uk-text-muted uk-text-small uk-text-italic">Payment Mode:</span> Cash -->
            </div>
        </div>
        <!-- <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Student Name:</span> Nitheesh
            </div>
            <div class="uk-width-medium-1-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Admission No:</span> 82310132075
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Course Name:</span> Computer Science and Engineering
            </div>
            <div class="uk-width-medium-1-3">
                <span class="uk-text-muted uk-text-small uk-text-italic">Batch:</span> Cse - B
            </div>
        </div> -->
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{viewDetail.PAYMENT_DATE}}</span>
                            <span class="uk-text-small uk-text-muted">Date</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{viewDetail.MODEOF_PAYMENT}}</span>
                            <span class="uk-text-small uk-text-muted">Payment Mode</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{viewDetail.STUDENT_NAME}}</span>
                            <span class="uk-text-small uk-text-muted">Student Name</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{viewDetail.ADMISSION_NO}}</span>
                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{viewDetail.COURSE_NAME}}</span>
                            <span class="uk-text-small uk-text-muted">Course</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-1-4">
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{viewDetail.BATCH_NAME}}</span>
                            <span class="uk-text-small uk-text-muted">Batch</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-10-10">
                <table class="uk-table uk-table-middle">
                    <thead>
                        <tr class="uk-text-upper">
                            <th>Particular</th>
                            <th style="text-align: right;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="uk-table-middle" ng-repeat="items in viewDetail.itemlist">
                            <td>{{items.FEEITEM_NAME}}</td>
                            <td style="text-align: right;">{{items.PAID_AMOUNT | currency:""}}</td>
                        </tr>

                        <!-- <tr class="uk-table-middle" ng-repeat="fines in viewDetail.finelist">
                            {{fines | json}}
                            <td ng-show="{{fines.FINEFEEITEM_NAME}}">{{fines.FINEFEEITEM_NAME}}</td>
                            <td ng-show="{{fines.FINEFEEITEM_NAME}}" style="text-align: right;">{{fines.FEEFINE_AMOUNT | currency:""}}</td>
                        </tr> -->
                    </tbody>
                </table>
                <div>
                    <h4>Fee fine details</h4>
                </div>
                <!-- {{viewDetail.finelist | json}} -->
                <table class="uk-table uk-table-middle">
                    <tbody>
                        <tr class="uk-table-middle" ng-repeat="fines in viewDetail.finelist">
                            <td>{{fines.FEEITEM_NAME}}</td>
                            <td style="text-align: right;">{{fines.AMOUNT | currency:""}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-5-6 uk-text-right">
                        <span class="uk-text-bold">Total Amount :</span>
                    </div>
                    <div class="uk-width-medium-1-6 uk-text-right">
                        <span class="uk-text-lead">{{viewDetail.TOTAL_AMOUNT | currency:""}}</span> 
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="uk-grid">
            <div class="uk-width-1-1">
                <span class="uk-text-muted uk-text-small uk-text-italic">Payment to:</span>
                <p class="uk-margin-top-remove">
                    <br>
                    
                </p>
                <p class="uk-text-small">Please pay within  days</p>
            </div>
        </div> -->
        <div class="invoice_footer">
            Ruby Campus<span>&middot;</span>{{instituteDetails.ADDRESS}},{{instituteDetails.CITY}}<br>
            {{instituteDetails.STATE}}<span>&middot;</span>{{instituteDetails.PHONE_NO}}
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>