<style type="text/css">
    .tablesorter tbody > tr > td[contenteditable=true]:focus {
      outline: #08f 1px solid;
      background: #eee;
      resize: none;
    }
    td.no-edit, span.no-edit {
      background-color: rgba(230,191,153,0.5);
    }
    .focused {
      color: blue;
    }
    td.editable_updated {
      background-color: green;
      color: white;
    }
</style>
<div id="page_content" ng-controller="showAssignedstudentviewCtrl as showCase">
    <div id="page_content_inner">
        <h2 class="heading_a uk-margin-bottom">
            Assigned Students
        </h2>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <!-- <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%"> -->
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Adminssion No</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Adminssion No</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="item in viewData track by $index">
                            <td>{{$index+1}}</td>
                            <td><img class="md-user-image" ng-show="{{item.IMAGE}}" ng-src="{{item.IMAGE}}" alt=""/><img class="md-user-image" ng-show="{{!item.IMAGE}}" ng-src="http://www.pinetia.com/data/doctor_img/mnoimage.png"/></td>
                            <td>{{item.STUDENT_NAME}}</td>
                            <td>{{item.ADMISSION_NO}}</td>
                            <td> <a ng-click="removeStudent(item.student_fee_id,$index)"><i class="md-icon material-icons">&#xE872;</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
