    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
        .md-list-content.AdjListCon {
            padding-top: 10px;
        }
        #page_content_inner {
            padding: 24px 24px 0;
        }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <h3 class="heading_a">Fee Report</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Nitheesh</span>
                                            <span class="uk-text-small uk-text-muted">Student Name</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">82310132052</span>
                                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Computer Science and Engineering</span>
                                            <span class="uk-text-small uk-text-muted">Course</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Cse - B</span>
                                            <span class="uk-text-small uk-text-muted">Batch</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <div class="uk-margin-bottom" data-uk-margin>
                    <a ng-click="showMultiplePDFGeneration()" class="md-btn"><i class="material-icons">print</i> Print</a>
                </div>
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th><i class="md-list-addon-icon material-icons">list</i> Fee Structure Name</th>
                            <th><i class="md-list-addon-icon material-icons">date_range</i>
                            Payment Date</th>
                            <th><i class="md-list-addon-icon material-icons">list</i> Receipt Number</th>
                            <th><i class="md-list-addon-icon material-icons">attach_money</i>
                            Actual Amount</th>
                            <th><i class="md-list-addon-icon material-icons">monetization_on</i>
                            Paid Amount</th>
                            <th><i class="md-list-addon-icon material-icons">date_range</i>
                            Due Amount</th>
                            <th><i class="md-list-addon-icon material-icons">autorenew</i>
                            Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Fee Structure 1</td>
                            <td>03/05/2016</td>
                            <td class="uk-text-center">RE001</td>
                            <td class="uk-text-center">15000</td>
                            <td class="uk-text-center">13500</td>
                            <td class="uk-text-center">1500</td>
                            <td><a href="#" class="ts_remove_row" ui-sref="restricted.finance.fee.feeStructView"><i class="md-icon material-icons">&#xE8F4;</i></a>
                            <a ng-click="singlePdfGeneartion()" class="ts_remove_row"><i class="md-icon material-icons">&#xE8AD;</i></a></td>
                        </tr>
                        <tr>
                            <td>Fee Structure 2</td>
                            <td>13/02/2016</td>
                            <td class="uk-text-center">RE002</td>
                            <td class="uk-text-center">14852</td>
                            <td class="uk-text-center">14500</td>
                            <td class="uk-text-center">352</td>
                            <td><a href="#" class="ts_remove_row" ui-sref="restricted.finance.fee.feeStructView"><i class="md-icon material-icons">&#xE8F4;</i></a>
                            <a ng-click="singlePdfGeneartion()" class="ts_remove_row"><i class="md-icon material-icons">&#xE8AD;</i></a></td>
                        </tr>
                        <tr>
                            <td>Fee Structure 3</td>
                            <td>20/10/2016</td>
                            <td class="uk-text-center">RE003</td>
                            <td class="uk-text-center">84200</td>
                            <td class="uk-text-center">75000</td>
                            <td class="uk-text-center">1800</td>
                            <td><a href="#" class="ts_remove_row" ui-sref="restricted.finance.fee.feeStructView"><i class="md-icon material-icons">&#xE8F4;</i></a>
                            <a ng-click="singlePdfGeneartion()" class="ts_remove_row" ui-sref="#"><i class="md-icon material-icons">&#xE8AD;</i></a></td>
                        </tr>
                        <tr>
                            <td>Fee Structure 4</td>
                            <td>14/11/2016</td>
                            <td class="uk-text-center">RE004</td>
                            <td class="uk-text-center">65420</td>
                            <td class="uk-text-center">65000</td>
                            <td class="uk-text-center">420</td>
                            <td><a href="#" class="ts_remove_row" ui-sref="restricted.finance.fee.feeStructView"><i class="md-icon material-icons">&#xE8F4;</i></a>
                            <a ng-click="singlePdfGeneartion()" class="ts_remove_row"><i class="md-icon material-icons">&#xE8AD;</i></a></td>
                        </tr>
                        <tr>
                            <td>Fee Structure 5</td>
                            <td>31/12/2016</td>
                            <td class="uk-text-center">RE004</td>
                            <td class="uk-text-center">35420</td>
                            <td class="uk-text-center">35420</td>
                            <td class="uk-text-center">0</td>
                            <td><a href="#" class="ts_remove_row" ui-sref="restricted.finance.fee.feeStructView"><i class="md-icon material-icons">&#xE8F4;</i></a>
                            <a ng-click="singlePdfGeneartion()" class="ts_remove_row"><i class="md-icon material-icons">&#xE8AD;</i></a></td>
                        </tr>
                        <!-- <tr>
                            <td colspan="2" style="text-align: right;font-weight: bold;">Total Amount</td>
                            <td>50000</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        
                        <div class="uk-width-medium-1-3">
                        <span><b>Total Amount :</b></span>
                        <span>50000</span>
                        </div>
                        <div class="uk-width-medium-1-3">
                        <span><b>Total Payed :</b></span>
                        <span>50000</span>
                        </div>
                        <div class="uk-width-medium-1-3">
                        <span><b>Total Due:</b></span>
                        <span>50000</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>