    <style type="text/css">
        .uk-grid.AdjPad {
            padding-left: 20px;
        }
        .md-list-content.AdjListCon {
            padding-top: 10px;
        }
        #page_content_inner {
            padding: 24px 24px 0;
        }
    </style>
    <div id="page_content">
        <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-1-1">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <h3 class="heading_a">Fee Report</h3>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >person</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Nitheesh</span>
                                            <span class="uk-text-small uk-text-muted">Student Name</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >insert_comment</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">82310132052</span>
                                            <span class="uk-text-small uk-text-muted">Admission Number</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >import_contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Computer Science and Engineering</span>
                                            <span class="uk-text-small uk-text-muted">Course</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="uk-width-medium-1-4">
                                <ul class="md-list md-list-addon">
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons" >contacts</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Cse - B</span>
                                            <span class="uk-text-small uk-text-muted">Batch</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                        <tr>
                            <th style="width:20%;"><i class="md-list-addon-icon material-icons">list</i> RECEIPT NO</th>
                            <th style="width:22%;"><i class="md-list-addon-icon material-icons">date_range</i>
                            DUE DATE</th>
                            <th style="width:20%;"><i class="md-list-addon-icon material-icons">attach_money</i>
                            ACTUAL AMOUNT</th>
                            <th style="width:20%;"><i class="md-list-addon-icon material-icons">monetization_on</i>
                            PAYED AMOUNT</th>
                            <th style="width:20%;"><i class="md-list-addon-icon material-icons">date_range</i>
                            DUE AMOUNT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>RE001</td>
                            <td>03/05/2016</td>
                            <td>15000</td>
                            <td>13500</td>
                            <td>1500</td>
                        </tr>
                        <tr>
                            <td>RE002</td>
                            <td>13/02/2016</td>
                            <td>14852</td>
                            <td>14500</td>
                            <td>352</td>
                        </tr>
                        <tr>
                            <td>RE003</td>
                            <td>20/10/2016</td>
                            <td>84200</td>
                            <td>75000</td>
                            <td>1800</td>
                        </tr>
                        <tr>
                            <td>RE004</td>
                            <td>14/11/2016</td>
                            <td>65420</td>
                            <td>65000</td>
                            <td>420</td>
                        </tr>
                        <tr>
                            <td>RE005</td>
                            <td>31/12/2016</td>
                            <td>35420</td>
                            <td>35420</td>
                            <td>0</td>
                        </tr>
                        <!-- <tr>
                            <td colspan="2" style="text-align: right;font-weight: bold;">Total Amount</td>
                            <td>50000</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-5">
                        
                        </div>
                        <div class="uk-width-medium-1-5">
                        <span style="float:right;margin-left: 10px;"><b>Total Amount :</b></span>
                        </div>
                        <div class="uk-width-medium-1-5">
                        <span style="margin-left: 10px;">50000</span>
                        <span style="float:right;margin-left: 10px;"><b>Total Payed :</b></span>
                        </div>
                        <div class="uk-width-medium-1-5">
                        <span style="margin-left: 10px;">50000</span>
                        <span style="float:right;margin-left: 10px;"><b>Total Due:</b></span>
                        </div>
                        <div class="uk-width-medium-1-5">
                        <span style="margin-left: 10px;">50000</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>