<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
    .selectize-dropdown{
        margin-top: 0px;
    }
    /*#mceu_16 {
        display: none !important;
    }*/
    /*[id*="mceu_"] {
        background: yellow;
    }*/
    .mce-menubar.mce-toolbar{
        display: none !important;
    }
    /*.mce-menubar.mce-toolbar:last{
      display: none !important;  
    }*/
    /*#mceu_33-body{
        display: none !important;
    }*/
    .form_hr + .form_hr {
        margin-top: 0;
        padding-top: 0;
        position: relative;
    }
    .textarea.md-input {
        line-height: 0px !important;
    }
    @media only screen and (max-width: 768px) {
        #addButton {
            margin-left: 16px !important;
        }
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
    <h3 class="heading_a uk-margin-bottom">Syllabus</h3>
    <form id="form_validation" name="inputForm" ng-submit="updateSyllabusDetails()" novalidate>
        <div class="md-card">
            <div class="md-card-content">
                
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <br ng-show="subjectID">
                            <label class="uk-form-label" ng-show="courseID" style="font-size: 12px;color: #727272;">Course<span class="req">*</span></label>
                            <input type="text" config="selectize_course_config" options="selectize_course_options" ng-model="courseID" selectize required/>
                            <input type="hidden" ng-model="sub_syllabus_id">
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <br ng-show="courseID">
                            <label class="uk-form-label" ng-show="subjectID" style="font-size: 12px;color: #727272;">Subject<span class="req">*</span></label>
                            <input type="text" config="selectize_subject_config" options="selectize_subject_options" ng-model="subjectID" required selectize />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content large-padding">
                <!-- <form class="uk-form" method="post"> -->
                    <div class="uk-grid uk-grid-medium form_hr parsley-row" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index">
                        <div class="uk-width-9-10 uk-width-medium-9-10 uk-width-small-5">
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                    <div class="md-card" style="99.99%">
                                        <div class="md-card-content" style="height: 26px !important;">
                                            <textarea  style="line-height: 0px !important;" class="md-input" ng-model="section.syllabus_title" md-input textarea-autosize placeholder="Title" required></textarea>
                                            <input type="hidden" ng-model="section.syllabus_ID">
                                        </div>
                                    </div>
                                    <textarea ui-tinymce="tinymce_options" ng-model="section.syllabus_content" cols="4" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-small-6" style="margin-left: 0px;margin-top: -80px;" id="addButton">
                            <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center" style="float: right !important;">
                                <div class="uk-vertical-align uk-height-1-1">
                                    <div class="uk-vertical-align-middle">
                                        <a href="javascript:void(0)" config="selectize_clone_config" data-uk-tooltip="{pos:'top'}" ng-click="cloneSection($event,$index)" ng-if="$last" title="add row"><i class="material-icons md-36">&#xE146;</i></a>
                                        <a href="javascript:void(0)" data-uk-tooltip="{pos:'top'}" ng-click="deleteSection($event,$index)" title="Remove row" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- {{form_dynamic | json}} -->
                    <div class="uk-text-right">
                        <button type="button" class="md-btn md-btn-flat md-btn md-btn-danger md-btn-small" ui-sref="restricted.academics.syllabus_view">Cancel</button>
                        <!-- <button type="button" class="md-btn md-btn-flat md-btn md-btn-primary md-btn-small" ng-click="updateSyllabusDetails()">Update</button> -->
                        <button type="submit" class="md-btn md-btn-flat md-btn md-btn-primary md-btn-small">Update</button>
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </form>
    </div>
</div>
