<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_a uk-margin-bottom">Syllabus
       <!--  <span style="float: right;font-size:18px;"><a ui-sref="restricted.academics.syllabus_add" class="md-btn md-btn-primary">Add Syllabus</a></span> -->
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding" ng-controller="syllabusviewCtrl as showCase">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <a class="md-btn md-btn-primary md-btn-small" ui-sref="restricted.academics.syllabus_add">
                        <i class="uk-icon-plus"></i>  Add Syllabus
                        </a>
                    </div>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Subject</th>
                            <th>Course</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Subject</th>
                            <th>Course</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{$index+1}}</td>
                            <td>{{row.subject_name}}</td>
                            <td>{{row.course_name}}</td>
                            <td class="uk-text-center">
                                <!-- <a ui-sref="restricted.academics.syllabus_viewlist({syllabus_id:{{row.syllabus_id}}})" class="ts_remove_row"><i class="material-icons md-icon">&#xE417;</i></a> -->
                            <a ui-sref="restricted.academics.view_syllabusDetails" class="ts_remove_row"><i class="material-icons md-icon">&#xE417;</i></a>
                                <a ui-sref="#" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a ui-sref="#" class="ts_remove_row" ><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
