<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">Syllabus Details
        <span style="float: right;font-size:18px;"><a ui-sref="restricted.academics.syllabus_add" class="md-btn md-btn-primary">Add Syllabus</a></span>
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content" ng-controller="syllabusviewCtrl as showCase">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Course</th>
                            <th>Subject</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>S.No</th>
                            <th>Course</th>
                            <th>Subject</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{$index+1}}</td>
                            <td>{{row.course_name}}</td>
                            <td>{{row.course_name}}</td>
                            <td class="uk-text-center">
                                <a ui-sref="restricted.academics.syllabus_viewlist" class="ts_remove_row"><i class="material-icons md-icon">&#xE417;</i></a>
                                <a ui-sref="#" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,row.syllabus_id)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
