<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-width-medium-9-10 uk-container-center reset-print">

            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
                <div class="uk-width-large-3-10 hidden-print uk-visible-large">
                    <div class="md-list-outside-wrapper" custom-scrollbar list-outside>
                        <!-- <ul class="md-list md-list-outside notes_list">
                            <li class="heading_list" style="color: #e53935 !important;">Subject</li>
                            <li ng-repeat-end ng-repeat="note in notes_data">
                                <a href="#" class="md-list-content note_link" ng-click="openNote($event,$parent.$index,$index,note)">
                                    <span class="md-list-heading uk-text-truncate">{{note.sub_title}}</span>
                                </a>
                            </li>
                        </ul> -->
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <input type="text" config="selectize_dept_config" options="selectize_dept_data" ng-model="selectize_dept" name="selectize_dept" selectize>
                            </div>
                        </div>
                        <br>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <input type="text" config="selectize_course_config" options="selectize_course_data" ng-model="selectize_course" name="selectize_course" selectize />
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <input type="text" config="selectize_subject_config" options="selectize_subject_data" ng-model="selectize_subject" name="selectize_subject" selectize />
                            </div>
                        </div>
                        
                    </div>

                    <!-- <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <input type="text" config="selectize_course_config" options="selectize_course_data" ng-model="selectize_course" name="selectize_course" selectize />
                            </div>
                        </div>
                        <br>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <input type="text" config="selectize_subject_config" options="selectize_subject_data" ng-model="selectize_subject" name="selectize_subject" selectize />
                            </div>
                        </div>
                        <br>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <input type="text" config="selectize_syllabus_config" options="selectize_syllabus_data" ng-model="selectize_syllabus" name="selectize_syllabus" selectize />
                            </div>
                        </div> -->

                </div>
                <div class="uk-width-large-7-10">
                    <div class="md-card md-card-single" single-card>
                        <div class="md-card-toolbar">
                            <div class="md-card-toolbar-actions">
                                <i class="md-icon material-icons" id="toggleAll" ng-click="toggleAll($event)">&#xe8f2;</i>
                            </div>
                            <h3 class="md-card-toolbar-heading-text large" ng-repeat="title in notes_data">
                                {{title.sub_title}}
                            </h3>
                        </div>
                        <div class="md-card-content padding-reset" id="help_content">
                            <h4 class="heading_c full_width_in_card">Syllabus</h4>
                            <div class="uk-accordion uk-accordion-alt help_accordion hierarchical_slide" hierarchical-slide slide-children="h3" slide-context=".md-card-content">
                                <h3 class="uk-accordion-title" ng-repeat-start="item in notes_data[0].chapter" on-last-repeat>{{item.syllabus_title}}</h3>
                                <div class="uk-accordion-content" ng-repeat-end>
                                    <p>{{item.content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sidebar_secondary" sidebar-secondary toggle-hidden="large" custom-scrollbar>
    <div class="sidebar_secondary_wrapper uk-margin-remove">
        <ul class="md-list md-list-outside notes_list">
            <li class="heading_list" ng-repeat-start="list in notes_data" ng-class="{ 'uk-text-danger': $index == 0}">{{list.group_name}}</li>
            <li ng-repeat-end ng-repeat="note in list.notes">
                <a href="#" class="md-list-content note_link" ng-click="openNote($event,$parent.$index,$index,note)">
                    <span class="md-list-heading uk-text-truncate">{{note.title}}</span>
                    <span class="uk-text-small uk-text-muted">{{note.date}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>