<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step wz-title="Employee Admission" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Personal Details
                                <span class="sub-heading">Employee Admission & Personal details</span>
                            </h2>
                            <hr class="md-hr"/>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="admission_no">Employee No<span class="req">*</span></label>
                                    <input type="text" name="admission_no" id="admission_no" required class="md-input" md-input ng-model="wizard.w1_birth_place" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="join_date">Joining Date<span class="req">*</span></label>
                                    <input type="text" name="join_date" id="join_date" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.join_date"/>
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-2"></div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img ng-src="assets/img/avatars/user.png" alt="user avatar"/>
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                        <div class="user_avatar_controls">
                                                                <span class="btn-file">
                                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                                </span>
                                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="first_name">First Name<span class="req">*</span></label>
                                    <input type="text" name="first_name" id="first_name" required class="md-input" md-input ng-model="wizard.first_name" />
                                </div>
                                 <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="last_name">Last Name<span class="req">*</span></label>
                                    <input type="text" name="last_name" id="last_name" required class="md-input" md-input ng-model="wizard.last_name" />
                                </div>
                                 <div class="uk-width-medium-1-4 parsley-row">
                                    <label class="uk-form-label">Gender<span class="req">*</span></label>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_married" required value="married" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_married" class="inline-label">Male</label>
                                    </span>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_single" class="wizard-icheck" value="single" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_single" class="inline-label">Female</label>
                                    </span>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="wizard_birth_place">Date of Birth<span class="req">*</span></label>
                                    <input type="text" name="wizard_birth" id="wizard_birth" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_birth_date"/>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_marital_config" options="selectize_marital_options" ng-model="selectize_marital" name="selectize_marital" selectize/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                   <label for="religion">Religion<span class="req"></span></label>
                                    <input type="text" name="religion" id="religion" required class="md-input" md-input ng-model="wizard.religion" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                     <input type="text" config="selectize_blood_config" options="selectize_blood_options" ng-model="selectize_blood" name="selectize_blood" selectize/>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_nation_config" options="selectize_nation_options" ng-model="selectize_nation" name="selectize_nation" selectize/>
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px !important;">
                                <h2 class="heading_a">
                                    Work Information
                                    <span class="sub-heading">Employee Admission & Work details</span>
                                </h2>
                                <hr class="md-hr"/>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_d_config" options="selectize_d_options" ng-model="selectize_d" name="selectize_d" selectize />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_cat_config" options="selectize_cat_options" ng-model="selectize_cat" name="selectize_cat" selectize />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_pos_config" options="selectize_pos_options" ng-model="selectize_pos" name="selectize_pos" selectize />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="jobtitle">Job Title<span class="req"></span></label>
                                    <input type="text" name="jobtitle" id="jobtitle" required class="md-input" md-input ng-model="wizard.jobtitle" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="qualification">Qualification<span class="req"></span></label>
                                    <input type="text" name="qualification" id="qualification" required class="md-input" md-input ng-model="wizard.qualification" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="total_exp">Total Experience<span class="req"></span></label>
                                    <input type="text" name="total_exp" id="total_exp" required class="md-input" md-input ng-model="wizard.total_exp" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="exp_info">Experience Info<span class="req"></span></label>
                                    <input type="text" name="exp_info" id="exp_info" required class="md-input" md-input ng-model="wizard.exp_info" />
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Continue</button>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Contact Information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Conatact Details
                                <span class="sub-heading">Employee Contact details</span>
                            </h2>
                            <hr class="md-hr"/>
                            
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label for="address">Address<span class="req">*</span></label>
                                    <input type="text" name="address" id="address" required class="md-input" md-input ng-model="wizard.address" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="stu_city">City<span class="req">*</span></label>
                                    <input type="text" name="stu_city" id="stu_city" required class="md-input" md-input ng-model="wizard.stu_city" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="stu_state">State<span class="req">*</span></label>
                                    <input type="text" name="stu_state" id="stu_state" required class="md-input" md-input ng-model="wizard.stu_state" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="pincode">Pincode<span class="req">*</span></label>
                                    <input type="text" name="pincode" id="pincode" required class="md-input" md-input ng-model="wizard.pincode" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="Pincode">Country<span class="req">*</span></label>
                                    <input type="text" name="Pincode" id="Pincode" required class="md-input" md-input ng-model="wizard.Pincode" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="phone">Phone<span class="req"></span></label>
                                    <input type="text" name="phone" id="phone" required class="md-input" md-input ng-model="wizard.phone" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="mobile_no">Mobile<span class="req"></span></label>
                                    <input type="text" name="mobile_no" id="mobile_no" required class="md-input" md-input ng-model="wizard.mobile_no" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="email">Email<span class="req"></span></label>
                                    <input type="text" name="email" id="email" required class="md-input" md-input ng-model="wizard.email" />
                                </div>
                            </div>
                            
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Continue</button>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Addtional Details" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Employee Addional Details
                                <span class="sub-heading">Employee Bank Information</span>
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="p_first_name">Account Name<span class="req"></span></label>
                                    <input type="text" name="p_first_name" id="p_first_name" class="md-input" md-input ng-model="wizard.p_first_name" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="p_last_name">Account Number<span class="req"></span></label>
                                    <input type="text" name="p_last_name" id="p_last_name"  class="md-input" md-input ng-model="wizard.p_last_name" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="p_religion">Bank Name<span class="req"></span></label>
                                    <input type="text" name="p_religion" id="p_religion"  class="md-input" md-input ng-model="wizard.p_religion" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="p_religion">Branch Name<span class="req"></span></label>
                                    <input type="text" name="p_religion" id="p_religion"  class="md-input" md-input ng-model="wizard.p_religion" />
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px;">
                                <h2 class="heading_a">
                                Addional Information
                                <!-- <span class="sub-heading">Employee Bank Information</span> -->
                                </h2>
                                <hr class="md-hr"/>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="p_first_name">Passport Number<span class="req"></span></label>
                                        <input type="text" name="p_first_name" id="p_first_name" required class="md-input" md-input ng-model="wizard.p_first_name" />
                                    </div>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="p_last_name">PAN Number<span class="req"></span></label>
                                        <input type="text" name="p_last_name" id="p_last_name" required class="md-input" md-input ng-model="wizard.p_last_name" />
                                    </div>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="adhar">Adhar Number<span class="req"></span></label>
                                        <input type="text" name="adhar" id="adhar" required class="md-input" md-input ng-model="wizard.adhar" />
                                    </div>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="work_permit">Work Permit<span class="req"></span></label>
                                        <input type="text" name="work_permit" id="work_permit" required class="md-input" md-input ng-model="wizard.work_permit" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Submit</button>
                            </div>
                        </wz-step>
                    </wizard>

                </form>
            </div>
        </div>

    </div>
</div>
