<div id="top_bar">
    <div class="md-top-bar">
        <div class="uk-width-large-8-10 uk-container-center">
            <ul class="top_bar_nav" id="list_grid_toggle">
                <li ng-click="changeView($event,'grid')" ng-class="{ 'uk-active': grid_view }">
                    <a ui-sref="restricted.employeemanagement.employee_profile_tableview"><i class="uk-icon-list"></i> List</a>
                </li>
                <li ng-click="changeView($event,'list')" ng-class="{ 'uk-active': list_view }">
                    <a ui-sref="restricted.employeemanagement.employee_view"><i class="uk-icon-th-large"></i> Grid</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="page_content">
    <div id="page_content_inner">
        <!-- <h3 class="heading_b uk-margin-bottom">Employee List 

        <span style="float: right;font-size:18px;"><a ui-sref="restricted.employeemanagement.employee_profile_tableview"><i class="uk-icon-list"></i></a></span>
        </h3> -->

        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <!-- <div class="uk-vertical-align">{{contact_list_companies}}
                            <div class="uk-vertical-align-middle">
                                <ul id="contact_list_filter" class="uk-subnav uk-subnav-pill uk-margin-remove">
                                    <li class="uk-active" data-uk-filter=""><a href="#">All</a></li>
                                    <li ng-repeat="company in contact_list_companies" data-uk-filter="{{company}}">
                                        <a href="#">{{company}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label for="contact_list_search">Find user</label>
                        <input class="md-input" type="text" id="contact_list_search" ng-model="searchName" md-input />
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-5 hierarchical_show" id="contact_list" hierarchical-show>
            <div ng-repeat="user in ViewList | filter: searchName" data-uk-filter="{{user}}" on-last-repeat>
                <div class="md-card md-card-hover">
                    <div class="md-card-head" ng-class="{'md-bg-cyan-600' : user.featured}">
                        <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
                            <i class="md-icon material-icons" ng-class="{'md-icon-light' : user.featured}">&#xE5D4;</i>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav">
                                    <li><a ui-sref="restricted.employeemanagement.employee_editprofile({emp_id:user.ID})">Edit</a></li>
                                    <!-- <li><a href="#">Remove</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="uk-text-center">
                            <a ui-sref="restricted.employeemanagement.profile({emp_id:user.ID})"><img class="md-card-head-avatar" ng-src="{{user.IMAGE1}}" alt=""/></a>
                        </div>
                        <h3 class="md-card-head-text uk-text-center" ng-class="{'md-color-white' : user.featured}">
                            <a ui-sref="restricted.employeemanagement.profile({emp_id:user.ID})" style="color:rgb(33,33,70);">{{user.EMPLOYEE_NAME}}</a>
                            <span class="uk-text-truncate">{{user.ADMISSION_NO}}</span>
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <ul class="md-list">
                            <!-- <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Department</span>
                                    <span class="uk-text-small uk-text-muted">{{user.DEPT_NAME}}</span>
                                </div>
                            </li> -->
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Department</span>
                                    <span class="uk-text-small uk-text-muted" style="height: 32px !important;">{{user.DEPT_NAME}}</span>
                                    <span class="md-list-heading">Position</span>
                                    <span class="uk-text-small uk-text-muted" style="height: 20px !important;">{{user.POSITION_NAME}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Email</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate" style="height: 20px !important;">{{user.EMAIL}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Phone</span>
                                    <span class="uk-text-small uk-text-muted" style="height: 20px !important;">{{user.PHONE_NO_1}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

