<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
    .selectize-dropdown{
        margin-top: 0px;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step wz-title="Employee Admission" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Personal Details
                                <span class="sub-heading">Employee Admission & Personal details</span>
                            </h2>
                            <hr class="md-hr"/>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="admission_no">Employee No<span class="req">*</span></label>
                                    <input type="text" name="admission_no" id="admission_no" required class="md-input" md-input ng-model="wizard.w1_birth_place" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="join_date">Joining Date<span class="req">*</span></label>
                                    <input type="text" name="join_date" id="join_date" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.join_date"/>
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <div class="uk-grid">
                                                <div class="uk-width-medium-1-2"></div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img ng-src="assets/img/avatars/user.png" alt="user avatar"/>
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                        <div class="user_avatar_controls">
                                                                <span class="btn-file">
                                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                                    <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                                </span>
                                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="first_name">First Name<span class="req">*</span></label>
                                    <input type="text" name="first_name" id="first_name" required class="md-input" md-input ng-model="wizard.first_name" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="last_name">Last Name<span class="req">*</span></label>
                                    <input type="text" name="last_name" id="last_name" required class="md-input" md-input ng-model="wizard.last_name" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label class="uk-form-label">Gender<span class="req">*</span></label>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_married" required value="married" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_married" class="inline-label">Male</label>
                                    </span>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_single" class="wizard-icheck" value="single" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_single" class="inline-label">Female</label>
                                    </span>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="wizard_birth_place">Date of Birth<span class="req">*</span></label>
                                    <input type="text" name="wizard_birth" id="wizard_birth" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_birth_date"/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_marital_config" options="selectize_marital_options" ng-model="selectize_marital" name="selectize_marital" selectize/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_nation_config" options="selectize_nation_options" ng-model="selectize_nation" name="selectize_nation" selectize/>
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px !important;">
                                <h2 class="heading_a">
                                    Work Information
                                    <span class="sub-heading">Employee Work details</span>
                                </h2>
                                <hr class="md-hr"/>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="qualification">Qualification<span class="req"></span></label>
                                    <input type="text" name="qualification" id="qualification" required class="md-input" md-input ng-model="wizard.qualification" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_d_config" options="selectize_d_options" ng-model="selectize_d" name="selectize_d" selectize />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_cat_config" options="selectize_cat_options" ng-model="selectize_cat" name="selectize_cat" selectize />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                               <!--  <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="text" config="selectize_pos_config" options="selectize_pos_options" ng-model="selectize_pos" name="selectize_pos" selectize />
                                </div> -->
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="jobtitle">Job Title<span class="req"></span></label>
                                    <input type="text" name="jobtitle" id="jobtitle" required class="md-input" md-input ng-model="wizard.jobtitle" />
                                </div>
                                <!-- 
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="qualification">Qualification<span class="req"></span></label>
                                    <input type="text" name="qualification" id="qualification" required class="md-input" md-input ng-model="wizard.qualification" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="total_exp">Total Experience<span class="req"></span></label>
                                    <input type="text" name="total_exp" id="total_exp" required class="md-input" md-input ng-model="wizard.total_exp" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="exp_info">Experience Info<span class="req"></span></label>
                                    <input type="text" name="exp_info" id="exp_info" required class="md-input" md-input ng-model="wizard.exp_info" />
                                </div> -->
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Continue</button>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Contact Information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Conatact Details
                                <span class="sub-heading">Employee Contact details</span>
                            </h2>
                            <hr class="md-hr"/>
                            
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label for="address">Address<span class="req"></span></label>
                                    <input type="text" name="address" id="address" required class="md-input" md-input ng-model="wizard.address" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="stu_city">City<span class="req"></span></label>
                                    <input type="text" name="stu_city" id="stu_city" required class="md-input" md-input ng-model="wizard.stu_city" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="stu_state">State<span class="req">*</span></label>
                                    <input type="text" name="stu_state" id="stu_state" required class="md-input" md-input ng-model="wizard.stu_state" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="pincode">Pincode<span class="req"></span></label>
                                    <input type="text" name="pincode" id="pincode" required class="md-input" md-input ng-model="wizard.pincode" />
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="selectize_country" name="selectize_country" selectize />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE0CD;</i>
                                        </span>
                                        <label for="wizard_phone">Phone Number</label>
                                        <input type="text" class="md-input" name="wizard_phone" id="wizard_phone" md-input ng-model="wizard.w1_phone" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE324;</i>
                                        </span>
                                        <label for="mobile_no">Mobile</label>
                                        <input type="text" class="md-input" name="mobile_no" id="mobile_no" md-input ng-model="wizard.mobile_no" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <i class="material-icons">&#xE0BE;</i>
                                        </span>
                                        <label for="">Email</label>
                                        <input type="text" class="md-input" name="email" id="eamil" md-input ng-model="wizard.email" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Continue</button>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Previous Work Information" template="app/templates/wizard.step.tpl.html">
                            <form class="uk-form" >
                                <div class="uk-grid uk-grid-medium form_hr" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index">
                                    <div class="uk-width-8-10 uk-width-medium-9-10">
                                        <div class="uk-grid" ng-repeat="fields in section" on-last-repeat>
                                            <div class="uk-width-1-1" ng-if="$parent.$index == 1" ng-repeat="input in fields" >
                                                <h2 class="heading_a">
                                                    Previous Work Details
                                                    <span class="sub-heading">Employee Previous Work Information</span>
                                                </h2>
                                                <hr class="md-hr"/>
                                                <div class="uk-grid" data-uk-grid-margin>
                                                    <div class="uk-width-medium-1-2 parsley-row">
                                                        <label for="Emp_role">Employee Role<span class="req"></span></label>
                                                        <input type="text" name="Emp_role" id="Emp_role" class="md-input" md-input ng-model="wizard.emprole" />
                                                    </div>
                                                    <div class="uk-width-medium-1-2 parsley-row">
                                                        <label for="p_first_name">Institute Name<span class="req"></span></label>
                                                        <input type="text" name="p_first_name" id="p_first_name" class="md-input" md-input ng-model="wizard.p_first_name" />
                                                    </div>
                                                </div>
                                                <div class="uk-grid" data-uk-grid-margin>
                                                    <div class="uk-width-medium-1-1 parsley-row">
                                                        <label for="p_last_name">Address<span class="req"></span></label>
                                                        <input type="text" name="p_last_name" id="p_last_name"  class="md-input" md-input ng-model="wizard.p_last_name" />
                                                    </div>
                                                </div>
                                                <div class="uk-grid" data-uk-grid-margin>
                                                    <div class="uk-width-medium-1-3 parsley-row">
                                                        <label for="prev_city">City<span class="req"></span></label>
                                                        <input type="text" name="prev_city" id="prev_city"  class="md-input" md-input ng-model="wizard.prev_city" />
                                                    </div>
                                                    <div class="uk-width-medium-1-3 parsley-row">
                                                        <label for="prev_state">State<span class="req"></span></label>
                                                        <input type="text" name="prev_state" id="prev_state"  class="md-input" md-input ng-model="wizard.prev_state" />
                                                    </div>
                                                    <div class="uk-width-medium-1-3 parsley-row">
                                                        <input type="text" config="selectize_country_config" options="selectize_country_options" ng-model="selectize_country" name="selectize_country" selectize />
                                                    </div>
                                                </div>
                                                <div class="uk-grid" data-uk-grid-margin>
                                                    <div class="uk-width-medium-1-3 parsley-row">
                                                        <label for="position">Position<span class="req"></span></label>
                                                        <input type="text" name="position" id="position"  class="md-input" md-input ng-model="wizard.position" />
                                                    </div>
                                                    <div class="uk-width-medium-1-3 parsley-row">
                                                        <label for="from_date">Period From<span class="req"></span></label>
                                                        <input type="text" name="from_date" id="from_date"  class="md-input" md-input ng-model="wizard.from_date" />
                                                    </div>
                                                    <div class="uk-width-medium-1-3 parsley-row">
                                                        <label for="uptodate">Period To<span class="req"></span></label>
                                                        <input type="text" name="uptodate" id="uptodate"  class="md-input" md-input ng-model="wizard.uptodate" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center" style="float: right !important;">
                                                <div class="uk-vertical-align uk-height-1-1">
                                                    <div class="uk-vertical-align-middle">
                                                        <a href="javascript:void(0)" ng-click="cloneSection($event,$index)" ng-if="$last"><i class="material-icons md-36">&#xE146;</i></a>
                                                        <a href="javascript:void(0)" ng-click="deleteSection($event,$index)" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float: right;">
                                                <span class="uk-alert uk-alert-success" ng-if="$last">Add Previous Work Details</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Continue</button>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Additional Details" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Social Profile
                                <span class="sub-heading">Employee Social Profile Details</span>
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-facebook"></i></a>
                                        </span>
                                        <label for="facebook">Facebook</label>
                                        <input type="text" class="md-input" name="facebook" id="facebook" md-input ng-model="wizard.facebook" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-google-plus"></i></a>
                                        </span>
                                        <label for="google">Google</label>
                                        <input type="text" class="md-input" name="google" id="google" md-input ng-model="wizard.google" />
                                    </div>

                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-linkedin"></i></a>
                                        </span>
                                        <label for="linkedin">Linkedin</label>
                                        <input type="text" class="md-input" name="linkedin" id="linkedin" md-input ng-model="wizard.linkedin" />
                                    </div>
                                </div>
                            </div>

                            <h2 class="heading_a">
                                Bank Details
                                <span class="sub-heading">Employee Bank Information</span>
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="acc_name">Account Name<span class="req"></span></label>
                                    <input type="text" name="acc_name" id="acc_name" class="md-input" md-input ng-model="wizard.acc_name" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="acc_number">Account Number<span class="req"></span></label>
                                    <input type="text" name="acc_number" id="acc_number"  class="md-input" md-input ng-model="wizard.acc_number" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="bank_name">Bank Name<span class="req"></span></label>
                                    <input type="text" name="bank_name" id="bank_name"  class="md-input" md-input ng-model="wizard.bank_name" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="branch">Branch Name<span class="req"></span></label>
                                    <input type="text" name="branch" id="branch" class="md-input" md-input ng-model="wizard.branch" />
                                </div>
                            </div>
                            <div class="" style="margin-top: 45px;">
                                <h2 class="heading_a">
                                Additional Details
                                <span class="sub-heading">Employee Additional Information</span>
                                </h2>
                                <hr class="md-hr"/>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="passport">Passport Number<span class="req"></span></label>
                                        <input type="text" name="passport" id="passport" required class="md-input" md-input ng-model="wizard.passport" />
                                    </div>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="pan_number">PAN Number<span class="req"></span></label>
                                        <input type="text" name="pan_number" id="pan_number" required class="md-input" md-input ng-model="wizard.pan_number" />
                                    </div>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="adhar">Adhar Number<span class="req"></span></label>
                                        <input type="text" name="adhar" id="adhar" required class="md-input" md-input ng-model="wizard.adhar" />
                                    </div>
                                    <div class="uk-width-medium-1-4 parsley-row">
                                        <label for="work_permit">Work Permit<span class="req"></span></label>
                                        <input type="text" name="work_permit" id="work_permit" required class="md-input" md-input ng-model="wizard.work_permit" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Save & Finish</button>
                            </div>
                        </wz-step>
                    </wizard>

                </form>
            </div>
        </div>

    </div>
</div>
