<div id="page_content">
    <div id="page_content_inner">
        <form  class="uk-form-stacked" name="user_edit_form" id="user_edit_form">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }" style="background-color: rgb(231,231,231);padding: 20px !important;">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img ng-src="{{user_data.IMAGE1}}" alt="user avatar"/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div class="user_avatar_controls">
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                            <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                        </span>
                                    <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                </div>
                            </div>

                            <!-- {{user_edit_form}}sdsd -->
                            <!-- <div class="user_heading_content">
                                <h2 class="heading_b">
                                    <span class="uk-text-truncate" id="user_edit_uname">{{user_data.firstname}}{{user_data.lastname}}</span>
                                    <span class="sub-heading" id="user_edit_position">{{user_data.admno}}</span>
                                </h2>
                            </div> -->
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom" style="color: #444;">
                                    <span class="uk-text-truncate">{{user_data.FIRSTNAME}} {{user_data.LASTNAME}}</span>
                                    <span class="sub-heading" style="color: #444;">{{user_data.ADMISSION_NO}}</span>
                                </h2>
                                <ul class="user_stats">
                                    <li>
                                        <h4 class="heading_a" style="color: #444;">{{user_data.DEPT_NAME}}</h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a" style="color: #444;">{{user_data.POSITION_NAME}}</h4>
                                    </li>
                                </ul>
                            </div>

                            <div class="md-fab-wrapper">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent" md-fab-toolbar>
                                    <i class="material-icons">&#xE8BE;</i>
                                    <div class="md-fab-toolbar-actions">
                                        <!-- <p>{{user_edit_form.$valid}}</p> -->
                                        <button type="submit" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Check Validation"  ng-if="!user_edit_form.$valid"><i class="material-icons md-color-white">&#xE161;</i></button>
                                        <button type="button" id="user_edit_save" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save" ng-click="updateEmployeeDetails()" ng-if="user_edit_form.$valid"><i class="material-icons md-color-white">&#xE161;</i></button>

                                        <!-- <button type="button" id="user_edit_save" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save" ng-click="updateEmployeeDetails()"><i class="material-icons md-color-white">&#xE161;</i></button> -->

                                        <!-- <button type="submit" id="user_edit_print" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Print"><i class="material-icons md-color-white">&#xE555;</i></button>
                                        <button type="submit" id="user_edit_delete" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Delete"><i class="material-icons md-color-white">&#xE872;</i></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user_content" style="margin-top: 20px;">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                                <li class="uk-active"><a href="#">Personal & Work Info</a></li>
                                <li><a href="#">Contact Details</a></li>
                                <li><a href="#">Previous Experience</a></li>
                                <li><a href="#">Additional Details</a></li>
                            </ul>
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <!-- <form id="basicForm" name="basicForm" novalidate> -->
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                            Personal Information
                                        </h3>
                                        <input type="hidden" ng-model="user_data.ID">
                                        <input type="hidden" ng-model="user_data.PROFILE_ID">
                                        <input type="hidden" ng-model="user_data.PROFILE_EXTRA_ID">
                                        <input type="hidden" ng-model="user_data.BANK_ID">
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <br>
                                                <label for="dob">Date of Birth <span class="req">*</span></label>
                                                <input type="text" name="admission_date" id="admission_date" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="user_data.DOB | date:'dd-MMM-yyyy'"/>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <br ng-if="!user_data.MARITAL_STATUS" />
                                                <label for="marital_status" ng-if="user_data.MARITAL_STATUS" style="font-size: 12px;color: #727272;">Marital Status</label>
                                                <input type="text" config="selectize_marital_config" options="selectize_marital_options" ng-model="user_data.MARITAL_STATUS" selectize/>
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <br ng-if="!user_data.NATIONALITY"/>
                                                <label for="nationality" ng-if="user_data.NATIONALITY" style="font-size: 12px;color: #727272;">Nationality</label>
                                                <input type="text" config="selectize_nation_config" options="selectize_nation_options" ng-model="user_data.NATIONALITY" selectize/>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                            <br>
                                                <div class="uk-input-group">
                                                    <span class="uk-input-group-addon">
                                                        <i class="md-list-addon-icon uk-icon-facebook"></i>
                                                    </span>
                                                    <label>Facebook</label>
                                                    <input type="text" class="md-input" name="user_edit_google_plus" ng-model="user_data.FACEBOOK_LINK" md-input />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2"><br>
                                                <div class="uk-input-group">
                                                    <span class="uk-input-group-addon">
                                                        <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                    </span>
                                                    <label>Google+</label>
                                                    <input type="text" class="md-input" name="user_edit_google_plus" ng-model="user_data.GOOGLE_LINK" md-input />
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2"><br>
                                                <div class="uk-input-group">
                                                    <span class="uk-input-group-addon">
                                                        <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                    </span>
                                                    <label>Linkedin</label>
                                                    <input type="text" class="md-input" name="user_edit_google_plus" ng-model="user_data.LINKEDIN_LINK" md-input />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-margin-top">
                                            <h3 class="full_width_in_card heading_c">
                                                Work Information
                                            </h3>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2 parsley-row"><br>
                                                    <label for="qualification">Qualification<span class="req">*</span></label>
                                                    <input class="md-input" type="text" id="address" name="address" ng-model="user_data.QUALIFICATION" required md-input />
                                                </div>
                                                <div class="uk-width-medium-1-2 parsley-row">
                                                    <br ng-if="!user_data.EMP_CATEGORY_ID"/>
                                                    <label for="category" ng-if="user_data.EMP_CATEGORY_ID" style="font-size: 12px;color: #727272;">Category</label>
                                                    <input type="text" config="selectize_cat_config" options="selectize_cat_options" ng-model="user_data.EMP_CATEGORY_ID" selectize/>
                                                </div>
                                            </div>
                                            <div class="uk-grid" data-uk-grid-margin style="margin-top: 50px !important;">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                            Mailing Address 
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1 parsley-row">
                                                <label for="address">Address <span class="req">*</span></label>
                                                <input type="text" class="md-input" required ng-model="mailing.ADDRESS" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <label for="user_edit_position_control">City</label>
                                                <input type="text" class="md-input"  ng-model="mailing.CITY" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <label for="user_edit_uname_control">State</label>
                                                <input type="text" class="md-input"  ng-model="mailing.STATE" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 parsley-row"><br>
                                                <label for="user_edit_position_control">Pincode</label>
                                                <input type="text" class="md-input"  ng-model="mailing.ZIP_CODE" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <br ng-if="!mailing.COUNTRY"/>
                                                <label for="country" ng-if="mailing.COUNTRY" style="font-size: 12px;color: #727272;">Country</label>
                                                <input type="text" config="selectize_country_config" options="selectize_country_options" required ng-model="mailing.COUNTRY" selectize/>
                                            </div>
                                        </div>
                                        <div class="uk-margin-top">
                                            <h3 class="full_width_in_card heading_c">
                                                Permanant Address 
                                            </h3>
                                            <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-1 parsley-row">
                                                <label for="address">Address <span class="req">*</span></label>
                                                <input type="text" class="md-input" required ng-model="permanant.ADDRESS" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <label for="user_edit_position_control">City</label>
                                                <input type="text" class="md-input"  ng-model="permanant.CITY" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <label for="user_edit_uname_control">State</label>
                                                <input type="text" class="md-input"  ng-model="permanant.STATE" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 parsley-row"><br>
                                                <label for="user_edit_position_control">Pincode</label>
                                                <input type="text" class="md-input"  ng-model="permanant.ZIP_CODE" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2 parsley-row">
                                                <br ng-if="!permanant.COUNTRY"/>
                                                <label for="country" ng-if="permanant.COUNTRY" style="font-size: 12px;color: #727272;">Country</label>
                                                <input type="text" config="selectize_country_config" options="selectize_country_options" required ng-model="permanant.COUNTRY" selectize/>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="uk-margin-top">
                                            <h3 class="full_width_in_card heading_c">
                                                Contact
                                            </h3>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group parsley-row">
                                                        <span class="uk-input-group-addon">
                                                            <i class="material-icons md-list-addon-icon">&#xE0CD;</i>
                                                        </span>
                                                        <label>Phone</label>
                                                        <input type="text" class="md-input" name="user_edit_google_plus"  ng-model="user_data.PHONE_NO_1" md-input />
                                                    </div>
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group parsley-row">
                                                        <span class="uk-input-group-addon">
                                                            <i class="material-icons md-list-addon-icon">&#xE324;</i>
                                                        </span>
                                                        <label>Mobile</label>
                                                        <input type="text" class="md-input" name="user_edit_google_plus"  ng-model="user_data.PHONE_NO_2" md-input />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                <div class="uk-width-medium-1-2">
                                                    <div class="uk-input-group parsley-row">
                                                        <span class="uk-input-group-addon">
                                                            <i class="material-icons md-list-addon-icon">&#xE0BE;</i>
                                                        </span>
                                                        <label>Email</label>
                                                        <input type="email" class="md-input" name="user_edit_google_plus"  ng-model="user_data.EMAIL" md-input />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <!-- <h3 class="full_width_in_card heading_c" ng-if="form_dynamic.length==0">
                                        Previous Work Info <span><button type="button" class="md-btn md-btn-primary uk-float-right" ng-click="addNewWorkINfo()" style="margin-top: -8px !important;">Add New</button></span>
                                    </h3> -->
                                    <!-- <form class="uk-form" > -->
                                        <div class="uk-grid uk-grid-medium" data-uk-grid-match ng-repeat="(topParent,parents) in form_dynamic track by $index">
                                            <div class="uk-width-8-10 uk-width-medium-9-10">
                                                <div class="uk-margin-top">
                                                    <h3 class="full_width_in_card heading_c">
                                                        Previous Work Info # {{$index+1}}
                                                    </h3>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="emprole">Employee Role</label>
                                                            <input class="md-input" type="text"  ng-model="parents.DESIGNATION" md-input />
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="firstname">Institute Name</label>
                                                            <input class="md-input" type="text" ng-model="parents.INST_NAME" md-input />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-1">
                                                            <label for="firstname">Address</label>
                                                            <input class="md-input" type="text" ng-model="parents.ADDRESS" md-input />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="education">City</label>
                                                            <input class="md-input" type="text" ng-model="parents.CITY" md-input />
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="Occupation">State</label>
                                                            <input class="md-input" type="text" ng-model="parents.STATE" md-input />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="period_from">Pincode</label>
                                                            <input class="md-input" type="text" ng-model="parents.ZIP_CODE" md-input />
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <input type="text" config="selectize_prevcountry_config" options="selectize_prevcountry_options" ng-model="parents.COUNTRY" selectize/>
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="period_from">Period From</label>
                                                            <input type="text" name="admission_date" id="admission_date"  class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="parents.PERIOD_FROM">
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="period_to">Period To</label>
                                                            <input type="text" name="admission_date" id="admission_date"  class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="parents.PERIOD_TO">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center">
                                                <div class="uk-vertical-align uk-height-1-1" style="margin-top: 200px;">
                                                    <div class="uk-vertical-align-middle">
                                                        <a href="javascript:void(0)" ng-click="cloneSection($event,$index,parents)" ng-if="$last"><i class="material-icons md-36">&#xE146;</i></a>
                                                        <a href="javascript:void(0)" ng-click="deleteSection($event,$index,parents)" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </form> -->
                                    <!-- <div class="uk-accordion" data-uk-accordion>
                                        <h3 class="uk-accordion-title" ng-repeat-start="parents in previous_Inst">Previous Work Details</h3>
                                        <div class="uk-accordion-content" ng-repeat-end>
                                            <div class="uk-margin-top">
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="emprole">Employee Role</label>
                                                            <input class="md-input" type="text"  ng-model="parents.DESIGNATION" md-input />
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="firstname">Institute Name</label>
                                                            <input class="md-input" type="text" ng-model="parents.INST_NAME" md-input />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-1">
                                                            <label for="firstname">Address</label>
                                                            <input class="md-input" type="text" ng-model="parents.ADDRESS" md-input />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="education">City</label>
                                                            <input class="md-input" type="text" ng-model="parents.CITY" md-input />
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="Occupation">State</label>
                                                            <input class="md-input" type="text" ng-model="parents.STATE" md-input />
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="period_from">Pincode</label>
                                                            <input class="md-input" type="text" ng-model="parents.ZIP_CODE" md-input />
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <input type="text" config="selectize_prevcountry_config" options="selectize_prevcountry_options" ng-model="parents.COUNTRY" selectize/>
                                                        </div>
                                                    </div>
                                                    <div class="uk-grid" data-uk-grid-margin>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="period_from">Period From</label>
                                                            <input type="text" name="admission_date" id="admission_date"  class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="parents.PERIOD_FROM">
                                                        </div>
                                                        <div class="uk-width-medium-1-2">
                                                            <label for="period_to">Period To</label>
                                                            <input type="text" name="admission_date" id="admission_date"  class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="parents.PERIOD_TO">
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                            Bank Details
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label>Account Name</label>
                                                <input type="text" class="md-input" ng-model="user_data.ACCOUNT_NAME" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label>Account Number</label>
                                                <input type="text" class="md-input" ng-model="user_data.ACCOUNT_NO" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label>Bank Name</label>
                                                <input type="text" class="md-input" ng-model="user_data.BANK_NAME" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label>Branch</label>
                                                <input type="text" class="md-input" ng-model="user_data.BRANCH_NO" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-margin-top">
                                            <h3 class="full_width_in_card heading_c">
                                                Addtional Details
                                            </h3>
                                            <div class="uk-grid" data-uk-grid-margin>
                                                 <div class="uk-width-medium-1-2">
                                                    <label >Passport Number</label>
                                                    <input type="text" class="md-input" ng-model="user_data.PASSPORT_NO" md-input />
                                                </div>
                                                <div class="uk-width-medium-1-2">
                                                    <label >Work Permit</label>
                                                    <input type="text" class="md-input" ng-model="user_data.WORK_PERMIT" md-input />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- </form> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                            <div class="uk-form-row">
                                <input type="checkbox" checked id="user_edit_active" ui-switch ng-model="user_data.active" />
                                <label for="user_edit_active" class="inline-label">User Active</label>
                            </div>
                            <hr class="md-hr">
                            <div class="uk-form-row">
                                <label class="uk-form-label">User Role</label>
                                <input config="user_role_config" options="user_role_options" ng-model="user_data.role" name="user_edit_role" selectize />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>