<div class="login_page_wrapper">
	<div class="md-card" id="login_card" ng-if="statusMsg">
		<div class="md-card-content large-padding" id="login_form">
			<div class="login_heading">
				<div class="user_avatar"></div>
			</div>
			<form id="verification" name="verification" style="margin-top:-15px">
				<h2 class="uk-text-center">Create Password</h2>
				<br>
				<div class="uk-form-row" ng-if="user.email">
					<label for="login_username">User Email</label>
					<input class="md-input" type="text" disabled ng-model="user.email" md-input />
				</div>
				<div class="uk-form-row parsley-row" ng-if="phoneOtp">
					<label for="login_username">Enter your OTP</label>
					<input class="md-input" type="text" ng-model="otp.phoneOtp" md-input numeric-only required/>
				</div>
				<br>
				<div ng-if="checkOtp">
					<div class="uk-form-row parsley-row">
						<label for="login_password">Password</label>
						<input class="md-input" id="pass1" type="password" data-parsley-errors-container=".error_message" data-parsley-required-message="Please enter your password." data-parsley-length="[5, 10]" required ng-model="user.password" md-input />
						<span class="error_message"></span>
					</div>
					<div class="uk-form-row parsley-row">
						<label for="login_password">Confirm Password</label>
						<input class="md-input" type="password" data-parsley-errors-container=".error_message_confirm" data-parsley-required-message="Please enter your confirm password."  data-parsley-equalto="#pass1"   data--required-message="this field is required" required ng-model="user.cPassword" md-input />
						<span class="error_message_confirm"></span>
					</div>
				</div>
				<div class="uk-margin-medium-top">
					<button ng-if="!verification.$valid" class="md-btn md-btn-primary md-btn-block md-btn-large" type="submit">Save</button>
					<button ng-if="verification.$valid" ng-click="setPassword()" class="md-btn md-btn-primary md-btn-block md-btn-large">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>