<style type="text/css">
  .uk-modal.uk-modal-dialog-replace .uk-modal-content{
    font-size: 16px !important;
  }
  .custcls{
    margin-top: 4px !important;
  }
  .md-input-filled > label, .md-input-focus > label {
    font-size: 12px;
    top: -16px;
  }
</style>
<div id="page_content" ng-controller="routeAllocationCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Route Allocation</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button  class="md-btn md-btn-primary md-btn-small" ng-click="openModel()" data-uk-modal="{target:'#modal_overflow'}">
                        <i class="uk-icon-plus"></i>  Add Allocation
                        </button>
                    </div>
                    <thead>
                        <tr>
                            <th>S.No</th>
							              <th>Student Name</th>
                            <th>Stop Name</th>
                            <th>Vehicle Name</th>
                            <th>Joining Date</th>
							              <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
							              <th></th>
                            <th>Student Name</th>
                            <th>Stop Name</th>
                            <th>Vehicle Name</th>
                            <th>Joining Date</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="row in viewData">
                        <td>{{$index+1}}</td>
                        <td>{{row.PROFILENAME}}</td>
                        <td>{{row.ROUTESTOP_NAME}}</td>
                        <td>{{row.VEHICLE_NAME}}</td>
                        <td>{{row.JOINING_DATE | date:'dd-MMM-yyyy'}}</td>
                        <td>
                          <a ng-click="edit_data(row)" data-uk-modal="{target:'#modal_overflow'}"><i class="md-icon material-icons">&#xE254;</i></a>
                          <a class="ts_remove_row" ng-click="deleteRouteTiming(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
      <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog">
          <button type="button" class="uk-modal-close uk-close" ng-click="clearValidation();"></button>
          <h3 class="uk-modal-title"> Add Allocation </h3>
            <form id="form_validation" name="inputForm" ng-submit="addAllocation(allocateData)" novalidate>
              <div class="md-card-content">
                <div class="uk-form-row parsley-row custcls">
                  <input type="hidden" ng-model="allocateData.id"/> 
                  <br ng-if="!allocateData.selectize_usertype">
                  <label for="resident" ng-if="allocateData.selectize_usertype" style="font-size: 12px;color: #727272;">Resident Type</label>
                  <input type="text" config="selectize_usertype_config" options="selectize_usertype_options" ng-model="allocateData.selectize_usertype" ng-change="userChange()" required selectize />
                </div>
                <div class="uk-form-row parsley-row custcls" ng-if="allocateData.selectize_usertype=='Employee'">
                  <br ng-if="!allocateData.selectize_emp_profileId">
                  <label for="employee" ng-if="allocateData.selectize_emp_profileId" style="font-size: 12px;color: #727272;">Employee</label>
                  <input type="text" config="selectize_employee_config" ng-required="selectize_usertype=='Employee'" options="selectize_employee_options" ng-model="allocateData.selectize_emp_profileId" selectize />
                </div>
                <div class="uk-form-row parsley-row custcls" ng-if="allocateData.selectize_usertype=='Student'">
                  <br ng-if="!allocateData.selectize_stdName">
                  <label ng-if="allocateData.selectize_stdName" style="font-size: 12px;color: #727272;">Student Name</label>
                  <input type="text" config="selectize_stdName_config" required options="selectize_stdName_options" ng-model="allocateData.selectize_stdName" selectize/> 
                 
                </div>
				        <div class="uk-form-row parsley-row custcls">
                  <br ng-if="!allocateData.selectize_stopsName">
                  <label ng-if="allocateData.selectize_stopsName" style="font-size: 12px;color: #727272;">Stop Name</label>
                  <input type="text" config="selectize_stopsName_config" options="selectize_stopsName_options" ng-model="allocateData.selectize_stopsName" required selectize/>
                </div>
				        <div class="uk-form-row parsley-row custcls">
                  <br ng-if="!allocateData.selectize_vehicleName">
                  <label ng-if="allocateData.selectize_vehicleName" style="font-size: 12px;color: #727272;margin-top:10px !important;">Vehicle Name</label>
                  <input type="text" config="selectize_vehicleName_config" options="selectize_vehicleName_options" ng-model="allocateData.selectize_vehicleName" required selectize/>
                </div>
				        <div class="uk-form-row parsley-row">
                  <label>Joining Date</label>
                 <!--  <input class="md-input" type="text" required id="uk_dp_end" md-input ng-model="allocateData.startDate"> -->
				           <input type="text" name="joinigDate"  required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MMM-YYYY)" data-uk-datepicker="{format:'DD-MMM-YYYY'}" md-input ng-model="allocateData.startDate" 
                  />
                </div>
              </div>
            <div class="uk-modal-footer uk-text-right">
              <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="clearValidation();">Cancel</button>
              <button type="submit" class="md-btn md-btn-primary md-btn-small">{{buttonStatus}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
