<style type="text/css">
  .uk-modal.uk-modal-dialog-replace .uk-modal-content{
    font-size: 16px !important;
  }
</style>
<div id="page_content" ng-controller="routeStopsCtrl as showCase">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Route Stops</h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <button ui-sref="restricted.transport.addRouteStops" class="md-btn md-btn-primary md-btn-small" ng-click="openModel()" data-uk-modal="{target:'#modal_overflow'}">
                        <i class="uk-icon-plus"></i>  Add Stops
                        </button>
                    </div>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Stop Name</th>
              							<th>Route Name</th>
              							<th>Vehicle Name</th>
                            <th>PickUp Time</th>
                            <th>Drop Time</th>
                            <th>Fare</th>
							              <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
							              <th></th>
                            <th>Stop Name</th>
							              <th>Route Name</th>
							              <th>Vehicle Name</th>
                            <th>PickUp Time</th>
                            <th>Drop Time</th>
                            <th>Fare</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="row in viewData">
                        <td>{{$index+1}}</td>
                        <td>{{row.NAME}}</td>
                        <td>{{row.ROUTE_NAME}}</td>
						            <td>{{row.VEHICLE_NAME}}</td>
                        <td>{{row.PICKUPTIME}}</td>
                        <td>{{row.DROPTIME}}</td>
                        <td>{{row.FARE}}</td>
                        <td>
                         
                          <a ui-sref="restricted.transport.editRouteStops({id:{{row.ID}}})"><i class="md-icon material-icons">&#xE254;</i></a>
                          <a class="ts_remove_row" ng-click="deleteRouteStops(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
