<style type="text/css">
    .md-hr{
         margin: 24px 0 !important;
    }
    .selectize-dropdown{
        margin-top: 0px;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
		<h2 class="heading_a uk-margin-bottom">
			Edit Vehicle
		</h2>
        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content large-padding">
                 <form id="form_validation" name="inputForm" ng-submit="updateVehicle(vehicledata)" novalidate>
					<div class="uk-grid" data-uk-grid-margin>
						<div class="uk-width-medium-1-3 parsley-row">
							<label for="admission_no">Vehicle Name<span class="req">*</span></label>
							<input type="text" name="name" required class="md-input" md-input ng-model="vehicledata.vehicle_name" />
						</div>
						 <div class="uk-width-medium-1-3 parsley-row">
							<label for="admission_date">Vehicle Type<span class="req">*</span></label>
							<input type="text" name="type" required class="md-input" md-input ng-model="vehicledata.vehicle_type" />
						</div>
						<div class="uk-width-medium-1-3 parsley-row">
							<label for="admission_no">Capacity<span class="req">*</span></label>
							<input type="text" name="capacity" required class="md-input" md-input ng-model="vehicledata.capacity" />
						</div>
					</div>
					<div class="uk-grid" data-uk-grid-margin>
					   <div class="uk-width-medium-1-2 parsley-row">
							<label for="admission_no">Registration No<span class="req">*</span></label>
							<input type="text" name="regno" required class="md-input" md-input ng-model="vehicledata.regi_number" />
						</div>
						<div class="uk-width-medium-1-2 parsley-row">
							<!-- <label for="admission_no">Responsible Person<span class="req">*</span></label> -->
							<!-- <input type="text" name="responsible" required class="md-input" md-input ng-model="responsible" /> -->
							<input type="text" config="selectize_emp_config" options="selectize_emp_options" ng-model="vehicledata.selectize_resPerson" selectize/>
						</div>
					</div>
					<div class="uk-grid" data-uk-grid-margin>
						<div class="uk-width-medium-1-2">
							<div class="md-card">
								<div class="md-card-content">
									<h3 class="heading_a uk-margin-small-bottom">
										Image 1
									</h3>
									<input type="file" id="input-file-b" class="dropify" ng-model="item_image"/>
								</div>
							</div>
						</div>
						<!-- <div class="uk-width-medium-1-2">
							<div class="md-card">
								<div class="md-card-content">
									<h3 class="heading_a uk-margin-small-bottom">
										Image 2
									</h3>
									<input type="file" id="input-file-b" class="dropify" />
								</div>
							</div>
						</div> -->
					</div>
					<br>
					<div class="uk-margin-top uk-text-right">
                        <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="backBtn()">Cancel</button>
                        <button type="submit" class="md-btn md-btn-primary md-btn-small">{{btnStatus}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
