<style type="text/css">
    .parsley-row{
        margin-top: 24px;
    }
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
        font-size: 16px !important;
    }
    .linkClr{
        color: rgb(94,100,255) !important;
    }
    .linkClrtxt{
        color: rgb(94,100,255) !important;
        margin-left: 10px !important;
    }
</style>
    <div id="page_content">
        <div id="page_content_inner">
            <h3 class="heading_a uk-margin-bottom">Allocation</h3>
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <form id="form_validation" name="inputForm" ng-submit="saveAllocation()" novalidate>
                            <div class="uk-grid"> 
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input type="hidden" ng-model="hidden_id">
                                    <br ng-if="!selectize_usertype">
                                    <label for="resident" ng-if="selectize_usertype" style="font-size: 12px;color: #727272;">Resident Type</label>
                                    <input type="text" config="selectize_usertype_config" options="selectize_usertype_options" ng-model="selectize_usertype" ng-change="userChange()" required selectize />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row" ng-show="selectize_usertype=='Employee'">
                                    <br ng-if="!dept_id">
                                    <label ng-if="dept_id" style="font-size: 12px;color: #727272;">Department<span class="req"></span></label>
                                    <input type="text" config="selectize_deptId_config" options="selectize_deptId_options" ng-model="dept_id" selectize />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row" ng-show="selectize_usertype=='Employee'">
                                    <br ng-if="!selectize_emp_profileId">
                                    <label for="employee" ng-if="selectize_emp_profileId" style="font-size: 12px;color: #727272;">Employee</label>
                                    <input type="text" config="selectize_employee_config" ng-required="selectize_usertype=='Employee'" options="selectize_employee_options" ng-model="selectize_emp_profileId" selectize />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row" ng-show="selectize_usertype=='Student'">
                                    <br ng-if="!course_id">
                                    <label for="course" ng-if="course_id" style="font-size: 12px;color: #727272;">Course<span class="req"></span></label>
                                    <input type="text" config="selectize_courseId_config" options="selectize_courseId_options" ng-model="course_id"selectize />
                                </div>
                               
                                <div class="uk-width-medium-1-3 parsley-row" ng-show="selectize_usertype=='Student'">
                                    <br ng-if="!batchId">
                                    <label for="batch" ng-if="batchId" style="font-size: 12px;color: #727272;">Batch<span class="req"></span></label>
                                    <input type="text" config="selectize_batchId_config" options="selectize_batchId_options" ng-model="batchId" selectize/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row" ng-show="selectize_usertype=='Student'">
                                    <br ng-if="!selectize_stu_profileId">
                                    <label for="student" ng-if="selectize_stu_profileId" style="font-size: 12px;color: #727272;">Student</label>
                                    <input type="text" config="selectize_student_config" ng-required="selectize_usertype=='Student'" options="selectize_student_options" ng-model="selectize_stu_profileId" selectize />
                                </div>
                            
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <br ng-if="!selectize_hname">
                                     <label for="employee" ng-if="selectize_hname" style="font-size: 12px;color: #727272;">Hostel</label>
                                    <input type="text" config="selectize_hname_config" required options="selectize_hname_options" ng-model="selectize_hname" selectize />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <br ng-if="!selectize_block">
                                    <label for="employee" ng-if="selectize_block" style="font-size: 12px;color: #727272;">Block</label>
                                    <input type="text" config="selectize_block_config" required options="selectize_block_options" ng-model="selectize_block" selectize />
                                </div>

                                <div class="uk-width-medium-1-3 parsley-row">
                                    <br ng-if="!selectize_room">
                                    <label for="employee" ng-if="selectize_room" style="font-size: 12px;color: #727272;">Room</label>
                                    <input type="text" config="selectize_room_config" required options="selectize_room_options" ng-model="selectize_room" selectize />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <br>
                                    <label>Register Date</label>
                                    <input class="md-input" type="text" required id="uk_dp_end" md-input ng-model="reg_date">
                                    <!-- <input type="text" class="md-input" data-parsley-americandate
                                    placeholder="Register Date" data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="reg_date" required/> -->
                                </div>
                            </div>
                            <div class="uk-margin-top uk-text-right">
                                <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ui-sref="restricted.hostel.allocation">Cancel</button>
                                <button type="submit" class="md-btn md-btn-primary md-btn-small">{{btnStatus}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div id="AddHostel_modal" class="uk-modal">
                <div class="uk-modal-dialog">
                    <button type="button" class="uk-modal-close uk-close"></button>
                    <h3 class="uk-modal-title"> Hostel Settings</h3>
                    <div class="md-card-content">
                        <form id="form_validation" name="inputForm" ng-submit="saveHostelSettings()" novalidate>
                            <div class="uk-form-row parsley-row">
                                <div class="md-input-wrapper ">
                                    <label>Name</label>
                                    <input type="text" md-input="" class="md-input" ng-model="hostel_name" required><span class="md-input-bar "></span>
                                </div> 
                            </div> 
                            <div class="uk-form-row parsley-row">
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-1">
                                        <label for="rooms" ng-if="selectize_bname" style="font-size: 12px;color: #727272;">Buildings</label>
                                        <input type="text" config="selectize_buildingId_config" options="selectize_buildingId_options" ng-model="selectize_bname" required selectize />
                                    </div>
                                </div>          
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button type="button" class="md-btn md-btn-danger md-btn-small uk-modal-close" ng-click="clearValidation()">Cancel</button>
                                <button type="submit" class="md-btn md-btn-primary md-btn-small">{{btnStatus}}</button>
                            </div>
                        </form>
                       
                    </div>
                   
                </div>
            </div>
           
        </div>
            