<style type="text/css">
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
        font-size: 16px !important;
    }
</style>
<div id="page_content"  ng-controller="allocationviewCtrl as tblData">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Allocation
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="tblData.dtOptions" dt-column-defs="tblData.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <a ui-sref="restricted.hostel.addAllocation"  class="md-btn md-btn-primary md-btn-small">
                        <i class="uk-icon-plus"></i> Add Allocation</a>
                    </div>
                    <thead>
                        <tr>
                            <th style="width: 50px !important;">S.No</th>
                            <th>Name</th>
                            <th>Hostel</th>
                            <th>Room</th>
                            <th>Register Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 50px !important;"></th>
                            <th>Name</th>
                            <th>Hostel</th>
                            <th>Room</th>
                            <th>Register Date</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.Name}}</td>
                            <td>{{row.HostelName}}</td>
                            <td>{{row.RoomName}}</td>
                            <td>{{row.DATE}}</td>
                            <td class="">
                               <!--  <a ng-click="edit_data(row)" data-uk-modal="{target:'#modal_overflow'}"><i class="md-icon material-icons">&#xE254;</i></a> -->
                                <a class="ts_remove_row" ng-click="deleteAllocation(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>