<style type="text/css">
    .parsley-row{
        margin-top: 20px;
    }
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
        font-size: 16px !important;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
    <h3 class="heading_a uk-margin-bottom">Visitor</h3>
    <form id="form_validation" name="inputForm" ng-submit="updateVisitorDetails()" novalidate>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid"> 
                    <div class="uk-width-medium-1-3 parsley-row">
                        <input type="hidden" ng-model="getVisitorId">
                        <br ng-if="!visitor.selectize_usertype">
                        <label ng-if="visitor.selectize_usertype" style="font-size: 12px;color: #727272;">Resident Type<span class="req"></span></label>
                        <input type="text" config="selectize_usertype_config" options="selectize_usertype_options" ng-model="visitor.selectize_usertype" selectize />
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row" ng-if="visitor.selectize_usertype=='Employee'">
                        <br ng-if="!wizard.dept_id">
                        <label ng-if="wizard.dept_id" style="font-size: 12px;color: #727272;">Department<span class="req"></span></label>
                        <input type="text" config="selectize_deptId_config" options="selectize_deptId_options" ng-model="wizard.dept_id" selectize />
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row" ng-if="visitor.selectize_usertype=='Employee'">
                        <br ng-if="!visitor.selectize_employee">
                        <label ng-if="visitor.selectize_employee" style="font-size: 12px;color: #727272;">Employee<span class="req"></span></label>
                        <input type="text" config="selectize_employee_config" options="selectize_employee_options" ng-model="visitor.selectize_employee" required selectize />
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row" ng-if="visitor.selectize_usertype=='Student'">
                        <br ng-if="!wizard.course_id">
                        <label for="religion" ng-if="wizard.course_id" style="font-size: 12px;color: #727272;">Course<span class="req"></span></label>
                        <input type="text" config="selectize_courseId_config" options="selectize_courseId_options" ng-model="wizard.course_id" selectize />
                    </div>
                   
                    <div class="uk-width-medium-1-3 parsley-row" ng-if="visitor.selectize_usertype=='Student'">
                        <br ng-if="!wizard.batchId">
                        <label for="religion" ng-if="wizard.batchId" style="font-size: 12px;color: #727272;">Batch<span class="req"></span></label>
                        <input type="text" config="selectize_batchId_config" options="selectize_batchId_options" ng-model="wizard.batchId" selectize/>
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row" ng-if="visitor.selectize_usertype=='Student'">
                        <br ng-if="!visitor.selectize_student">
                        <label ng-if="visitor.selectize_student" style="font-size: 12px;color: #727272;">Student<span class="req"></span></label>
                        <input type="text" config="selectize_student_config" options="selectize_student_options" ng-model="visitor.selectize_student" selectize required/>
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row">
                        <br ng-if="!visitor.visitorname">
                        <label ng-if="visitor.visitorname" style="font-size: 12px;color: #727272;">Name</label>
                        <input type="text" ng-model="visitor.visitorname" class="md-input" placeholder="Name" md-input required>
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row">
                        <br ng-if="!visitor.relation">
                        <label ng-if="visitor.relation" style="font-size: 12px;color: #727272;">Relation</label>
                        <input type="text" ng-model="visitor.relation" class="md-input" placeholder="Relation" md-input required>
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row">
                        <br ng-if="!visitor.visit_date">
                        <label ng-if="visitor.visit_date" style="font-size: 12px;color: #727272;">Date</label>
                        <input type="text" class="md-input" data-parsley-americandate placeholder="Date" data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="visitor.visit_date"/ required>
                    </div>
                  
                    <div class="uk-width-medium-1-3 parsley-row">
                        <br>
                        <label>Time In</label>
                        <input type="text" class="md-input masked_input" md-input ng-model="visitor.visit_intime" name="timeIn" data-inputmask="'alias': 'hh:mm t'" data-inputmask-showmaskonhover="false" required/>
                    </div>
                    <div class="uk-width-medium-1-3 parsley-row">
                        <br>
                        <label>Time Out</label>
                        <input type="text" class="md-input masked_input" md-input ng-model="visitor.visit_outtime" name="timeIn" data-inputmask="'alias': 'hh:mm t'" data-inputmask-showmaskonhover="false" required/>
                        <!-- <input type="text" class="md-input masked_input" md-input ng-model="visitor.visit_outtime" placeholder="Time Out" required/> -->
                    </div>
                </div><br>
                <div class="uk-margin-top uk-text-right">
                    <button type="button" class="md-btn md-btn-danger md-btn-small" ui-sref="restricted.hostel.visitors">Cancel</button>
                    <button type="submit" class="md-btn md-btn-primary md-btn-small">{{btnStatus}}</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
