<style type="text/css">
    .uk-modal.uk-modal-dialog-replace .uk-modal-content{
        font-size: 16px !important;
    }
</style>
<div id="page_content"  ng-controller="transferCtrl as tblData">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Transfer
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="tblData.dtOptions" dt-column-defs="tblData.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <a ui-sref="restricted.hostel.addTransfer"  class="md-btn md-btn-primary md-btn-small">
                        <i class="uk-icon-plus"></i> Transfer</a>
                    </div>
                     <thead>
                        <tr>
                            <th style="width: 50px !important;">S.No</th>
                            <th>Name</th>
                            <th>From Hostel</th>
                            <th>To Hostel</th>
                            <th>Transfer Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 50px !important;"></th>
                            <th>Name</th>
                            <th>From Hostel</th>
                            <th>To Hostel</th>
                            <th>Transfer Date</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.Name}}</td>
                            <td>{{row.preHostelName}} - {{row.preRoomName}}</td>
                            <td>{{row.HostelName}} - {{row.roomName}}</td>
                            <td>{{row.DATE | momentDate:'DD.MM.YYYY':'DD-MMM-YYYY'}}</td>
                            <td class="">
                                <a ui-sref="restricted.hostel.edit_transfer({id:{{row.PROFILE_ID}}})" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                               <!--  <a ng-click="edit_data(row)" data-uk-modal="{target:'#modal_overflow'}"><i class="md-icon material-icons">&#xE254;</i></a> -->
                                <a class="ts_remove_row" ng-click="deleteAllocation(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>