 <div id="page_content"  ng-controller="vacateCtrl as tblData">
    <div id="page_content_inner">
        <h3 class="heading_a uk-margin-bottom">Vacate
        </h3>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content large-padding">
                <table datatable="ng" dt-options="tblData.dtOptions" dt-column-defs="tblData.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <div class="uk-text-right">
                        <a ui-sref="restricted.hostel.addAacate"  class="md-btn md-btn-primary md-btn-small">
                        <i class="uk-icon-plus"></i> Vacate</a>
                    </div>
                    <thead>
                        <tr>
                            <th style="width: 50px !important;">S.No</th>
                            <th>Resident Type</th>
                            <th>Name</th>
                            <th>Reason</th>
                            <th>Vacate Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 50px !important;"></th>
                            <th>Resident Type</th>
                            <th>Name</th>
                            <th>Reason</th>
                            <th>Vacate Date</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in viewData">
                            <td>{{$index+1}}</td>
                            <td>{{row.RESIDENT_TYPE}}</td>
                            <td>{{row.Name}}</td>
                            <td>{{row.REASON}}</td>
                            <td>{{row.VacateDate}}</td>
                            <td class="">
                                <a ui-sref="restricted.hostel.edit_vacate({id:{{row.ID}}})" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <!-- <a class="ts_remove_row" data-uk-modal="{target:'#modal_overflow'}" ng-click="editVacate(row)"><i class="md-icon material-icons">&#xE254;</i></a> -->
                                <a class="ts_remove_row" ng-click="deleteVacate(row.ID,$index)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>